Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

pre-kubermatic-mla-e2e:
  decorate: true
  labels:
    preset-digitalocean: 'true'
    preset-hetzner: 'true'
    preset-kubeconfig-ci: 'true'
    preset-docker-mirror: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
  ...

pre-kubermatic-konnectivity-e2e:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-kubeconfig-ci: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

pre-kubermatic-cilium-e2e:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-kubeconfig-ci: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

pre-kubermatic-dualstack-e2e:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-kubeconfig-ci: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

pre-kubermatic-etcd-launcher-e2e:
  decorate: true
  labels:
    preset-digitalocean: 'true'
    preset-hetzner: 'true'
    preset-kubeconfig-ci: 'true'
    preset-docker-mirror: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
  ...

pre-kubermatic-nodeport-proxy-e2e:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.18-node-16-kind-0.13-4
      command:
  ...

pre-kubermatic-opa-e2e:
  decorate: true
  labels:
    preset-digitalocean: 'true'
    preset-hetzner: 'true'
    preset-kubeconfig-ci: 'true'
    preset-docker-mirror: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
  ...

pre-kubermatic-expose-strategy-e2e:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.18-node-16-kind-0.13-4
      command:
  ...

Overriding network defaults by defaulting template values
  pkg/handler/v2/networkdefaults/networkdefaults.go
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

debug: .
  pkg/test/dualstack/cloudProviders_dualstack_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

fix lint
  pkg/test/dualstack/cloudProviders_dualstack_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

add licence
  pkg/test/dualstack/egress-validator-daemonset.yaml
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

add licence
  pkg/test/dualstack/cloudProviders.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

check for cloud provider mismatch between node and datacenter
  pkg/resources/machine/machinedeployment.go
  pkg/resources/machine/machinedeployment_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

organize imports
  pkg/resources/machine/machinedeployment_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

add licence
  pkg/resources/machine/machinedeployment_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

run tests in parallel
  pkg/test/dualstack/cloudProviders_dualstack_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

fix spelling
  pkg/test/dualstack/cloudProviders_dualstack_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Fail update validation for unsupported cloud spec changes
  pkg/provider/cloud/aws/provider.go
  pkg/provider/cloud/azure/provider.go
  pkg/provider/cloud/nutanix/provider.go
  pkg/provider/cloud/openstack/provider.go
  pkg/provider/cloud/vsphere/provider.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Use newer 'small' instance in Equinix Metal (still considered legacy though)
  cmd/conformance-tester/pkg/scenarios/packet.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

update tests to kind 0.14
  .prow/api.yaml
  .prow/ccm-migrations.yaml
  .prow/features.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-packet.yaml
  .prow/provider-vsphere.yaml
  .prow/tests.yaml
Due: pre-kubermatic-dualstack-e2e

fix build triggers
  .prow/api.yaml
  .prow/ccm-migrations.yaml
  .prow/features.yaml
  .prow/provider-aws.yaml
Due: pre-kubermatic-dualstack-e2e

update filtering for Kubevirt VMIPresets
  pkg/ee/validation/machine/providers.go
  pkg/handler/common/provider/kubevirt.go
  pkg/handler/v2/provider/kubevirt_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

check for cloud provider mismatch between node and datacenter (#9867)
  pkg/resources/machine/machinedeployment.go
  pkg/resources/machine/machinedeployment_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

restructure seed operator tests
  pkg/controller/operator/seed/reconciler_ce_test.go
  pkg/controller/operator/seed/reconciler_ee_test.go
  pkg/controller/operator/seed/reconciler_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

do not use installer to install CRDs on seeds anymore
  pkg/install/stack/kubermatic-seed/stack.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

automatically update CRDs on seed clusters
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/seed/reconciler.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

gimps
  pkg/controller/operator/seed/reconciler_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

register apiextensionsv1 in sheme
  cmd/kubermatic-operator/main.go
Due: pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

add version label to KKP CRDs
  cmd/kubermatic-installer/cmd_deploy.go
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/seed/reconciler.go
  pkg/install/stack/kubermatic-master/certmanager.go
  pkg/install/stack/kubermatic-master/stack.go
  pkg/install/stack/types.go
  pkg/install/util/crd.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Removing CNI argument unecessary dependency
  pkg/defaulting/cluster.go
  pkg/handler/v2/networkdefaults/networkdefaults.go
  pkg/handler/v2/routes_v2.go
  pkg/resources/resources.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Updating E2E
  pkg/test/e2e/utils/apiclient/client/networkdefaults/get_network_defaults_parameters.go
  pkg/test/e2e/utils/apiclient/client/networkdefaults/get_network_defaults_responses.go
  pkg/test/e2e/utils/apiclient/client/networkdefaults/networkdefaults_client.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Updating swagger
  cmd/kubermatic-api/swagger.json
Due: pre-kubermatic-dualstack-e2e

Adding unit tests for "DefaultClusterNetwork"
  pkg/defaulting/cluster_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

update tests to kind 0.14 (#9870)
  .prow/api.yaml
  .prow/ccm-migrations.yaml
  .prow/features.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-packet.yaml
  .prow/provider-vsphere.yaml
  .prow/tests.yaml
Due: pre-kubermatic-dualstack-e2e

Adjusting tests accordingly
  pkg/handler/v2/networkdefaults/networkdefaults_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

redefine what we mean by gitHash
  Makefile
  pkg/controller/operator/common/resources.go
  pkg/install/util/crd.go
  pkg/util/cli/hello.go
  pkg/version/kubermatic/versions.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Small refactoring
  pkg/handler/v2/networkdefaults/networkdefaults.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

make sure the CRD files already contain the proper version annotation
  hack/ci/deploy.sh
  hack/ci/github-release.sh
  hack/ci/setup-kubermatic-backups-in-kind.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/setup-kubermatic-mla-in-kind.sh
  hack/lib.sh
  hack/local/run-kubermatic-kind.sh
  hack/run-expose-strategy-e2e-test-in-kind.sh
  pkg/controller/operator/common/resources.go
  pkg/install/util/crd.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Load more images in image-loader
  cmd/image-loader/main.go
Due: none

Adding new unit tests for the overriding logic
  pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

add quota filter for Kubevirt VMIPresets (#9808)
  pkg/ee/validation/machine/providers.go
  pkg/handler/common/provider/kubevirt.go
  pkg/handler/v2/provider/kubevirt.go
  pkg/handler/v2/provider/kubevirt_test.go
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Fixing import format
  pkg/defaulting/cluster_test.go
  pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

prevent CRD downgrades
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/seed/controller.go
  pkg/controller/operator/seed/reconciler.go
Due: pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e

Load more images in image-loader (#9871)
  cmd/image-loader/main.go
Due: none

Load more images in image-loader (#9872)
  cmd/image-loader/main.go
Due: none

Path conditions:
  pre-kubermatic-mla-e2e: any of: (go.mod|go.sum|pkg/|.prow.yaml)
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow.yaml)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow.yaml|go.mod).*
  pre-kubermatic-dualstack-e2e: any of: .*(cilium|canal|api|addon|defaults|cni|validation|operator|provider|machine|webhook|crd|.prow.yaml|go.mod|proxy|network).*
  pre-kubermatic-etcd-launcher-e2e: any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)
  pre-kubermatic-nodeport-proxy-e2e: any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)
  pre-kubermatic-opa-e2e: any of: (go.mod|go.sum|pkg/|.prow.yaml)
  pre-kubermatic-expose-strategy-e2e: any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)
