Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

Create external EKS cluster (#8072)
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/v2/external_cluster/external_cluster_test.go
  pkg/provider/kubernetes/external_cluster.go
  pkg/provider/kubernetes/external_cluster_test.go
  pkg/resources/resources.go
  pkg/test/e2e/utils/apiclient/models/e_k_s_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/external_cluster_cloud_spec.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

add tests for cni defaults
  pkg/webhook/cluster/mutation/mutation_test.go
Due: none

add DefaultClusterTemplate to seed
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/main.go
  go.mod
  pkg/apis/kubermatic/v1/cluster_templates.go
  pkg/crd/kubermatic/v1/datacenter.go
  pkg/webhook/cluster/mutation/mutation.go
  pkg/webhook/cluster/mutation/mutation_test.go
Due: none

update docs
  docs/zz_generated.seed.yaml
Due: pre-kubermatic-verify-docs

move and use seed scope for cluster templates
  cmd/seed-controller-manager/main.go
  pkg/apis/kubermatic/v1/cluster_templates.go
  pkg/crd/kubermatic/v1/cluster_templates.go
Due: none

fixing import
  cmd/seed-controller-manager/main.go
Due: none

enable konnectivity by default is feature is enabled
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
  pkg/resources/data.go
Due: none

Add Canal CNI addon v3.20 (#8081)
  addons/canal/canal_v3.20.yaml
  pkg/webhook/cluster/mutation/mutation.go
  pkg/webhook/cluster/mutation/mutation_test.go
  pkg/webhook/cluster/validation/validation.go
  pkg/webhook/cluster/validation/validation_test.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Add support for preset deletion (#8093)
  cmd/kubermatic-api/swagger.json
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/preset/preset_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/preset/delete_preset_parameters.go
  pkg/test/e2e/utils/apiclient/client/preset/delete_preset_responses.go
  pkg/test/e2e/utils/apiclient/client/preset/preset_client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Handle charts with dependencies in CI
  hack/ci/fetch-chart-dependencies.sh
  hack/ci/github-release.sh
  hack/test-chart-rendering.sh
Due: none

add DefaultClusterTemplate to seed (#8089)
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/main.go
  docs/zz_generated.seed.yaml
  go.mod
  pkg/crd/kubermatic/v1/cluster_templates.go
  pkg/crd/kubermatic/v1/datacenter.go
  pkg/webhook/cluster/mutation/mutation.go
  pkg/webhook/cluster/mutation/mutation_test.go
Due: pre-kubermatic-verify-docs

update external controller to support EKS import
  go.mod
  go.sum
  pkg/controller/master-controller-manager/external-cluster/cluster_controller.go
  pkg/crd/kubermatic/v1/external_cluster.go
  pkg/provider/cloud/aws/provider.go
  pkg/provider/cloud/gcp/provider.go
Due: none

switch back to loki-timeout branch
  hack/ci/run-mla-e2e-tests.sh
  hack/ci/setup-kubermatic-mla-in-kind.sh
  hack/ci/setup-mla.sh
Due: none

remove whitespaces
  .prow.yaml
  hack/ci/setup-kubermatic-mla-in-kind.sh
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Set sig/crd label when pkg/crd is changed
  pkg/apis/OWNERS
  pkg/crd/OWNERS
Due: none

change mla tag
  .prow.yaml
  hack/ci/run-mla-e2e-tests.sh
  pkg/test/e2e/mla/mla_test.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

switch mla to the master branch
  hack/ci/setup-mla.sh
Due: none

make lint happy
  hack/ci/setup-mla.sh
Due: none

Delete flatcar update operator if nodes are not schedulable. (#7316)
  pkg/controller/user-cluster-controller-manager/flatcar/flatcar_controller.go
Due: none

change user email to kubermatic
  hack/ci/run-mla-e2e-tests.sh
  hack/ci/setup-kubermatic-mla-in-kind.sh
Due: none

Set sig/crd label when pkg/crd is changed (#8105)
  pkg/apis/OWNERS
  pkg/crd/OWNERS
Due: none

Add proposal for CNI Upgrade Strategies (#8067)
  docs/proposals/cni-upgrade-strategies.md
Due: pre-kubermatic-verify-docs

Add support for CNI type "none"
  pkg/crd/kubermatic/v1/cluster.go
  pkg/webhook/cluster/validation/validation.go
  pkg/webhook/cluster/validation/validation_test.go
Due: none

Set GOARCH in Makefile to allow cross-compiling
  Makefile
Due: none

Disable profiling on control plane components
  pkg/resources/apiserver/deployment.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/scheduler/deployment.go
Due: none

Adhere to hack/ coding standards
  hack/ci/fetch-chart-dependencies.sh
  hack/test-chart-rendering.sh
Due: none

re-render README files
  hack/README.md
  hack/ci/README.md
Due: none

User Cluster MLA e2e test (#7946)
  .prow.yaml
  hack/ci/run-mla-e2e-tests.sh
  hack/ci/setup-kubermatic-mla-in-kind.sh
  hack/ci/setup-mla.sh
  hack/ci/testdata/kubermatic_mla.yaml
  pkg/controller/seed-controller-manager/mla/dashboard_grafana_controller.go
  pkg/controller/seed-controller-manager/mla/dashboard_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/datasource_grafana_controller.go
  pkg/controller/seed-controller-manager/mla/datasource_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/grafana.go
  pkg/controller/seed-controller-manager/mla/mla.go
  pkg/controller/seed-controller-manager/mla/org_grafana_controller.go
  pkg/controller/seed-controller-manager/mla/org_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/org_user_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/user_grafana_controller_test.go
  pkg/test/e2e/mla/mla_test.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator
