Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-e2e-vsphere-ubuntu-1.19, pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.15.1
      command:
      - make
      args:
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.15.1
      command:
      - make
      args:
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 1
        limits:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.4.1
      command:
      - ./hack/ci/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - ./hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.4.1
      command:
      - ./hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-verify-docs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - ./hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golangci/golangci-lint:v1.30.0
      command:
      - make
      args:
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - make
      args:
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
  ...

Add User-Cluster MLA (Monitoring, Logging, and Alerting) Proposal (#6617)
  docs/proposals/images/mla-alertmanager.png
  docs/proposals/images/mla-centralized.png
  docs/proposals/images/mla-cortex.png
  docs/proposals/images/mla-distributed.png
  docs/proposals/images/mla-loki.png
  docs/proposals/user-cluster-mla.md
Due: pre-kubermatic-verify-docs

decreased default opa webhook timeout from 10 to 3 sec (#6710)
  cmd/user-cluster-controller-manager/main.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

code review
  pkg/handler/v2/serviceaccount/sa.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add V2 endpoint to edit main service accounts (#6700)
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/serviceaccount/sa.go
  pkg/handler/v2/serviceaccount/sa_test.go
  pkg/provider/kubernetes/sa.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/mainserviceaccounts_client.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/update_main_service_account_parameters.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/update_main_service_account_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fix operating system decoding on empty operating system spec
  pkg/machine/convert.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add endpoint to delete main service account
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/serviceaccount/sa.go
  pkg/handler/v2/serviceaccount/sa_test.go
  pkg/provider/kubernetes/sa.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/delete_main_service_account_parameters.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/delete_main_service_account_responses.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/mainserviceaccounts_client.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add CRD namespace migration draft proposal
  docs/proposals/crd-namespace-migration.md
Due: pre-kubermatic-verify-docs

add support for -ca-bundle to the s3-exporter
  cmd/s3-exporter/Dockerfile
  cmd/s3-exporter/README.md
  cmd/s3-exporter/main.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

rebuild s3-storeuploader image
  cmd/s3-storeuploader/Dockerfile
  cmd/s3-storeuploader/README.md
  hack/publish-s3-exporter.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

update s3-exporter Helm chart
  charts/s3-exporter/Chart.yaml
  charts/s3-exporter/templates/deployment.yaml
  charts/s3-exporter/values.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart

update backup containers
  charts/kubermatic/static/cleanup-container.yaml
  charts/kubermatic/static/store-container.yaml
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Implement Project-Sync Controller (#6708)
  cmd/master-controller-manager/controllers.go
  codegen/reconcile/main.go
  pkg/api/v1/types.go
  pkg/controller/master-controller-manager/project-sync/OWNERS
  pkg/controller/master-controller-manager/project-sync/controller.go
  pkg/controller/master-controller-manager/project-sync/controller_test.go
  pkg/controller/master-controller-manager/project-sync/doc.go
  pkg/controller/master-controller-manager/project-sync/resources.go
  pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

bump version
  charts/kubermatic/Chart.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

Fix CA bundle handling in S3 uploader (#6721)
  charts/kubermatic/Chart.yaml
  charts/kubermatic/static/cleanup-container.yaml
  charts/kubermatic/static/store-container.yaml
  charts/s3-exporter/Chart.yaml
  charts/s3-exporter/templates/deployment.yaml
  charts/s3-exporter/values.yaml
  cmd/s3-exporter/Dockerfile
  cmd/s3-exporter/README.md
  cmd/s3-exporter/main.go
  cmd/s3-storeuploader/Dockerfile
  cmd/s3-storeuploader/README.md
  docs/zz_generated.kubermaticConfiguration.yaml
  hack/publish-s3-exporter.sh
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Add Kubernetes 1.19.8, improve CI flexibility
  .prow.yaml
  charts/kubermatic/Chart.yaml
  charts/kubermatic/static/master/versions.yaml
  docs/zz_generated.kubermaticConfiguration.yaml
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/kubermatic.yaml
  hack/lib.sh
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Implement UserProjectBinding-Sync controller
  cmd/master-controller-manager/controllers.go
  codegen/reconcile/main.go
  pkg/api/v1/types.go
  pkg/controller/master-controller-manager/user-project-binding-sync/OWNERS
  pkg/controller/master-controller-manager/user-project-binding-sync/controller.go
  pkg/controller/master-controller-manager/user-project-binding-sync/controller_test.go
  pkg/controller/master-controller-manager/user-project-binding-sync/doc.go
  pkg/controller/master-controller-manager/user-project-binding-sync/resources.go
  pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix imports
  pkg/controller/master-controller-manager/user-project-binding-sync/controller_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

support aws spot instancee in the KKP API
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/api/v1/types_test.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
  pkg/test/e2e/utils/apiclient/models/a_w_s_node_spec.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix imports
  pkg/controller/master-controller-manager/project-sync/controller_test.go
  pkg/controller/master-controller-manager/user-project-binding-sync/controller_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

support aws spot instancee in the KKP API (#6726)
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/api/v1/types_test.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
  pkg/test/e2e/utils/apiclient/models/a_w_s_node_spec.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add Kubernetes 1.19.8, improve CI flexibility (#6682)
  .prow.yaml
  charts/kubermatic/Chart.yaml
  charts/kubermatic/static/master/versions.yaml
  docs/zz_generated.kubermaticConfiguration.yaml
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/kubermatic.yaml
  hack/lib.sh
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Add multus to accessible addons
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add multus to accessible addons
  cmd/kubermatic-api/options.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update docs
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-verify-docs

add endpoint to delete main service account (#6717)
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/serviceaccount/sa.go
  pkg/handler/v2/serviceaccount/sa_test.go
  pkg/provider/kubernetes/sa.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/delete_main_service_account_parameters.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/delete_main_service_account_responses.go
  pkg/test/e2e/utils/apiclient/client/mainserviceaccounts/mainserviceaccounts_client.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update charts
  charts/kubermatic/static/master/accessible-addons.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

Bump chart version
  charts/kubermatic/Chart.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

Init commit to support Application Credentials
  cmd/conformance-tests/main.go
  cmd/kubermatic-api/swagger.json
  docs/zz_generated.addondata.go.txt
  hack/run-conformance-tests.sh
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/common/provider/openstack.go
  pkg/handler/v1/provider/openstack.go
  pkg/handler/v2/preset/preset_test.go
  pkg/provider/cloud/openstack/provider.go
  pkg/provider/kubernetes/credentials.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/kubernetes/preset_test.go
  pkg/resources/cloudconfig/configmap.go
  pkg/resources/credentials.go
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/resources.go
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-machine-controller.yaml
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_availability_zones_parameters.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_networks_parameters.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_security_groups_parameters.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_sizes_parameters.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_subnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_tenants_parameters.go
  pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  pkg/validation/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Fix missing secret definition in deployment.go
  hack/ci/run-conformance-tests.sh
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-machine-controller.yaml
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fix broken s3-storeuploader CA bundle flag
  charts/kubermatic/static/cleanup-container.yaml
  charts/kubermatic/static/store-container.yaml
  cmd/s3-storeuploader/README.md
  cmd/s3-storeuploader/main.go
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

update chart version for kubermatic chart
  charts/kubermatic/Chart.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

Fix broken s3 storeuploader and broken cluster creation (#6732)
  charts/kubermatic/Chart.yaml
  charts/kubermatic/static/cleanup-container.yaml
  charts/kubermatic/static/store-container.yaml
  cmd/s3-storeuploader/README.md
  cmd/s3-storeuploader/main.go
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify-charts: any of: ^charts/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(cmd|codegen|hack|pkg|charts)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^charts/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(cmd|codegen|hack|pkg|docs)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-dependencies: any of: ^(cmd|codegen|hack|pkg|go.mod|go.sum)/
  pre-kubermatic-license-validation: any of: ^go.(mod|sum)$
  pre-kubermatic-prometheus-rules-validation: any of: charts/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: pkg/resources/prometheus
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-legacy: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.19: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (hack|charts/kubermatic|pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
