Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.23, pre-kubermatic-e2e-nutanix-centos-1.23, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-appcatalog-aikit, pre-kubermatic-appcatalog-argocd, pre-kubermatic-appcatalog-cluster-autoscaler, pre-kubermatic-appcatalog-cert-manager, pre-kubermatic-appcatalog-falco, pre-kubermatic-appcatalog-flux, pre-kubermatic-appcatalog-k8sgpt-operator, pre-kubermatic-appcatalog-kube-vip, pre-kubermatic-appcatalog-kubevirt, pre-kubermatic-appcatalog-metallb, pre-kubermatic-appcatalog-nginx-ingress-controller, pre-kubermatic-appcatalog-nvidia-gpu-operator, pre-kubermatic-appcatalog-trivy, pre-kubermatic-appcatalog-trivy-operator, pre-kubermatic-ccm-migration-gcp-e2e, pre-kubermatic-ccm-migration-azure-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-ipam-e2e, pre-kubermatic-cluster-backup-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan, pre-kubermatic-test-build-utility-images, pre-kubermatic-test-addon-upgrades

Path conditions:
  pre-kubermatic-test: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: (go.mod|go.sum|cmd/|codegen/|hack/|pkg/))
  pre-kubermatic-test-integration: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: (go.mod|go.sum|cmd/|codegen/|hack/|pkg/))
  pre-kubermatic-lint: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: ^(cmd/|codegen/|hack/|pkg/|go.mod|go.sum))
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)) or (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow/))
  pre-kubermatic-etcd-launcher-e2e: (any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)) or (any of: (cmd/etcd-launcher/|pkg/|.prow/))
  pre-kubermatic-nodeport-proxy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-opa-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-expose-strategy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/|charts/mla/))
  pre-kubermatic-appcatalog-aikit: any of: (pkg/ee/default-application-catalog/aikit-app.yaml)
  pre-kubermatic-appcatalog-argocd: any of: (pkg/ee/default-application-catalog/argocd-app.yaml)
  pre-kubermatic-appcatalog-cluster-autoscaler: any of: (pkg/applicationdefinitions)
  pre-kubermatic-appcatalog-cert-manager: any of: (pkg/ee/default-application-catalog/cert-manager-app.yaml)
  pre-kubermatic-appcatalog-falco: any of: (pkg/ee/default-application-catalog/falco-app.yaml)
  pre-kubermatic-appcatalog-flux: any of: (pkg/ee/default-application-catalog/flux2-app.yaml)
  pre-kubermatic-appcatalog-k8sgpt-operator: any of: (pkg/ee/default-application-catalog/k8sgpt-app.yaml)
  pre-kubermatic-appcatalog-kube-vip: any of: (pkg/ee/default-application-catalog/kube-vip-app.yaml)
  pre-kubermatic-appcatalog-kubevirt: any of: (pkg/ee/default-application-catalog/kubevirt-app.yaml)
  pre-kubermatic-appcatalog-metallb: any of: (pkg/ee/default-application-catalog/metallb-app.yaml)
  pre-kubermatic-appcatalog-nginx-ingress-controller: any of: (pkg/ee/default-application-catalog/nginx-app.yaml)
  pre-kubermatic-appcatalog-nvidia-gpu-operator: any of: (pkg/ee/default-application-catalog/nvidia-gpu-operator-app.yaml)
  pre-kubermatic-appcatalog-trivy: any of: (pkg/ee/default-application-catalog/trivy-app.yaml)
  pre-kubermatic-appcatalog-trivy-operator: any of: (pkg/ee/default-application-catalog/trivy-operator-app.yaml)
  pre-kubermatic-ccm-migration-gcp-e2e: any of: (pkg/provider/cloud/gcp/|pkg/resources/cloudcontroller/gcp|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-ccm-migration-azure-e2e: any of: (addons/azure-cloud-node-manager/|pkg/provider/cloud/azure/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-dualstack-e2e-aws-cilium: any of: .*(cilium|canal|dualstack|addon|cni|provider|machine|webhook|.prow|go.mod|proxy|network).*
  pre-kubermatic-dualstack-e2e-aws-canal: any of: .*(cilium|canal|dualstack|addon|cni|provider|machine|webhook|.prow|go.mod|proxy|network).*
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow/)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow|go.mod).*
  pre-kubermatic-ipam-e2e: any of: (pkg/controller/seed-controller-manager/ipam/|pkg/webhook/ipampool/|addons/metallb/|pkg/test/e2e/ipam/)
  pre-kubermatic-cluster-backup-e2e: any of: pkg/ee/cluster-backup/
  pre-kubermatic-e2e-kind-test: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow/)
  pre-kubermatic-trivy-scan: any of: (Dockerfile|go.mod|.prow/)
  pre-kubermatic-test-build-utility-images: any of: (hack/release-sidecar-images.sh|hack/images/|cmd/(alertmanager-authorization-server|http-prober|s3-exporter)/)
  pre-kubermatic-test-addon-upgrades: any of: (addons/|pkg/test/addon|pkg/addon|pkg/controller/seed-controller-manager/addon.*)

delete orphaned userProjectBinding
  pkg/controller/master-controller-manager/user-project-binding/controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

address review comments
  pkg/controller/master-controller-manager/user-project-binding/controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Add Kube-OVN CRDs for local KubeVirt setup
  charts/local-kubevirt/crds/customresourcedefinition-subnets.kubeovn.io.yaml
  charts/local-kubevirt/crds/customresourcedefinition-vpcs.kubeovn.io.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-cilium-e2e

add missing boilerplates
  charts/local-kubevirt/crds/customresourcedefinition-subnets.kubeovn.io.yaml
  charts/local-kubevirt/crds/customresourcedefinition-vpcs.kubeovn.io.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-cilium-e2e

feat: Allow setting Kyverno enforcement
  cmd/seed-controller-manager/wrappers_ee.go
  pkg/controller/util/cluster.go
  pkg/controller/util/cluster_test.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/ee/kyverno/controller.go
  pkg/mutation/cluster/mutation.go
  pkg/webhook/cluster/validation/validation.go
  sdk/apis/kubermatic/v1/configuration.go
  sdk/apis/kubermatic/v1/datacenter.go
  sdk/apis/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

fix linter
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/controller/util/cluster_test.go
  pkg/ee/kyverno/controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

feat: enhance local kind installation idempotency (#15185)
  cmd/kubermatic-installer/cmd_local.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

Add Kube-OVN CRDs for local KubeVirt setup (#15197)
  charts/local-kubevirt/crds/customresourcedefinition-subnets.kubeovn.io.yaml
  charts/local-kubevirt/crds/customresourcedefinition-vpcs.kubeovn.io.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-cilium-e2e

Add MachineController resource overrides support
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/machinecontroller/webhook.go
  pkg/resources/resources.go
  sdk/apis/kubermatic/v1/cluster.go
  sdk/apis/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

fix undefined reference to md name
  pkg/controller/user-cluster-controller-manager/resources/resources/machine-controller/role.go
  pkg/controller/user-cluster-controller-manager/resources/resources/machine-controller/rolebinding.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-e2e-kind-test

Use for to ensure backward compatibility
  pkg/resources/machinecontroller/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-e2e-kind-test

Add MachineController resource overrides support (#15202)
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/controller/user-cluster-controller-manager/resources/resources/machine-controller/role.go
  pkg/controller/user-cluster-controller-manager/resources/resources/machine-controller/rolebinding.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/machinecontroller/webhook.go
  pkg/resources/resources.go
  sdk/apis/kubermatic/v1/cluster.go
  sdk/apis/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Upgrade Helm to v3.19.0
  go.mod
  go.sum
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-opa-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-trivy-scan

upgrade opentelemetry
  go.mod
  go.sum
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-opa-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-trivy-scan

upgrade otel stdout exporter
  go.mod
  go.sum
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-opa-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-trivy-scan

Bump oauth2-proxy to appversion v7.13.0
  charts/iap/Chart.yaml
  charts/iap/test/values.custom-tls-secret.yaml.out
  charts/iap/test/values.example.yaml.out
  charts/iap/values.yaml
Due: pre-kubermatic-test-helm-charts

support resizer and snapshotter in the kubevirt csi driver
  pkg/resources/csi/kubevirt/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

add status updates for policy binding controller
  pkg/ee/policy-binding-controller/controller.go
  pkg/ee/policy-binding-controller/controller_test.go
  sdk/apis/kubermatic/v1/policy_binding.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

[release/v2.28] Add omitempty to component settings fields to allow partial configuration (#15191)
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  sdk/apis/kubermatic/v1/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

[release/v2.29] Add omitempty to component settings fields to allow partial configuration (#15192)
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  sdk/apis/kubermatic/v1/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

[release/v2.27] Add omitempty to component settings fields to allow partial configuration (#15193)
  pkg/apis/kubermatic/v1/cluster.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

update boilerplate fix
  pkg/ee/policy-binding-controller/controller_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

[release/v2.27] Synchronize OWNERS_ALIASES file with Github teams (#15133)
  OWNERS_ALIASES
Due: none

[release/v2.28] Synchronize OWNERS_ALIASES file with Github teams (#15134)
  OWNERS_ALIASES
Due: none

[release/v2.29] Synchronize OWNERS_ALIASES file with Github teams (#15135)
  OWNERS_ALIASES
Due: none

fix tests lint issue
  pkg/ee/policy-binding-controller/controller_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

[release/v2.29] fix: operating-system-manager remove buggy empty args (#15190)
  pkg/resources/operatingsystemmanager/deployment.go
  pkg/resources/operatingsystemmanager/deployment_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

[release/v2.27] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v2.28] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v2.29] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Fix cluster-autoscaler permissions
  addons/cluster-autoscaler/_header.txt
  addons/cluster-autoscaler/cluster-autoscaler.yaml
  pkg/applicationdefinitions/system-applications/cluster-autoscaler.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-appcatalog-cluster-autoscaler, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades

rename condition reasons
  pkg/ee/policy-binding-controller/controller.go
  pkg/ee/policy-binding-controller/controller_test.go
  sdk/apis/kubermatic/v1/policy_binding.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Add status conditions and improve status managment for Policy Binding resources (#15209)
  pkg/ee/policy-binding-controller/controller.go
  pkg/ee/policy-binding-controller/controller_test.go
  sdk/apis/kubermatic/v1/policy_binding.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Fix cluster-autoscaler permissions (#15213)
  addons/cluster-autoscaler/_header.txt
  addons/cluster-autoscaler/cluster-autoscaler.yaml
  pkg/applicationdefinitions/system-applications/cluster-autoscaler.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-appcatalog-cluster-autoscaler, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades

Fix cluster-autoscaler permissions (#15214)
  addons/cluster-autoscaler/_header.txt
  addons/cluster-autoscaler/cluster-autoscaler.yaml
  pkg/applicationdefinitions/system-applications/cluster-autoscaler.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-appcatalog-cluster-autoscaler, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades
