Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.21, pre-kubermatic-e2e-vsphere-ubuntu-1.21-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.21-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.22, pre-kubermatic-e2e-nutanix-centos-1.22, pre-kubermatic-api-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

pre-kubermatic-test:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-7
      command:
      - make
      args:
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-test-integration:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
    preset-vsphere: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/integration-tests:5-1
      command:
      - make
      args:
      - test-integration
      securityContext:
        privileged: true
      resources:
  ...

pre-kubermatic-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golangci/golangci-lint:v1.43.0
      command:
      - make
      args:
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-simulate-github-release:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-7
      command:
      - ./hack/ci/test-github-release.sh
      resources:
        requests:
          memory: 3Gi
          cpu: 2

pre-kubermatic-test-helm-charts:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
    preset-docker-pull: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-7
      command:
      - ./hack/ci/test-helm-charts.sh
  ...

pre-kubermatic-test-user-ssh-key-agent-multiarch:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-7
      env:
      - name: KUBERMATIC_EDITION
        value: ee
      command:
      - ./hack/ci/run-user-ssh-key-agent-tests.sh
  ...

pre-kubermatic-e2e-aws-ubuntu-1.20:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-docker-mirror: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-vault: 'true'
    preset-repo-ssh: 'true'
    preset-e2e-ssh: 'true'
    preset-kubeconfig-ci: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  ...

pre-kubermatic-e2e-aws-ubuntu-1.21:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-docker-mirror: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-vault: 'true'
    preset-repo-ssh: 'true'
    preset-e2e-ssh: 'true'
    preset-kubeconfig-ci: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  ...

extend patch endpoint for container-runtime migration
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/apis/kubermatic/v1/external_cluster.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/v2/external_cluster/kubeone.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/operations/migrate_kube_one_cluster_to_containerd_parameters.go
  pkg/test/e2e/utils/apiclient/client/operations/migrate_kube_one_cluster_to_containerd_responses.go
  pkg/test/e2e/utils/apiclient/client/operations/operations_client.go
  pkg/test/e2e/utils/apiclient/client/project/patch_external_cluster_parameters.go
  pkg/test/e2e/utils/apiclient/models/kube_one_spec.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

machine controller health check extended
  pkg/controller/seed-controller-manager/kubernetes/health.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

lint fixed
  pkg/controller/seed-controller-manager/kubernetes/health.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

include crd validation in codegen output
  hack/update-codegen.sh
  hack/verify-boilerplate.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e

generate crds for validation package
  pkg/validation/openapi/crd/k8c.io/apps.kubermatic.k8c.io_applicationdefinitions.yaml
  pkg/validation/openapi/crd/k8c.io/apps.kubermatic.k8c.io_applicationinstallations.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_addonconfigs.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_addons.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_admissionplugins.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_alertmanagers.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_allowedregistries.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clustertemplateinstances.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_constraints.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_constrainttemplates.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_etcdbackupconfigs.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_externalclusters.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_kubermaticsettings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_mlaadminsettings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_projects.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_rulegroups.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_userprojectbindings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_users.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_usersshkeys.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add generic CRD validation
  go.mod
  pkg/validation/openapi/openapi.go
  pkg/validation/openapi/openapi_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add documentation for openapi crd validation
  docs/cluster-defaulting-validation.md
Due: pre-kubermatic-cilium-e2e

fix conflicting go.mod
  go.mod
Due: pre-kubermatic-cilium-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-mla-e2e

fix codegen
  pkg/validation/openapi/crd/k8c.io/apps.kubermatic.k8c.io_applicationdefinitions.yaml
  pkg/validation/openapi/crd/k8c.io/apps.kubermatic.k8c.io_applicationinstallations.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_addonconfigs.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_addons.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_admissionplugins.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_alertmanagers.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_allowedregistries.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clustertemplateinstances.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_constraints.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_constrainttemplates.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_etcdbackupconfigs.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_externalclusters.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_kubermaticsettings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_mlaadminsettings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_projects.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_rulegroups.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_userprojectbindings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_users.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_usersshkeys.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

improve wording
  pkg/validation/openapi/openapi.go
  pkg/validation/openapi/openapi_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Add dual-stack support for GCP firewall rules (#9400)
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/ee/metering/report_config_handler.go
  pkg/handler/routes_v1_admin.go
  pkg/handler/v1/admin/metering.go
  pkg/handler/v1/admin/wrappers_ce.go
  pkg/handler/v1/admin/wrappers_ee.go
  pkg/provider/cloud/gcp/firewall_rules.go
  pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  pkg/test/e2e/utils/apiclient/client/admin/list_metering_report_configurations_parameters.go
  pkg/test/e2e/utils/apiclient/client/admin/list_metering_report_configurations_responses.go
  pkg/test/e2e/utils/apiclient/models/metering_report_configurations.go
  pkg/validation/metering.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add generic CRD validation (#9333)
  docs/cluster-defaulting-validation.md
  go.mod
  hack/update-codegen.sh
  hack/verify-boilerplate.sh
  pkg/validation/openapi/crd/k8c.io/apps.kubermatic.k8c.io_applicationdefinitions.yaml
  pkg/validation/openapi/crd/k8c.io/apps.kubermatic.k8c.io_applicationinstallations.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_addonconfigs.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_addons.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_admissionplugins.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_alertmanagers.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_allowedregistries.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clustertemplateinstances.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_constraints.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_constrainttemplates.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_etcdbackupconfigs.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_externalclusters.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_kubermaticsettings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_mlaadminsettings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_projects.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_rulegroups.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_userprojectbindings.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_users.yaml
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_usersshkeys.yaml
  pkg/validation/openapi/openapi.go
  pkg/validation/openapi/openapi_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Ability to toggle user-ssh-keys-agent
  cmd/user-ssh-keys-agent/README.md
  hack/run-user-cluster-controller-manager.sh
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/usersshkeys/deletion.go
  pkg/controller/user-cluster-controller-manager/resources/resources/usersshkeys/networkpolicy.go
  pkg/controller/user-cluster-controller-manager/resources/resources/usersshkeys/rbac.go
  pkg/validation/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Handling new possible case
  pkg/controller/seed-controller-manager/kubernetes/health.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

move allowed registry controller entirely to pkg/ee
  cmd/master-controller-manager/controllers.go
  cmd/master-controller-manager/wrappers_ce.go
  cmd/master-controller-manager/wrappers_ee.go
  pkg/controller/master-controller-manager/allowed-registry-controller/OWNERS
  pkg/controller/master-controller-manager/allowed-registry-controller/controller_ce.go
  pkg/controller/master-controller-manager/allowed-registry-controller/doc.go
  pkg/ee/allowed-registry-controller/controller.go
  pkg/ee/allowed-registry-controller/doc.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

error logged
  pkg/controller/seed-controller-manager/kubernetes/health.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

remove legacy owner-remover tool
  Dockerfile
  cmd/owner-remover/README.md
  cmd/owner-remover/main.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e

Add preset sync controller
  cmd/master-controller-manager/controllers.go
  codegen/reconcile/main.go
  pkg/api/v1/types.go
  pkg/controller/master-controller-manager/preset-synchronizer/OWNERS
  pkg/controller/master-controller-manager/preset-synchronizer/controller.go
  pkg/controller/master-controller-manager/preset-synchronizer/controller_test.go
  pkg/controller/master-controller-manager/preset-synchronizer/doc.go
  pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

check MC status only if API server is up
  pkg/controller/seed-controller-manager/kubernetes/health.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Enable etcd corruption checks for etcd 3.5 and increase to 4h cycle
  cmd/etcd-launcher/main.go
  pkg/resources/etcd/statefulset.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Use Check instead of Validate
  pkg/resources/etcd/statefulset.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Update fixtures
  pkg/resources/test/fixtures/statefulset-aws-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-aws-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.23.5-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.23.5-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.23.5-etcd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Update testdata for etcd command with corruption flags
  pkg/resources/etcd/testdata/etcd-command-with-corruption-flags.golden.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Enable etcd corruption checks for etcd 3.5 and increase to 4h cycle (#9477)
  cmd/etcd-launcher/main.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/etcd/testdata/etcd-command-with-corruption-flags.golden.sh
  pkg/resources/test/fixtures/statefulset-aws-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-aws-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.23.5-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.23.5-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.23.5-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.23.5-etcd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

skip kubeone-namespace in rbac generation
  pkg/controller/master-controller-manager/rbac/mapper.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Add field for configuring front-loadbalancer service of nodeportproxy
  codegen/example-yaml/main.go
  docs/zz_generated.seed.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/defaults/defaults.go
  pkg/controller/operator/seed/resources/nodeportproxy/service.go
  pkg/resources/nodeportproxy/nodeportproxy.go
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add validation webhook for etcd restores
  cmd/kubermatic-webhook/main.go
  pkg/webhook/etcdrestore/validation.go
  pkg/webhook/etcdrestore/validation_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add licence
  pkg/webhook/etcdrestore/validation_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Enable etcd corruption checks for etcd 3.5 and increase to 4h cycle (#9477)
  cmd/etcd-launcher/main.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/etcd/testdata/etcd-command-with-corruption-flags.golden.sh
  pkg/resources/test/fixtures/statefulset-aws-1.20.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-aws-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.20.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.20.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.20.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Regenerate fixtures
  pkg/resources/test/fixtures/statefulset-aws-1.20.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.20.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.20.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.20.0-etcd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Update generated code
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  codegen/example-yaml/main.go
  docs/zz_generated.seed.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/controller/operator/defaults/defaults.go
  pkg/controller/operator/seed/resources/nodeportproxy/service.go
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-test-helm-charts, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Enable etcd corruption checks for etcd 3.5 and increase to 4h cycle (#9477)
  cmd/etcd-launcher/main.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/etcd/testdata/etcd-command-with-corruption-flags.golden.sh
  pkg/resources/test/fixtures/statefulset-aws-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Allow configuration for front-loadbalancer service of nodeportproxy (#9476)
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  codegen/example-yaml/main.go
  docs/zz_generated.seed.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/defaults/defaults.go
  pkg/controller/operator/seed/resources/nodeportproxy/service.go
  pkg/resources/nodeportproxy/nodeportproxy.go
  pkg/validation/openapi/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-test-helm-charts, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Adding unit tests for metering report configuration API
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/ee/metering/report_config_handler_test.go
  pkg/test/e2e/utils/apiclient/models/metering_report_configuration.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

[release/v2.20] Enable etcd corruption checks for etcd 3.5 and increase to 4h cycle (#9480)
  cmd/etcd-launcher/main.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/etcd/testdata/etcd-command-with-corruption-flags.golden.sh
  pkg/resources/test/fixtures/statefulset-aws-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.22.1-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd-externalCloudProvider.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.22.1-etcd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Do not reference GOPATH or go get in dev environment instructions (#9416)
  README.md
Due: none

Allow configuration for front-loadbalancer service of nodeportproxy
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  cmd/example-yaml-generator/main.go
  docs/zz_generated.seed.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/defaults/defaults.go
  pkg/controller/operator/seed/resources/nodeportproxy/service.go
  pkg/resources/nodeportproxy/nodeportproxy.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-test-helm-charts, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.22-ce, pre-kubermatic-api-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Integrate Code Review comment
  docs/proposals/kubevirt-node-placement.md
Due: none

Proposal for Kubevirt Node Placement (#9283)
  docs/proposals/images/kubevirt-vm-placement.png
  docs/proposals/kubevirt-node-placement.md
Due: none

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.21: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.21-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.21-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.22: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.22: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow.yaml)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow.yaml|go.mod).*
  pre-kubermatic-etcd-launcher-e2e: any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)
  pre-kubermatic-nodeport-proxy-e2e: any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)
  pre-kubermatic-opa-e2e: any of: (go.mod|go.sum|pkg/|.prow.yaml)
  pre-kubermatic-expose-strategy-e2e: any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: any of: (go.mod|go.sum|pkg/|.prow.yaml)
