Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 500m
        limits:
          memory: 2.5Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
      env:
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-docs:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.23.6
      command:
      - make
      args:
      - -C
      - api
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/dep:0.5.4-2
      command:
      - make
      args:
      - -C
      - api
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-license-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.2.1-1
      command:
      - make
      args:
      - -C
      - api
      - license-validation
      env:
      - name: KUBERMATIC_EDITION
        value: ee

Fix error handling in collectAddon (#5626)
  pkg/collectors/addon.go
Due: none

Improved stability of dc e2e tests
  pkg/test/e2e/api/dc_test.go
  pkg/test/e2e/api/runner.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

add GNU tar to util image, bump dependencies (#5678)
  .prow.yaml
  charts/kubermatic/Chart.yaml
  charts/kubermatic/values.yaml
  charts/logging/kibana/Chart.yaml
  charts/logging/kibana/values.yaml
  charts/minio/Chart.yaml
  charts/minio/values.yaml
  charts/monitoring/alertmanager/Chart.yaml
  charts/monitoring/alertmanager/values.yaml
  charts/monitoring/grafana/Chart.yaml
  charts/monitoring/grafana/values.yaml
  charts/monitoring/karma/Chart.yaml
  charts/monitoring/karma/values.yaml
  charts/monitoring/prometheus/Chart.yaml
  charts/monitoring/prometheus/values.yaml
  containers/util/Dockerfile
  containers/util/release.sh
  hack/ci/ci-github-release.sh
  pkg/controller/master-controller-manager/seed-proxy/resources.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Update conformance test with latest k8s versions (#5675)
  cmd/conformance-tests/main.go
Due: none

Improved error logs for flaky cluster rbac test
  pkg/test/e2e/api/cluster_rbac_test.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Removed flaky dc e2e cleanup
  pkg/test/e2e/api/dc_test.go
  pkg/test/e2e/api/runner.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

new endpoint v2 to patch cluster (#5677)
  cmd/kubermatic-api/swagger.json
  pkg/handler/common/cluster.go
  pkg/handler/v1/cluster/cluster.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/project/patch_cluster_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/project/patch_cluster_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/project/project_client.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

added get with retry to dc e2e to improve stability
  pkg/test/e2e/api/dc_test.go
  pkg/test/e2e/api/runner.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

bump chart versions
  charts/backup/velero/Chart.yaml
  charts/cert-manager/Chart.yaml
  charts/certs/Chart.yaml
  charts/iap/Chart.yaml
  charts/kubermatic-operator/Chart.yaml
  charts/kubermatic/Chart.yaml
  charts/kubernetes-dashboard/Chart.yaml
  charts/logging/elasticsearch/Chart.yaml
  charts/logging/fluentbit/Chart.yaml
  charts/logging/kibana/Chart.yaml
  charts/logging/loki/Chart.yaml
  charts/logging/promtail/Chart.yaml
  charts/minio/Chart.yaml
  charts/monitoring/alertmanager/Chart.yaml
  charts/monitoring/blackbox-exporter/Chart.yaml
  charts/monitoring/grafana/Chart.yaml
  charts/monitoring/helm-exporter/Chart.yaml
  charts/monitoring/karma/Chart.yaml
  charts/monitoring/kube-state-metrics/Chart.yaml
  charts/monitoring/node-exporter/Chart.yaml
  charts/monitoring/prometheus/Chart.yaml
  charts/nginx-ingress-controller/Chart.yaml
  charts/nodeport-proxy/Chart.yaml
  charts/oauth/Chart.yaml
  charts/s3-exporter/Chart.yaml
Due: none

define basic create-only e2e tests for the CE
  .prow.yaml
  hack/ci/ci-setup-kubermatic-in-kind.sh
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

use Go 1.14
  .prow.yaml
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix list cluster endpoint
  pkg/handler/v1/common/request.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/routes_v2.go
Due: none

fix list cluster endpoint (#5680)
  pkg/handler/v1/common/request.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/routes_v2.go
Due: none

Fix for panic when user/settings watch connection closes
  pkg/handler/websocket/common.go
  pkg/handler/websocket/settings.go
  pkg/handler/websocket/user.go
Due: none

updated changelog for v2.14.3
  CHANGELOG.md
Due: none

updated changelog for v2.13.7
  CHANGELOG.md
Due: none

updated changelog for v2.12.9
  CHANGELOG.md
Due: none

changelog for v2.12.9, v2.13.7, v2.14.3 (#5682)
  CHANGELOG.md
Due: none

code review
  pkg/handler/websocket/common.go
  pkg/handler/websocket/settings.go
  pkg/handler/websocket/user.go
Due: none

use k8s 1.18.6 for testing
  .prow.yaml
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

docs/release-process.md: merge Kamil's checklist
  docs/release-process.md
Due: pre-kubermatic-verify-docs

use CE-compatible seed name in API e2e tests
  pkg/test/e2e/api/admin_test.go
  pkg/test/e2e/api/cluster_rbac_test.go
  pkg/test/e2e/api/dc_test.go
  pkg/test/e2e/api/digitalocean_test.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Update OWNER_ALIASES to include irozzo-1A
  OWNERS_ALIASES
Due: none

Update OWNER_ALIASES to include irozzo-1A (#5684)
  OWNERS_ALIASES
Due: none

docs/release-process.md: merge Kamil's checklist (#4835)
  docs/release-process.md
Due: pre-kubermatic-verify-docs

Fix for panic when user/settings watch connection closes (#5681)
  pkg/handler/websocket/common.go
  pkg/handler/websocket/settings.go
  pkg/handler/websocket/user.go
Due: none

Define basic create-only e2e tests for the CE (#5596)
  .prow.yaml
  hack/ci/ci-setup-kubermatic-in-kind.sh
  pkg/test/e2e/api/admin_test.go
  pkg/test/e2e/api/cluster_rbac_test.go
  pkg/test/e2e/api/dc_test.go
  pkg/test/e2e/api/digitalocean_test.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-coreos-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-coreos-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-coreos-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/
