Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-e2e-vsphere-ubuntu-1.19, pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify-charts: any of: ^charts/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(cmd|codegen|hack|pkg|charts)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^charts/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(cmd|codegen|hack|pkg|docs)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-dependencies: any of: ^(cmd|codegen|hack|pkg|go.mod|go.sum)/
  pre-kubermatic-license-validation: any of: ^go.(mod|sum)$
  pre-kubermatic-prometheus-rules-validation: any of: charts/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: pkg/resources/prometheus
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-legacy: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.19: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (hack|charts/kubermatic|pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/

update hetznercloud/hcloud to 1.23.1 (#6249)
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

update to sprig v3
  cmd/node-resource-documenter/main.go
  codegen/reconcile/main.go
  go.mod
  go.sum
  pkg/addon/template.go
  pkg/controller/seed-controller-manager/openshift/resources/controlplane_configmap.go
  pkg/controller/seed-controller-manager/openshift/resources/kube_controller_manager.go
  pkg/controller/seed-controller-manager/openshift/resources/oauth.go
  pkg/controller/seed-controller-manager/openshift/resources/openshift_controller_manager.go
  pkg/resources/etcd/cronjob.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/prometheus/configmap.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

update ec2-instances-info to 2020-11-10 (#6242)
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

fix installer not being able to test certificates
  cmd/kubermatic-installer/cmd_deploy.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add changelog for 2.14.9
  CHANGELOG.md
Due: none

add changelog for 2.15.5
  CHANGELOG.md
Due: none

mark unused parameter as such
  cmd/conformance-tests/scenarios_alibaba.go
  cmd/conformance-tests/scenarios_azure.go
  cmd/conformance-tests/scenarios_digitalocean.go
  cmd/conformance-tests/scenarios_gcp.go
  cmd/conformance-tests/scenarios_hetzner.go
  cmd/conformance-tests/scenarios_kubevirt.go
  cmd/conformance-tests/scenarios_openstack.go
  cmd/conformance-tests/scenarios_packet.go
  cmd/conformance-tests/scenarios_vsphere.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fix installer not being able to test certificates (#6250)
  cmd/kubermatic-installer/cmd_deploy.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add changelogs for 2.14.9 and 2.15.5 (#6251)
  CHANGELOG.md
Due: none

update to sprig v3 (#6239)
  cmd/node-resource-documenter/main.go
  codegen/reconcile/main.go
  go.mod
  go.sum
  pkg/addon/template.go
  pkg/controller/seed-controller-manager/openshift/resources/controlplane_configmap.go
  pkg/controller/seed-controller-manager/openshift/resources/kube_controller_manager.go
  pkg/controller/seed-controller-manager/openshift/resources/oauth.go
  pkg/controller/seed-controller-manager/openshift/resources/openshift_controller_manager.go
  pkg/resources/etcd/cronjob.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/prometheus/configmap.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add support for retry a given number of times and use exponential backoff in http test framework
  pkg/test/e2e/api/credentials_test.go
  pkg/test/e2e/api/runner.go
  pkg/test/e2e/api/utils/http.go
  pkg/test/e2e/api/utils/http_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

added proper gatekeeper namespace
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/namespace.go
  pkg/resources/gatekeeper/deployment.go
  pkg/resources/resources.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

update minor Go dependencies
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

update minor Go dependencies (#6261)
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

code review fixes
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

constraint controller
  cmd/user-cluster-controller-manager/main.go
  pkg/api/v1/types.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/doc.go
  pkg/handler/test/fake_schema.go
  pkg/handler/test/helper.go
  pkg/handler/v2/constraint/constraint_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fix test name
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fix for rbac and namespace
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
  pkg/resources/usercluster/rbac.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

regenerated fixtures
  pkg/resources/test/fixtures/deployment-aws-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-apiserver.yaml
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Constraint controller (#6224)
  cmd/user-cluster-controller-manager/main.go
  pkg/api/v1/types.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/doc.go
  pkg/handler/test/fake_schema.go
  pkg/handler/test/helper.go
  pkg/handler/v2/constraint/constraint_test.go
  pkg/resources/test/fixtures/deployment-aws-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.17.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.18.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-apiserver.yaml
  pkg/resources/usercluster/rbac.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

v2 endpoints to get Hetzner and Digitalocean instance sizes
  cmd/kubermatic-api/swagger.json
  pkg/handler/common/provider/digitalocean.go
  pkg/handler/common/provider/hetzner.go
  pkg/handler/v1/provider/digitalocean.go
  pkg/handler/v1/provider/hetzner.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/provider/digitalocean.go
  pkg/handler/v2/provider/hetzner.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/digitalocean/digitalocean_client.go
  pkg/test/e2e/api/utils/apiclient/client/digitalocean/list_digitalocean_sizes_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/digitalocean/list_digitalocean_sizes_no_credentials_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/hetzner/hetzner_client.go
  pkg/test/e2e/api/utils/apiclient/client/hetzner/list_hetzner_sizes_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/hetzner/list_hetzner_sizes_no_credentials_v2_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

v2 endpoints to get Hetzner and Digitalocean instance sizes (#6262)
  cmd/kubermatic-api/swagger.json
  pkg/handler/common/provider/digitalocean.go
  pkg/handler/common/provider/hetzner.go
  pkg/handler/v1/provider/digitalocean.go
  pkg/handler/v1/provider/hetzner.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/provider/digitalocean.go
  pkg/handler/v2/provider/hetzner.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/digitalocean/digitalocean_client.go
  pkg/test/e2e/api/utils/apiclient/client/digitalocean/list_digitalocean_sizes_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/digitalocean/list_digitalocean_sizes_no_credentials_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/hetzner/hetzner_client.go
  pkg/test/e2e/api/utils/apiclient/client/hetzner/list_hetzner_sizes_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/hetzner/list_hetzner_sizes_no_credentials_v2_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Replace HTTP/2 CONNECT with more generic Tunneling
  cmd/nodeport-proxy/envoy-manager/main.go
  cmd/nodeport-proxy/lb-updater/main.go
  cmd/nodeport-proxy/lb-updater/main_test.go
  pkg/controller/nodeport-proxy/envoymanager/controller.go
  pkg/controller/nodeport-proxy/envoymanager/controller_test.go
  pkg/controller/nodeport-proxy/envoymanager/resources.go
  pkg/controller/nodeport-proxy/envoymanager/utils.go
  pkg/controller/nodeport-proxy/envoymanager/utils_test.go
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
  pkg/crd/kubermatic/v1/utils.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
  pkg/ee/conversion/helm.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Add Tunneling strategy to the API
  cmd/kubermatic-api/options.go
  pkg/api/v1/types.go
  pkg/controller/master-controller-manager/seed-sync/reconciler.go
  pkg/controller/master-controller-manager/seed-sync/reconciler_test.go
  pkg/controller/operator/common/defaults.go
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/seed-controller-manager/kubernetes/resources_test.go
  pkg/controller/seed-controller-manager/openshift/openshift_controller.go
  pkg/controller/seed-controller-manager/openshift/openshift_controller_test.go
  pkg/controller/seed-controller-manager/openshift/resources.go
  pkg/controller/seed-controller-manager/openshift/resources/oauth.go
  pkg/controller/seed-controller-manager/openshift/resources_test.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/common.go
  pkg/crd/kubermatic/v1/datacenter.go
  pkg/crd/kubermatic/v1/utils.go
  pkg/crd/operator/v1alpha1/configuration.go
  pkg/handler/common/cluster.go
  pkg/handler/routing.go
  pkg/handler/test/hack/hack.go
  pkg/handler/v1/cluster/cluster.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/routing.go
  pkg/resources/address/address.go
  pkg/resources/address/address_test.go
  pkg/resources/apiserver/service.go
  pkg/resources/apiserver/service_test.go
  pkg/resources/openvpn/service.go
  pkg/resources/rancherserver/service.go
  pkg/resources/test/load_files_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Update swagger spec
  cmd/kubermatic-api/swagger.json
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Generate new API client
  pkg/test/e2e/api/utils/apiclient/models/expose_strategy.go
  pkg/test/e2e/api/utils/apiclient/models/seed.go
  pkg/test/e2e/api/utils/apiclient/models/seed_spec.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update login background in Dex
  charts/oauth/theme/bg.svg
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart

Bump chart version
  charts/oauth/Chart.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart

Default to the latest available OpenStack CCM version
  pkg/resources/cloudcontroller/openstack.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

docs: Update adding new K8s version doc
  docs/adding-kubernetes-versions.md
Due: pre-kubermatic-verify-docs
