Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.23, pre-kubermatic-e2e-nutanix-centos-1.23, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

pre-kubermatic-test:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-6
      command:
      - make
      args:
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-test-integration:
  decorate: true
  labels:
    preset-vsphere: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/integration-tests:5-0
      command:
      - make
      args:
      - test-integration
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 4Gi
  ...

pre-kubermatic-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golangci/golangci-lint:v1.43.0
      command:
      - make
      args:
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-simulate-github-release:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-6
      command:
      - ./hack/ci/test-github-release.sh
      resources:
        requests:
          memory: 3Gi
          cpu: 2

pre-kubermatic-test-helm-charts:
  decorate: true
  labels:
    preset-docker-pull: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.12-8
      command:
      - ./hack/ci/test-helm-charts.sh
      env:
  ...

pre-kubermatic-test-user-ssh-key-agent-multiarch:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.12-8
      env:
      - name: KUBERMATIC_EDITION
        value: ee
      command:
      - ./hack/ci/run-user-ssh-key-agent-tests.sh
      securityContext:
        privileged: true
  ...

pre-kubermatic-e2e-aws-ubuntu-1.20:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-vault: 'true'
    preset-repo-ssh: 'true'
    preset-e2e-ssh: 'true'
    preset-kubeconfig-ci: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

pre-kubermatic-e2e-aws-ubuntu-1.21:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-vault: 'true'
    preset-repo-ssh: 'true'
    preset-e2e-ssh: 'true'
    preset-kubeconfig-ci: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

resources rbac
  pkg/controller/master-controller-manager/rbac/mapper.go
  pkg/controller/master-controller-manager/rbac/sync_resource.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

boilerplate
  pkg/controller/master-controller-manager/rbac/group_roles.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Revert "updates in KubeVirtCloudSpec to inject infraStorageClass info (#9898)" (#9956)
  addons/csi/kubevirt/csi-driver-operator.yaml
  cmd/kubermatic-api/swagger.json
  docs/zz_generated.addondata.go.txt
  pkg/addon/template.go
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/handler/common/provider/kubevirt.go
  pkg/provider/cloud/kubevirt/provider.go
  pkg/provider/cloud/kubevirt/storage.go
  pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

fix lint
  pkg/controller/master-controller-manager/rbac/group_roles.go
  pkg/controller/master-controller-manager/rbac/sync_resource_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

setup field indexer
  pkg/controller/master-controller-manager/rbac/rbac_controller_aggregator.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

update swagger
  cmd/kubermatic-api/swagger.json
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-dualstack-e2e

label selector
  pkg/controller/master-controller-manager/rbac/group_roles.go
  pkg/controller/master-controller-manager/rbac/rbac_controller_aggregator.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v2.16] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v2.17] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v2.18] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v2.19] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v2.20] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

extend user with groups
  pkg/apis/kubermatic/v1/user.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_users.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

set group to user on user save
  pkg/handler/middleware/middleware.go
  pkg/provider/kubernetes/user.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e

returns cluster in err state
  pkg/controller/master-controller-manager/kubeone/controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

[release/v2.20] Synchronize OWNERS_ALIASES file with Github teams (#9969)
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#9964)
  OWNERS_ALIASES
Due: none

[release/v2.19] Synchronize OWNERS_ALIASES file with Github teams (#9968)
  OWNERS_ALIASES
Due: none

[release/v2.18] Synchronize OWNERS_ALIASES file with Github teams (#9967)
  OWNERS_ALIASES
Due: none

[release/v2.17] Synchronize OWNERS_ALIASES file with Github teams (#9966)
  OWNERS_ALIASES
Due: none

[release/v2.16] Synchronize OWNERS_ALIASES file with Github teams (#9965)
  OWNERS_ALIASES
Due: none

wwhrd.yml: add github.com/acomagu/bufpipe to the exeption list (#9941)
  .wwhrd.yml
Due: none

add rocky linux as an os (#9800)
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/controller/user-cluster-controller-manager/node-labeler/api/api.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
  pkg/resources/machine/machinedeployment.go
  pkg/test/e2e/utils/apiclient/models/operating_system_spec.go
  pkg/test/e2e/utils/apiclient/models/rocky_linux_spec.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e

gracefully handle new Seeds that have no CRDs yet in our webhook
  pkg/webhook/seed/validation.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

hack/local/run-kubermatic-kind.sh: install metallb from tag instead of master
  hack/local/run-kubermatic-kind.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e

Add external snapshot components to openstack csi
  addons/csi/openstack/snapshot-controller.yaml
  addons/csi/openstack/snapshot-webhook.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

remove dead webhook
  pkg/controller/user-cluster-controller-manager/resources/resources/csi-snapshotter/webhook.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

fix template
  addons/csi/openstack/snapshot-webhook.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

add registry overwrites
  addons/csi/openstack/snapshot-controller.yaml
  addons/csi/openstack/snapshot-webhook.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

scale down snapshot controller and webhook for openstack and vsphere
  addons/csi/openstack/snapshot-controller.yaml
  addons/csi/openstack/snapshot-crds.yaml
  addons/csi/openstack/snapshot-webhook.yaml
  addons/csi/vsphere/snapshot-controller.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

Add webhook configuration for openstack
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/csi-snapshotter/webhook.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

Add snapshot-class.yaml for nutanix, vsphere and openstack
  addons/default-storage-class/snapshot-class.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

add missing cert secret for openstack snapshot webhook
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

refactor code
  pkg/controller/master-controller-manager/rbac/test/fake/informer_factory.go
  pkg/provider/cloud/vmwareclouddirector/client.go
  pkg/provider/cloud/vmwareclouddirector/provider.go
  pkg/provider/cloud/vmwareclouddirector/reconcile.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e

hack/local/run-kubermatic-kind.sh: install metallb from tag instead of master (#9973)
  hack/local/run-kubermatic-kind.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e

update kube-state-metrics to 2.5.0
  charts/monitoring/kube-state-metrics/Chart.yaml
  charts/monitoring/kube-state-metrics/values.yaml
  pkg/resources/kubestatemetrics/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-test-helm-charts, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

update fixtures
  pkg/resources/test/fixtures/deployment-aws-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-aws-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-aws-1.23.5-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-aws-1.24.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-azure-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-azure-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-azure-1.23.5-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-azure-1.24.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.23.5-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.24.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.23.5-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.24.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.23.5-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.23.5-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.24.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.24.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.23.5-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.23.5-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.24.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.24.0-kube-state-metrics.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Migration for ApplicationInstallations
  pkg/apis/apps.kubermatic/v1/application_installation.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-dualstack-e2e

update integration-test image to use Go 1.18 (#9952)
  .prow/tests.yaml
  hack/images/integration-tests/Dockerfile
  hack/images/integration-tests/release.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-etcd-launcher-e2e: any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)
  pre-kubermatic-nodeport-proxy-e2e: any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)
  pre-kubermatic-opa-e2e: any of: (go.mod|go.sum|pkg/|.prow.yaml)
  pre-kubermatic-expose-strategy-e2e: any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: any of: (go.mod|go.sum|pkg/|.prow.yaml)
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow.yaml)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow.yaml|go.mod).*
  pre-kubermatic-dualstack-e2e: any of: .*(cilium|canal|api|addon|defaults|cni|validation|operator|provider|machine|webhook|crd|.prow.yaml|go.mod|proxy|network).*
