Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-e2e-vsphere-ubuntu-1.19, pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify-charts: any of: ^charts/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(cmd|codegen|hack|pkg|charts)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^charts/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(cmd|codegen|hack|pkg|docs)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-dependencies: any of: ^(cmd|codegen|hack|pkg|go.mod|go.sum)/
  pre-kubermatic-license-validation: any of: ^go.(mod|sum)$
  pre-kubermatic-prometheus-rules-validation: any of: charts/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: pkg/resources/prometheus
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-legacy: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.19: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (hack|charts/kubermatic|pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/

fix tests
  pkg/controller/operator/master/controller.go
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/seed/controller.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/operator/seed/reconciler_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

bump to 1.23.1 to get the metrics fix
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/test/fixtures/deployment-aws-1.17.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-aws-1.17.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-aws-1.18.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-aws-1.18.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-aws-1.19.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-aws-1.19.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-azure-1.17.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-azure-1.17.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-azure-1.18.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-azure-1.18.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-azure-1.19.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-azure-1.19.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.17.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.17.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.18.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.18.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.19.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.19.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.17.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.17.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.18.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.18.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.19.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.19.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.17.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.17.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.18.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.18.0-machine-controller.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-machine-controller-webhook.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-machine-controller.yaml
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

bump Go dependency
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

user cluster coredns pdb label fixed
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add PodNodeSelector admission plugin configuration to the cluster CRD
  api/pkg/crd/kubermatic/v1/cluster.go
  api/pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

add PodNodeSelector admission plugin configuration to the cluster CRD
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

use cloud init for flatcar on aws
  pkg/resources/machine/common.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

use cloud init for flatcar on aws (#6405)
  pkg/resources/machine/common.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add PodNodeSelector admission plugin configuration to the cluster CRD (#6402)
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

add PodNodeSelector admission plugin configuration to the cluster CRD (#6401)
  api/pkg/crd/kubermatic/v1/cluster.go
  api/pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

add azure endpoints for vnets and subnets (#6395)
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/handler/common/provider/azure.go
  pkg/handler/v1/provider/azure_test.go
  pkg/handler/v2/provider/azure.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/azure/azure_client.go
  pkg/test/e2e/utils/apiclient/client/azure/list_azure_subnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/azure/list_azure_subnets_responses.go
  pkg/test/e2e/utils/apiclient/client/azure/list_azure_vnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/azure/list_azure_vnets_responses.go
  pkg/test/e2e/utils/apiclient/models/azure_subnets_list.go
  pkg/test/e2e/utils/apiclient/models/azure_virtual_networks_list.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix govet
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/preset/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add unit tests for preset update
  pkg/handler/v2/preset/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update codegen
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Mark preset provider as inline object
  pkg/crd/kubermatic/v1/preset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Add units tests for preset status update
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/preset/preset_test.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add license header
  pkg/handler/v2/preset/preset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix tests
  pkg/test/e2e/api/utils/apiclient/client/preset/create_preset_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/create_preset_responses.go
  pkg/test/e2e/api/utils/apiclient/client/preset/list_presets_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/list_presets_responses.go
  pkg/test/e2e/api/utils/apiclient/client/preset/list_provider_presets_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/list_provider_presets_responses.go
  pkg/test/e2e/api/utils/apiclient/client/preset/preset_client.go
  pkg/test/e2e/api/utils/apiclient/client/preset/update_preset_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/update_preset_responses.go
  pkg/test/e2e/api/utils/apiclient/client/preset/update_preset_status_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/update_preset_status_responses.go
  pkg/test/e2e/api/utils/apiclient/models/preset.go
  pkg/test/e2e/api/utils/apiclient/models/preset_list.go
  pkg/test/e2e/api/utils/apiclient/models/preset_provider.go
  pkg/test/e2e/api/utils/apiclient/models/provider_type.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update preset structure
  pkg/api/v2/types.go
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/v2/preset/preset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Fix lint
  pkg/handler/v2/preset/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Adjust creation logic
  pkg/handler/v2/preset/preset.go
  pkg/provider/kubernetes/preset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Do not restrict to datacenter if preset does not have it set
  pkg/handler/v2/preset/preset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Revert
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update comment
  pkg/handler/v2/preset/preset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix lint/swagger/codegen/tests
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/preset/preset_test.go
  pkg/test/e2e/api/utils/apiclient/models/preset.go
  pkg/test/e2e/api/utils/apiclient/models/preset_provider.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add endpoint to manage preset status
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/preset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Update swagger
  cmd/kubermatic-api/swagger.json
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix swagger
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/preset/create_preset_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/create_preset_responses.go
  pkg/test/e2e/api/utils/apiclient/client/preset/list_presets_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/list_presets_responses.go
  pkg/test/e2e/api/utils/apiclient/client/preset/list_provider_presets_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/list_provider_presets_responses.go
  pkg/test/e2e/api/utils/apiclient/client/preset/preset_client.go
  pkg/test/e2e/api/utils/apiclient/client/preset/update_preset_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/update_preset_responses.go
  pkg/test/e2e/api/utils/apiclient/client/preset/update_preset_status_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/preset/update_preset_status_responses.go
  pkg/test/e2e/api/utils/apiclient/models/preset.go
  pkg/test/e2e/api/utils/apiclient/models/preset_list.go
  pkg/test/e2e/api/utils/apiclient/models/provider_type.go
  pkg/test/e2e/utils/apiclient/client/kubermatic_api_client.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update comments
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Gen API client
  pkg/test/e2e/utils/apiclient/client/kubermatic_api_client.go
  pkg/test/e2e/utils/apiclient/client/preset/create_preset_parameters.go
  pkg/test/e2e/utils/apiclient/client/preset/create_preset_responses.go
  pkg/test/e2e/utils/apiclient/client/preset/list_presets_parameters.go
  pkg/test/e2e/utils/apiclient/client/preset/list_presets_responses.go
  pkg/test/e2e/utils/apiclient/client/preset/list_provider_presets_parameters.go
  pkg/test/e2e/utils/apiclient/client/preset/list_provider_presets_responses.go
  pkg/test/e2e/utils/apiclient/client/preset/preset_client.go
  pkg/test/e2e/utils/apiclient/client/preset/update_preset_parameters.go
  pkg/test/e2e/utils/apiclient/client/preset/update_preset_responses.go
  pkg/test/e2e/utils/apiclient/client/preset/update_preset_status_parameters.go
  pkg/test/e2e/utils/apiclient/client/preset/update_preset_status_responses.go
  pkg/test/e2e/utils/apiclient/models/preset.go
  pkg/test/e2e/utils/apiclient/models/preset_list.go
  pkg/test/e2e/utils/apiclient/models/preset_provider.go
  pkg/test/e2e/utils/apiclient/models/provider_type.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update fixtures and fix lint
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/v1/presets/credentials_test.go
  pkg/handler/v2/preset/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Group imports
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/preset/preset_test.go
  pkg/provider/kubernetes/preset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix unit tests
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/provider/kubernetes/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add unit tests for create preset endpoint
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/preset/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Update list endpoint logic and add unit tests for list
  pkg/api/v2/types.go
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/v1/presets/credentials_test.go
  pkg/handler/v2/machine/machine_test.go
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/preset/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Fix swagger spec
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Add preset management endpoints
  pkg/crd/kubermatic/v1/preset.go
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration
