Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

[promtail] Commit initial defaults for tests
  charts/logging/promtail/.helmignore
  charts/logging/promtail/tests/default.out.yaml
  charts/logging/promtail/tests/default.yaml
Due: none

Use upstream as dependency chart
  charts/logging/promtail/.helmignore
  charts/logging/promtail/Chart.yaml
  charts/logging/promtail/templates/_helpers.tpl
  charts/logging/promtail/templates/clusterrole.yaml
  charts/logging/promtail/templates/clusterrolebinding.yaml
  charts/logging/promtail/templates/configmap.yaml
  charts/logging/promtail/templates/daemonset.yaml
  charts/logging/promtail/templates/role.yaml
  charts/logging/promtail/templates/rolebinding.yaml
  charts/logging/promtail/templates/serviceaccount.yaml
  charts/logging/promtail/values.yaml
Due: none

Add golden master automated test suite
  charts/logging/promtail/.helmignore
  charts/logging/promtail/test/default.yaml
  charts/logging/promtail/test/default.yaml.out
  charts/logging/promtail/test/test.sh
Due: none

Update values file to upstream schema
  charts/logging/promtail/test/default.yaml.out
  charts/logging/promtail/test/kubermatic.example.ce.yaml.out
  charts/logging/promtail/test/kubermatic.example.ee.yaml.out
  charts/logging/promtail/values.yaml
Due: none

Add tests for example values
  charts/logging/promtail/test/kubermatic.example.ce.yaml
  charts/logging/promtail/test/kubermatic.example.ce.yaml.out
  charts/logging/promtail/test/kubermatic.example.ee.yaml
  charts/logging/promtail/test/kubermatic.example.ee.yaml.out
Due: none

ListExternalClusterMachineDeploymentMetrics endopoint (#8239)
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/external_cluster/node.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/project/list_external_cluster_machine_deployment_metrics_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/list_external_cluster_machine_deployment_metrics_responses.go
  pkg/test/e2e/utils/apiclient/client/project/project_client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

update backup credentials API for multiple destinations
  cmd/kubermatic-api/main.go
  pkg/api/v2/types.go
  pkg/handler/routing.go
  pkg/handler/test/hack/hack.go
  pkg/handler/v2/backupcredentials/backupcredentials.go
  pkg/handler/v2/backupcredentials/backupcredentials_test.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/routing.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

gen swagger and api clients
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/utils/apiclient/models/backup_credentials.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix imports
  pkg/handler/v2/backupcredentials/backupcredentials_test.go
Due: none

upgrade eks nodegroup version
  pkg/handler/v2/external_cluster/eks.go
Due: none

fix
  pkg/handler/v2/backupcredentials/backupcredentials.go
Due: none

update test
  pkg/handler/v2/backupcredentials/backupcredentials.go
  pkg/handler/v2/backupcredentials/backupcredentials_test.go
Due: none

test loki rule group
  hack/ci/setup-mla.sh
  pkg/test/e2e/mla/mla_test.go
Due: none

add seed provider
  pkg/provider/kubernetes/seed.go
  pkg/provider/types.go
Due: none

use seedProvider
  cmd/kubermatic-api/main.go
  cmd/kubermatic-api/options.go
  pkg/handler/routing.go
  pkg/handler/test/hack/hack.go
  pkg/handler/test/helper.go
  pkg/handler/v2/backupcredentials/backupcredentials.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/routing.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix boilerplate
  pkg/provider/kubernetes/seed.go
Due: none

Add tests
  charts/logging/loki/test/default.yaml
  charts/logging/loki/test/default.yaml.out
  charts/logging/loki/test/test.sh
  charts/logging/loki/test/values.example.ce.yaml
  charts/logging/loki/test/values.example.ce.yaml.out
  charts/logging/loki/test/values.example.ee.yaml
  charts/logging/loki/test/values.example.ee.yaml.out
Due: none

Update to Kubernetes v1.20.13, v1.21.7, v1.22.4
  docs/zz_generated.kubermaticConfiguration.yaml
  hack/ci/testdata/crdmigration/seed/05-cluster.yaml
  pkg/addon/template_test.go
  pkg/controller/operator/defaults/defaults.go
  pkg/controller/seed-controller-manager/backup/backup_controller_test.go
  pkg/controller/seed-controller-manager/initialmachinedeployment/controller_test.go
  pkg/controller/seed-controller-manager/kubernetes/resources_integration_test.go
  pkg/handler/test/helper.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/cluster_template/cluster_template_test.go
  pkg/handler/v2/external_cluster/external_cluster_test.go
  pkg/test/e2e/ccm-migration/ccm_migration_suite_test.go
  pkg/test/e2e/expose-strategy/expose_strategy_suite_test.go
Due: pre-kubermatic-verify-docs

Update prow to latest Kubernetes versions
  .prow.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Cleanup unnecessary resources when Konnectivity is enabled
  addons/openvpn/openvpn-client-dep.yaml
  addons/openvpn/vpn-client-cluster-role-binding.yaml
  addons/openvpn/vpn-client-cluster-role.yaml
  addons/openvpn/vpn-client-serviceaccount.yaml
  docs/zz_generated.addondata.go.txt
  pkg/addon/template.go
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/resources/apiserver/deployment.go
  pkg/resources/cloudcontroller/anexia.go
  pkg/resources/cloudcontroller/hetzner.go
  pkg/resources/cloudcontroller/kubevirt.go
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/cloudcontroller/vsphere.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/metrics-server/deployment.go
  pkg/resources/scheduler/deployment.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Skip openvpn addon in the addon controller if Konnectivity is enabled
  addons/openvpn/openvpn-client-dep.yaml
  addons/openvpn/vpn-client-cluster-role-binding.yaml
  addons/openvpn/vpn-client-cluster-role.yaml
  addons/openvpn/vpn-client-serviceaccount.yaml
  docs/zz_generated.addondata.go.txt
  pkg/addon/template.go
  pkg/controller/seed-controller-manager/addon/addon_controller.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Credentials for backup destinations (#8242)
  cmd/kubermatic-api/main.go
  cmd/kubermatic-api/options.go
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/routing.go
  pkg/handler/test/hack/hack.go
  pkg/handler/test/helper.go
  pkg/handler/v2/backupcredentials/backupcredentials.go
  pkg/handler/v2/backupcredentials/backupcredentials_test.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/routing.go
  pkg/provider/kubernetes/seed.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/models/backup_credentials.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

[release/v2.18] Update Kubernetes Dashboard to v2.4.0 (#8172) (#8190)
  pkg/controller/user-cluster-controller-manager/resources/resources/kubernetes-dashboard/deployment.go
  pkg/resources/kubernetes-dashboard/deployment.go
  pkg/resources/test/fixtures/deployment-aws-1.19.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-aws-1.20.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-aws-1.21.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-aws-1.22.1-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-azure-1.19.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-azure-1.20.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-azure-1.21.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-azure-1.22.1-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.19.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.20.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.21.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.22.1-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.19.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.20.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.21.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.22.1-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-kubernetes-dashboard-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-kubernetes-dashboard-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-kubernetes-dashboard-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-kubernetes-dashboard-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-kubernetes-dashboard-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-kubernetes-dashboard-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-kubernetes-dashboard-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-kubernetes-dashboard.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-kubernetes-dashboard-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-kubernetes-dashboard.yaml
Due: none

Revert DNS-related changes
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/resources/apiserver/deployment.go
  pkg/resources/cloudcontroller/hetzner.go
  pkg/resources/cloudcontroller/kubevirt.go
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/cloudcontroller/vsphere.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/scheduler/deployment.go
Due: none

Fix setting of nodeport-proxy resource requests/limits, relax default resource limits
  docs/zz_generated.seed.yaml
  pkg/controller/operator/common/defaults.go
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
Due: pre-kubermatic-verify-docs

UserCluster MLA e2e test for Loki ruler (#8236)
  hack/ci/setup-mla.sh
  pkg/controller/seed-controller-manager/mla/alertmanager_controller.go
  pkg/controller/seed-controller-manager/mla/alertmanager_controller_test.go
  pkg/controller/seed-controller-manager/mla/rulegroup_controller.go
  pkg/controller/seed-controller-manager/mla/rulegroup_controller_test.go
  pkg/test/e2e/mla/mla_test.go
  pkg/test/e2e/utils/client.go
Due: none

Fix setting of nodeport-proxy resource requests/limits, relax default resource limits (#8258)
  docs/zz_generated.seed.yaml
  pkg/controller/operator/common/defaults.go
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
Due: pre-kubermatic-verify-docs

patch GKE machine deployment version and size
  pkg/handler/v2/external_cluster/gke.go
  pkg/handler/v2/external_cluster/node.go
Due: none

code review
  pkg/handler/v2/external_cluster/gke.go
Due: none

Use upstream promtail Helm chart (#8044)
  charts/logging/promtail/.helmignore
  charts/logging/promtail/Chart.yaml
  charts/logging/promtail/requirements.lock
  charts/logging/promtail/templates/_helpers.tpl
  charts/logging/promtail/templates/clusterrole.yaml
  charts/logging/promtail/templates/clusterrolebinding.yaml
  charts/logging/promtail/templates/configmap.yaml
  charts/logging/promtail/templates/daemonset.yaml
  charts/logging/promtail/templates/role.yaml
  charts/logging/promtail/templates/rolebinding.yaml
  charts/logging/promtail/test/default.yaml
  charts/logging/promtail/test/default.yaml.out
  charts/logging/promtail/test/kubermatic.example.ce.yaml
  charts/logging/promtail/test/kubermatic.example.ce.yaml.out
  charts/logging/promtail/test/kubermatic.example.ee.yaml
  charts/logging/promtail/test/kubermatic.example.ee.yaml.out
  charts/logging/promtail/test/test.sh
  charts/logging/promtail/values.yaml
Due: none
