Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-e2e-vsphere-ubuntu-1.19, pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify-charts: any of: ^charts/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(cmd|codegen|hack|pkg|charts)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^charts/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(cmd|codegen|hack|pkg|docs)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-dependencies: any of: ^(cmd|codegen|hack|pkg|go.mod|go.sum)/
  pre-kubermatic-license-validation: any of: ^go.(mod|sum)$
  pre-kubermatic-prometheus-rules-validation: any of: charts/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: pkg/resources/prometheus
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-legacy: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.19: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (hack|charts/kubermatic|pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/

Fix field indexer used to index services to be exposed
  pkg/controller/nodeport-proxy/envoymanager/controller.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

v2 endpoints list GCP sizes, disk types, zones, networks, subnetworks (#6228)
  cmd/kubermatic-api/swagger.json
  pkg/handler/common/provider/gcp.go
  pkg/handler/v1/provider/gcp.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/provider/gcp.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/gcp_client.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_disk_types_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_disk_types_no_credentials_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_networks_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_networks_no_credentials_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_sizes_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_sizes_no_credentials_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_subnetworks_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_subnetworks_no_credentials_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_zones_no_credentials_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_zones_no_credentials_v2_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix nodeport-proxy e2e tests
  pkg/test/e2e/nodeport-proxy/network.go
  pkg/test/e2e/nodeport-proxy/nodeport_proxy_test.go
  pkg/test/e2e/nodeport-proxy/services.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Update OWNERS for nodeport proxy
  OWNERS_ALIASES
  cmd/nodeport-proxy/OWNERS
  pkg/controller/nodeport-proxy/OWNERS
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix field indexer used to index services to be exposed (#6236)
  pkg/controller/nodeport-proxy/envoymanager/controller.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

PR feedback
  pkg/api/v1/types.go
  pkg/handler/common/cluster.go
  pkg/handler/v2/cluster/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

v2 revoke cluster kubeconfig tokens
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/project/project_client.go
  pkg/test/e2e/api/utils/apiclient/client/project/revoke_cluster_admin_token_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/project/revoke_cluster_admin_token_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/project/revoke_cluster_viewer_token_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/project/revoke_cluster_viewer_token_v2_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Create RBAC role to allow kubeadm to get nodes
  addons/rbac/allow-kubeadm-get-nodes.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy

update aliyun/alibaba-cloud-sdk-go to v1.61.733
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

update digitalocean/godo to v1.54.0
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

Fix nodeport proxy e2e tests (#6237)
  OWNERS_ALIASES
  cmd/nodeport-proxy/OWNERS
  pkg/controller/nodeport-proxy/OWNERS
  pkg/test/e2e/nodeport-proxy/network.go
  pkg/test/e2e/nodeport-proxy/nodeport_proxy_test.go
  pkg/test/e2e/nodeport-proxy/services.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add feature flag for enabling/disabling the tunneling expose strategy
  cmd/image-loader/main.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
  pkg/features/features.go
  pkg/test/e2e/nodeport-proxy/deployer.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add flags to provide ports for SNI and HTTP/2 CONNECT listeners
  Makefile
  cmd/nodeport-proxy/envoy-manager/main.go
  cmd/nodeport-proxy/lb-updater/main.go
  cmd/nodeport-proxy/lb-updater/main_test.go
  pkg/controller/nodeport-proxy/envoymanager/controller.go
  pkg/controller/nodeport-proxy/envoymanager/resources.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Extract SNI and HTTP2 CONNECT listener ports in constants
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

v2 revoke cluster kubeconfig tokens (#6238)
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/project/project_client.go
  pkg/test/e2e/api/utils/apiclient/client/project/revoke_cluster_admin_token_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/project/revoke_cluster_admin_token_v2_responses.go
  pkg/test/e2e/api/utils/apiclient/client/project/revoke_cluster_viewer_token_v2_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/project/revoke_cluster_viewer_token_v2_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Create RBAC role to allow kubeadm to get nodes (#6241)
  addons/rbac/allow-kubeadm-get-nodes.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy

Create RBAC role to allow kubeadm to get nodes (#6244)
  addons/rbac/allow-kubeadm-get-nodes.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy

Create RBAC role to allow kubeadm to get nodes (#6245)
  addons/rbac/allow-kubeadm-get-nodes.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy

Improve initial node deployment creation (#6064)
  .gitignore
  cmd/seed-controller-manager/controllers.go
  pkg/api/v1/time.go
  pkg/api/v1/types.go
  pkg/controller/seed-controller-manager/initialmachinedeployment/controller.go
  pkg/controller/seed-controller-manager/initialmachinedeployment/controller_test.go
  pkg/controller/seed-controller-manager/initialmachinedeployment/doc.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/handler/common/cluster.go
  pkg/handler/routes_v1.go
  pkg/handler/v1/cluster/cluster.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/websocket/user_test.go
  pkg/provider/cloud/gcp/provider.go
  pkg/resources/cloudconfig/configmap.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Add flags for new expose types and update lb-updater (#6235)
  Makefile
  cmd/image-loader/main.go
  cmd/nodeport-proxy/envoy-manager/main.go
  cmd/nodeport-proxy/lb-updater/main.go
  cmd/nodeport-proxy/lb-updater/main_test.go
  pkg/controller/nodeport-proxy/envoymanager/controller.go
  pkg/controller/nodeport-proxy/envoymanager/resources.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
  pkg/features/features.go
  pkg/test/e2e/nodeport-proxy/deployer.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add explicit context handling in conformance-tests
  cmd/conformance-tests/cleanup.go
  cmd/conformance-tests/custom_tests.go
  cmd/conformance-tests/main.go
  cmd/conformance-tests/runner.go
  cmd/conformance-tests/scenarios_alibaba.go
  cmd/conformance-tests/scenarios_aws.go
  cmd/conformance-tests/scenarios_azure.go
  cmd/conformance-tests/scenarios_digitalocean.go
  cmd/conformance-tests/scenarios_gcp.go
  cmd/conformance-tests/scenarios_hetzner.go
  cmd/conformance-tests/scenarios_kubevirt.go
  cmd/conformance-tests/scenarios_openstack.go
  cmd/conformance-tests/scenarios_packet.go
  cmd/conformance-tests/scenarios_vsphere.go
  cmd/conformance-tests/usercluster_controller_tests.go
  pkg/cluster/client/client.go
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/controller/seed-controller-manager/addon/addon_controller_test.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/kubernetes/launching.go
  pkg/controller/seed-controller-manager/monitoring/monitoring_controller.go
  pkg/controller/seed-controller-manager/openshift/openshift_controller.go
  pkg/controller/seed-controller-manager/rancher/controller.go
  pkg/controller/seed-controller-manager/update/update_controller.go
  pkg/handler/common/cluster.go
  pkg/handler/common/upgrade.go
  pkg/handler/test/helper.go
  pkg/handler/v1/cluster/role.go
  pkg/handler/v1/common/common.go
  pkg/handler/v1/kubernetes-dashboard/dashboard.go
  pkg/handler/v1/project/project_test.go
  pkg/provider/kubernetes/cluster.go
  pkg/provider/kubernetes/cluster_internal_test.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

bump integration-tests Docker image
  .prow.yaml
  hack/images/integration-tests/Dockerfile
  hack/images/integration-tests/release.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fix lost user info when creating initial node deployment
  pkg/handler/common/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

rebase errors
  pkg/controller/seed-controller-manager/constraint-template-controller/controller.go
  pkg/controller/seed-controller-manager/constraint-template-controller/controller_test.go
  pkg/controller/seed-controller-manager/initialmachinedeployment/controller.go
  pkg/controller/seed-controller-manager/initialmachinedeployment/controller_test.go
  pkg/handler/common/cluster.go
  pkg/handler/common/machine.go
  pkg/handler/common/role.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

update hetznercloud/hcloud to 1.23.1
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

update aliyun/alibaba-cloud-sdk-go to v1.61.733 (#6240)
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

update digitalocean/godo to v1.54.0 (#6243)
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

update ec2-instances-info to 2020-11-10
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

update hetznercloud/hcloud to 1.23.1 (#6249)
  go.mod
  go.sum
Due: pre-kubermatic-license-validation
