Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-build: any of: ^api/
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-yaml-examples: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-coreos-1.15: any of: (api/|config/kubermatic)
  pre-kubermatic-e2e-vsphere-coreos-1.15: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-coreos-1.16: any of: (api/|config/kubermatic)
  pre-kubermatic-e2e-aws-openshift-4.1: any of: (api/|config/kubermatic)
  pre-kubermatic-api-e2e: any of: ^api/
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

fix missing dex-ca volume mount (#5012)
  config/kubermatic/Chart.yaml
  config/kubermatic/templates/kubermatic-api-dep.yaml
  config/kubermatic/templates/kubermatic-controller-manager-dep.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-canary-deployment-ci-kubermatic-io

Bump Kubernetes Dashboard to v2.0.0-rc3
  api/pkg/controller/user-cluster-controller-manager/resources/resources/kubernetes-dashboard/deployment.go
  api/pkg/resources/kubernetes-dashboard/deployment.go
  api/pkg/resources/test/fixtures/deployment-aws-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.13.0-kubernetes-dashboard.yaml
  config/kubernetes-dashboard/Chart.yaml
  config/kubernetes-dashboard/values.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add Kubernetes v1.15.7, v1.15,9, v1.16.4, v1.16.6 (#4995)
  config/kubermatic/Chart.yaml
  config/kubermatic/static/master/updates.yaml
  config/kubermatic/static/master/versions.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-canary-deployment-ci-kubermatic-io

Bump Kubernetes Dashboard to v2.0.0-rc3 (#5015)
  api/pkg/controller/user-cluster-controller-manager/resources/resources/kubernetes-dashboard/deployment.go
  api/pkg/resources/kubernetes-dashboard/deployment.go
  api/pkg/resources/test/fixtures/deployment-aws-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.13.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.6-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.1-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.12.0-kubernetes-dashboard.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.13.0-kubernetes-dashboard.yaml
  config/kubernetes-dashboard/Chart.yaml
  config/kubernetes-dashboard/values.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

allow using the operator instead of Helm for deploying Kubermatic
  api/hack/ci/ci-deploy-dev.sh
  api/hack/deploy.sh
  config/kubermatic-operator/deployment.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

add Kubernetes v1.15.7, v1.15,9, v1.16.4, v1.16.6 (#4995) (#5018)
  config/kubermatic/Chart.yaml
  config/kubermatic/static/master/updates.yaml
  config/kubermatic/static/master/versions.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-canary-deployment-ci-kubermatic-io

Create cluster role and binding to allow Kubernetes Dashboard metrics scraper to read metrics
  api/pkg/controller/user-cluster-controller-manager/resources/reconciler.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

extend e2e preset test for datacenter
  api/cmd/kubermatic-api/swagger.json
  api/hack/ci/ci_run_api_e2e.sh
  api/pkg/handler/v1/presets/credentials.go
  api/pkg/test/e2e/api/credentials_test.go
  api/pkg/test/e2e/api/gcp_test.go
  api/pkg/test/e2e/api/runner.go
  api/pkg/test/e2e/api/utils/apiclient/client/credentials/list_credentials_parameters.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

[release/v2.11] add Kubernetes v1.15.6, v1.15.7, v1.15.9 (#4995)
  config/kubermatic/Chart.yaml
  config/kubermatic/static/master/updates.yaml
  config/kubermatic/static/master/versions.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-canary-deployment-ci-kubermatic-io

allow using the operator instead of Helm for deploying Kubermatic (#4962)
  api/hack/ci/ci-deploy-dev.sh
  api/hack/deploy.sh
  config/kubermatic-operator/deployment.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fix deleting addons from clusters
  api/pkg/controller/seed-controller-manager/addon/addon_controller.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

[release/v2.11] add Kubernetes v1.15.6, v1.15.7, v1.15.9 (#4995) (#5021)
  config/kubermatic/Chart.yaml
  config/kubermatic/static/master/updates.yaml
  config/kubermatic/static/master/versions.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-canary-deployment-ci-kubermatic-io

fix deleting addons from clusters (#5022)
  api/pkg/controller/seed-controller-manager/addon/addon_controller.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

extend e2e preset test for datacenter (#5014)
  api/cmd/kubermatic-api/swagger.json
  api/hack/ci/ci_run_api_e2e.sh
  api/pkg/handler/v1/presets/credentials.go
  api/pkg/test/e2e/api/credentials_test.go
  api/pkg/test/e2e/api/gcp_test.go
  api/pkg/test/e2e/api/runner.go
  api/pkg/test/e2e/api/utils/apiclient/client/credentials/list_credentials_parameters.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

extend API server for PodNodeSelector admission plugin
  api/cmd/kubermatic-api/swagger.json
  api/pkg/api/v1/types.go
  api/pkg/crd/kubermatic/v1/cluster.go
  api/pkg/handler/v1/cluster/cluster.go
  api/pkg/resources/apiserver/deployment.go
  api/pkg/resources/cluster/cluster.go
  api/pkg/test/e2e/api/utils/apiclient/models/cluster_spec.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

enable operator on dev
  api/hack/ci/ci-deploy-dev.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Adding Loki to the dev cluster deployment
  api/hack/ci/ci-deploy-dev.sh
  api/hack/deploy.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

extend API server for PodNodeSelector admission plugin (#5027)
  api/cmd/kubermatic-api/swagger.json
  api/pkg/api/v1/types.go
  api/pkg/crd/kubermatic/v1/cluster.go
  api/pkg/handler/v1/cluster/cluster.go
  api/pkg/resources/apiserver/deployment.go
  api/pkg/resources/cluster/cluster.go
  api/pkg/test/e2e/api/utils/apiclient/models/cluster_spec.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Disable master alerts for non-master clusters
  api/hack/deploy.sh
  config/monitoring/prometheus/config/prometheus.yaml
  config/monitoring/prometheus/templates/configmaps.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fix swagger client to support query parameters
  api/cmd/kubermatic-api/swagger.json
  api/pkg/handler/v1/cluster/cluster.go
  api/pkg/handler/v1/cluster/kubeconfig.go
  api/pkg/handler/v1/cluster/upgrade.go
  api/pkg/handler/v1/node/node.go
  api/pkg/handler/v1/provider/openstack.go
  api/pkg/test/e2e/api/utils/apiclient/client/openstack/list_openstack_subnets_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/openstack/list_openstack_subnets_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/operations/create_o_id_c_kubeconfig_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/get_cluster_events_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/list_node_deployment_nodes_events_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/versions/get_node_upgrades_parameters.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Expose usePodNodeSelectorAdmissionPlugin in the API
  api/pkg/api/v1/types.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Expose usePodNodeSelectorAdmissionPlugin in the API (#5036)
  api/pkg/api/v1/types.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix cluster role binding namespace issue
  api/pkg/controller/user-cluster-controller-manager/resources/resources/kubernetes-dashboard/clusterrolebinding.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fix pushing images for tagged releases
  api/hack/ci/ci-push-images.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

update Gopkg & vendors
  api/Gopkg.lock
  api/Gopkg.toml
  api/vendor/github.com/kubermatic/machine-controller/pkg/cloudprovider/provider/aws/types/types.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/providerconfig/types/types.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/centos/provider.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/coreos/provider.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/helper/kubelet.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/ubuntu/provider.go
  api/vendor/k8s.io/test-infra/gubernator/github/secrets.py
  api/vendor/k8s.io/test-infra/prow/crier/README.md
  api/vendor/k8s.io/test-infra/prow/plank/README.md
  api/vendor/k8s.io/test-infra/prow/tide/README.md
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

update chart version
  config/monitoring/prometheus/Chart.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-prometheus-rules-validation

fix pushing images for tagged releases (#5037)
  api/hack/ci/ci-push-images.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Adding Loki to the dev cluster deployment (#5031)
  api/hack/ci/ci-deploy-dev.sh
  api/hack/deploy.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

update yaml examples
  docs/zz_generated.seed.yaml
Due: pre-kubermatic-verify-yaml-examples

Update machine-controller to v1.9.0 (#5038)
  api/Gopkg.lock
  api/Gopkg.toml
  api/vendor/github.com/kubermatic/machine-controller/pkg/cloudprovider/provider/aws/types/types.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/providerconfig/types/types.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/centos/provider.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/coreos/provider.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/helper/kubelet.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/ubuntu/provider.go
  api/vendor/k8s.io/test-infra/gubernator/github/secrets.py
  api/vendor/k8s.io/test-infra/prow/crier/README.md
  api/vendor/k8s.io/test-infra/prow/plank/README.md
  api/vendor/k8s.io/test-infra/prow/tide/README.md
  docs/zz_generated.seed.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-test-integration
