Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

set apiserver egress config for konnectivity
  pkg/resources/apiserver/deployment.go
Due: none

set apiserver egress config for konnectivity (#7661)
  pkg/resources/apiserver/deployment.go
Due: none

add ratelimit cortex controller (#7650)
  pkg/controller/seed-controller-manager/mla/mla.go
  pkg/controller/seed-controller-manager/mla/ratelimit_cortex_controller.go
  pkg/controller/seed-controller-manager/mla/ratelimit_cortex_controller_test.go
Due: none

Update usercluster Prometheus to v2.29.2 and Promtail to 2.2.1 (#7654)
  pkg/controller/user-cluster-controller-manager/resources/resources/mla/prometheus/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/mla/promtail/daemonset.go
Due: none

Updates gatekeeper crds for v3.5.2 (#7613)
  .prow.yaml
  cmd/kubermatic-api/swagger.json
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/crds.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/pod_disruption.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/rbac.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/webhook.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/resources/resources.go
  pkg/resources/usercluster/deployment.go
  pkg/test/e2e/opa/opa_test.go
  pkg/test/e2e/utils/apiclient/models/o_p_a_integration_settings.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Use KKP installer to deploy dev environment (#7570)
  charts/nodeport-proxy/Chart.yaml
  charts/nodeport-proxy/templates/clusterrole.yaml
  charts/nodeport-proxy/templates/clusterrolebinding.yaml
  charts/nodeport-proxy/templates/deployment.yaml
  charts/nodeport-proxy/templates/lb.yaml
  charts/nodeport-proxy/templates/quay-secret.yaml
  charts/nodeport-proxy/templates/serviceaccount.yaml
  charts/nodeport-proxy/values.yaml
  hack/ci/deploy-dev-asia.sh
  hack/ci/deploy-dev.sh
  hack/ci/deploy-offline.sh
  hack/ci/deploy-run-2-lab-alpha.sh
  hack/ci/deploy-run-lab-stable.sh
  hack/ci/deploy.sh
  hack/ci/github-release.sh
Due: none

fix typo
  hack/ci/deploy.sh
Due: none

fix typo (#7663)
  hack/ci/deploy.sh
Due: none

prevent warning on seed deployments
  hack/ci/deploy.sh
Due: none

refactor etcd scaleup/down
  cmd/etcd-launcher/main.go
  pkg/controller/master-controller-manager/rbac/sync_resource.go
  pkg/controller/operator/seed/reconciler.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/etcd/statefulset_test.go
  pkg/resources/etcd/testdata/etcd-command-with-launcher.golden.sh
Due: none

catch misconfigured telemetry
  cmd/kubermatic-installer/cmd_deploy.go
  pkg/install/stack/kubermatic-master/validation.go
  pkg/install/stack/kubermatic-seed/validation.go
  pkg/install/stack/types.go
Due: none

prevent warning on seed deployments (#7664)
  cmd/kubermatic-installer/cmd_deploy.go
  hack/ci/deploy.sh
  pkg/install/stack/kubermatic-master/validation.go
  pkg/install/stack/kubermatic-seed/validation.go
  pkg/install/stack/types.go
Due: none

Telemetry chart: add missing ClusterRole for listing KubermaticConfiguration
  charts/telemetry/Chart.yaml
  charts/telemetry/templates/kubermatic-role.yaml
Due: none

Telemetry chart: add missing ClusterRole for listing KubermaticConfiguration (#7666)
  charts/telemetry/Chart.yaml
  charts/telemetry/templates/kubermatic-role.yaml
Due: none

move metering requests to ee
  pkg/ee/metering/handler.go
  pkg/ee/metering/report_handler.go
  pkg/handler/routes_v1_admin.go
  pkg/handler/v1/admin/metering.go
  pkg/handler/v1/admin/wrappers_ce.go
  pkg/handler/v1/admin/wrappers_ee.go
  pkg/handler/v1/metering/metering.go
Due: none

enable swagger generation for ee
  cmd/kubermatic-api/swagger.json
  hack/gen-api-client.sh
  hack/update-swagger.sh
  hack/verify-swagger.sh
  pkg/ee/metering/report_handler.go
  pkg/test/e2e/utils/apiclient/client/metering/get_metering_report_parameters.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

add EE only to swagger description and fix some logging
  cmd/kubermatic-api/swagger.json
  pkg/handler/routes_v1_admin.go
  pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  pkg/test/e2e/utils/apiclient/client/metering/get_metering_report_parameters.go
  pkg/test/e2e/utils/apiclient/client/metering/list_metering_reports_parameters.go
  pkg/test/e2e/utils/apiclient/client/metering/metering_client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

regen api client with metering ee
  pkg/test/e2e/utils/apiclient/client/metering/list_metering_reports_parameters.go
Due: none

add some validation and fixes
  pkg/ee/metering/handler.go
  pkg/ee/metering/report_handler.go
  pkg/handler/v1/admin/metering.go
  pkg/handler/v1/admin/wrappers_ee.go
Due: none

extend cluster template SSH keys for name and ID
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
  pkg/crd/kubermatic/v1/cluster_templates.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/handler/v2/cluster_template/cluster_template_test.go
  pkg/test/e2e/utils/apiclient/client/project/create_cluster_template_responses.go
  pkg/test/e2e/utils/apiclient/models/cluster_template.go
  pkg/test/e2e/utils/apiclient/models/cluster_template_ssh_key.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

add changelog for 2.18.0-rc.0
  CHANGELOG.md
Due: none

cluster templates is a highlight i guess?
  CHANGELOG.md
Due: none

fix typos
  CHANGELOG.md
Due: none

fix tests
  pkg/controller/master-controller-manager/rbac/sync_resource_test.go
  pkg/resources/etcd/testdata/etcd-command-with-launcher.golden.sh
Due: none

Change the json tag of LoggingResources to loggingResources
  cmd/kubermatic-api/swagger.json
  pkg/crd/kubermatic/v1/cluster.go
  pkg/test/e2e/utils/apiclient/models/m_l_a_settings.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

update OWNERS files (#7637)
  OWNERS
  OWNERS_ALIASES
  cmd/seed-controller-manager/main.go
  docs/proposals/openstack-ccm-migration.md
  hack/run-expose-strategy-e2e-test-in-kind.sh
  pkg/controller/master-controller-manager/rbac/OWNERS
  pkg/controller/master-controller-manager/service-account/OWNERS
  pkg/controller/master-controller-manager/user-project-binding/OWNERS
  pkg/controller/nodeport-proxy/envoymanager/utils.go
  pkg/controller/seed-controller-manager/addoninstaller/addoninstaller_controller_test.go
  pkg/controller/seed-controller-manager/seedresourcesuptodatecondition/seedresourcesuptodatecondition_controller.go
  pkg/controller/user-cluster-controller-manager/rbac/OWNERS
  pkg/controller/user-cluster-controller-manager/resources/resources/envoy-agent/daemonset.go
  pkg/provider/cloud/openstack/provider.go
  pkg/resources/cloudcontroller/util.go
  pkg/resources/data.go
  pkg/resources/reconciling/wrapper.go
  pkg/resources/reconciling/wrapper_test.go
  pkg/serviceaccount/OWNERS
  pkg/test/e2e/expose-strategy/agent.go
  pkg/test/e2e/expose-strategy/tunneling_test.go
  pkg/test/e2e/nodeport-proxy/deployer.go
  pkg/test/e2e/nodeport-proxy/images.go
  pkg/validation/cluster.go
  pkg/webhook/cluster/validation/validation.go
  pkg/webhook/seed/builder.go
  pkg/webhook/seed/builder_test.go
  pkg/webhook/seed/validator.go
Due: pre-kubermatic-verify-docs

enable optional tls support for minio chart
  charts/kubermatic/Chart.yaml
  charts/minio/Chart.yaml
  charts/minio/templates/deployment.yaml
  charts/minio/values.yaml
Due: none

extend cluster template SSH keys for name and ID (#7668)
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
  pkg/crd/kubermatic/v1/cluster_templates.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/handler/v2/cluster_template/cluster_template_test.go
  pkg/test/e2e/utils/apiclient/client/project/create_cluster_template_responses.go
  pkg/test/e2e/utils/apiclient/models/cluster_template.go
  pkg/test/e2e/utils/apiclient/models/cluster_template_ssh_key.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fixed seed patch endpoint
  pkg/handler/v1/admin/seed.go
  pkg/handler/v1/admin/seed_test.go
Due: none

Supported providers fix
  pkg/crd/kubermatic/v1/cluster.go
  pkg/handler/v2/version/version.go
  pkg/provider/types.go
  pkg/resources/apiserver/egressselectorconfigmap.go
  pkg/resources/konnectivity/secrets.go
Due: none
