Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.23, pre-kubermatic-e2e-nutanix-centos-1.23, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-ccm-migration-openstack-e2e, pre-kubermatic-ccm-migration-vsphere-e2e, pre-kubermatic-ccm-migration-azure-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-ipam-e2e

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)) or (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow/))
  pre-kubermatic-etcd-launcher-e2e: (any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)) or (any of: (cmd/etcd-launcher/|pkg/|.prow/))
  pre-kubermatic-nodeport-proxy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-opa-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-expose-strategy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-ccm-migration-openstack-e2e: any of: (pkg/provider/cloud/openstack/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-ccm-migration-vsphere-e2e: any of: (pkg/provider/cloud/vsphere/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-ccm-migration-azure-e2e: any of: (addons/azure-cloud-node-manager/|pkg/provider/cloud/azure/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow/)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow|go.mod).*
  pre-kubermatic-ipam-e2e: any of: (pkg/controller/seed-controller-manager/ipam/|pkg/webhook/ipampool/|pkg/test/e2e/ipam/)

fix cluster webhook regression
  pkg/webhook/cluster/mutation/mutator.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

cleanup
  pkg/controller/seed-controller-manager/mla/upb_controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Add a temp controller which removes all UPB mla finalizers
  pkg/controller/seed-controller-manager/mla/mla.go
  pkg/controller/seed-controller-manager/mla/upb_controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add boilerplate
  pkg/controller/seed-controller-manager/mla/upb_controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add nocredential list eks noderole endpoint
  cmd/kubermatic-api/swagger.json
  pkg/handler/common/provider/eks.go
  pkg/handler/v2/external_cluster/aks.go
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/external_cluster/gke.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/eks/eks_client.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_node_roles_no_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_node_roles_no_credentials_responses.go
  pkg/test/e2e/utils/apiclient/client/gke/list_g_k_e_disk_types_parameters.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

fix cluster webhook regression (#11112)
  pkg/webhook/cluster/mutation/mutator.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

List EKS vmsizes based on architecture
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/common/architecture.go
  pkg/handler/common/provider/eks.go
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/cloud/eks/provider.go
  pkg/test/e2e/utils/apiclient/client/eks/eks_client.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_cluster_roles_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_instance_types_no_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_node_roles_no_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_node_roles_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_node_roles_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_regions_parameters.go
  pkg/test/e2e/utils/apiclient/models/e_k_s_instance_type.go
  pkg/test/e2e/utils/apiclient/models/e_k_s_machine_deployment_cloud_spec.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

simplify vsphere network test (#11109)
  go.mod
  go.sum
  pkg/provider/cloud/vsphere/network_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-ccm-migration-vsphere-e2e, pre-kubermatic-cilium-e2e

set use-metadata-server = false
  pkg/resources/cloudconfig/cloudconfig.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

remove deprecated golangci linters (#11108)
  .golangci.yml
Due: none

use a fork that hardcodes UseMetadataService to false
  pkg/resources/cloudcontroller/gcp.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-ccm-migration-openstack-e2e, pre-kubermatic-ccm-migration-vsphere-e2e, pre-kubermatic-ccm-migration-azure-e2e

add EtcdLauncherNotEnabled phase to etcd restore
  pkg/apis/kubermatic/v1/etcd_restore.go
  pkg/controller/seed-controller-manager/etcdrestore/etcd_restore_controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Corrections as per the feedback
  charts/monitoring/prometheus/rules/general-kube-kubelet.yaml
  charts/monitoring/prometheus/rules/src/general/kube-kubelet.yaml
Due: pre-kubermatic-test-helm-charts

Deleted the newly added file as it was not required anymore
  charts/monitoring/prometheus/rules/general-kube-storage.yaml
Due: pre-kubermatic-test-helm-charts

Adjust ETCD_INITIAL_CLUSTER during peer TLS migration (#9322)
  cmd/etcd-launcher/main.go
  pkg/controller/master-controller-manager/rbac/sync_resource.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Fix Anexia disk config (#11051)
  pkg/machine/convert.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Adjust ETCD_INITIAL_CLUSTER during peer TLS migration (#9322) (#11117)
  cmd/etcd-launcher/main.go
  pkg/controller/master-controller-manager/rbac/sync_resource.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Adjust ETCD_INITIAL_CLUSTER during peer TLS migration (#9322) (#11116)
  cmd/etcd-launcher/main.go
  pkg/controller/master-controller-manager/rbac/sync_resource.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Corrections completed as per Kubermatic repo
  charts/monitoring/prometheus/rules/general-kube-kubelet.yaml
  charts/monitoring/prometheus/rules/src/general/kube-kubelet.yaml
Due: pre-kubermatic-test-helm-charts

Added lables to match with service in Alerta
  charts/monitoring/prometheus/rules/general-kube-kubelet.yaml
  charts/monitoring/prometheus/rules/src/general/kube-kubelet.yaml
Due: pre-kubermatic-test-helm-charts

Added missing Labels
  charts/monitoring/prometheus/rules/general-kube-kubelet.yaml
  charts/monitoring/prometheus/rules/src/general/kube-kubelet.yaml
Due: pre-kubermatic-test-helm-charts

Corrected Labels for newly added alerts
  charts/monitoring/prometheus/rules/general-kube-kubelet.yaml
  charts/monitoring/prometheus/rules/src/general/kube-kubelet.yaml
Due: pre-kubermatic-test-helm-charts

adds groups in OICD kubeconfig
  pkg/handler/common/kubeconfig.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Corrections done as CI test was failing
  charts/monitoring/prometheus/rules/general-kube-kubelet.yaml
  charts/monitoring/prometheus/rules/src/general/kube-kubelet.yaml
Due: pre-kubermatic-test-helm-charts

[release/v2.21] Add a temp controller which removes all UPB mla finalizers (#11113)
  pkg/controller/seed-controller-manager/mla/mla.go
  pkg/controller/seed-controller-manager/mla/upb_controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Fix calls to preset provider
  pkg/handler/v2/preset/preset.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Add new endpoints to query presets for specific projects
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Add spec.projects to Presets and optionally filter presets based on that
  pkg/apis/kubermatic/v1/preset.go
  pkg/handler/common/cluster.go
  pkg/handler/v2/preset/preset.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Adjust existing endpoints to only get presets that have no project association
  pkg/handler/v1/presets/credentials.go
  pkg/handler/v1/provider/alibaba.go
  pkg/handler/v1/provider/anexia.go
  pkg/handler/v1/provider/aws.go
  pkg/handler/v1/provider/azure.go
  pkg/handler/v1/provider/digitalocean.go
  pkg/handler/v1/provider/gcp.go
  pkg/handler/v1/provider/hetzner.go
  pkg/handler/v1/provider/openstack.go
  pkg/handler/v1/provider/packet.go
  pkg/handler/v1/provider/vsphere.go
  pkg/handler/v2/external_cluster/aks.go
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/v2/external_cluster/gke.go
  pkg/handler/v2/preset/preset.go
  pkg/handler/v2/provider/azure.go
  pkg/handler/v2/provider/kubevirt.go
  pkg/handler/v2/provider/nutanix.go
  pkg/handler/v2/provider/vmwareclouddirector.go
  pkg/handler/v2/provider/vsphere.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/kubernetes/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Make projectID non-optional when setting cloud credentials
  pkg/handler/common/cluster.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/kubernetes/preset_test.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Add test cases for Preset provider
  pkg/provider/kubernetes/preset_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Update codegen
  cmd/kubermatic-api/swagger.json
  pkg/apis/kubermatic/v1/preset.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  pkg/test/e2e/utils/apiclient/client/preset/list_project_presets_parameters.go
  pkg/test/e2e/utils/apiclient/client/preset/list_project_presets_responses.go
  pkg/test/e2e/utils/apiclient/client/preset/list_project_provider_presets_parameters.go
  pkg/test/e2e/utils/apiclient/client/preset/list_project_provider_presets_responses.go
  pkg/test/e2e/utils/apiclient/client/preset/preset_client.go
  pkg/test/e2e/utils/apiclient/models/preset_spec.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Fix import statement ordering
  pkg/handler/v2/provider/azure.go
  pkg/handler/v2/provider/kubevirt.go
  pkg/handler/v2/provider/nutanix.go
  pkg/handler/v2/provider/vmwareclouddirector.go
  pkg/handler/v2/provider/vsphere.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Added new alerts for kubernetes-storage (#11070)
  charts/monitoring/prometheus/rules/general-kube-kubelet.yaml
  charts/monitoring/prometheus/rules/src/general/kube-kubelet.yaml
Due: pre-kubermatic-test-helm-charts

update codegen
  pkg/apis/kubermatic/v1/etcd_restore.go
  pkg/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

remove EtcdRestorePhase prefix
  pkg/apis/kubermatic/v1/etcd_restore.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

remove unnecessarily long, inconsistent prefix
  pkg/apis/kubermatic/v1/etcd_restore.go
  pkg/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

add EtcdLauncherNotEnabled phase to etcd restore (#11115)
  pkg/apis/kubermatic/v1/etcd_restore.go
  pkg/controller/seed-controller-manager/etcdrestore/etcd_restore_controller.go
  pkg/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Add changelog entries for v2.19.10 and v2.20.8
  docs/changelogs/CHANGELOG-2.19.md
  docs/changelogs/CHANGELOG-2.20.md
Due: none
