Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.23, pre-kubermatic-e2e-nutanix-centos-1.23, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-appcatalog-aikit, pre-kubermatic-appcatalog-argocd, pre-kubermatic-appcatalog-cluster-autoscaler, pre-kubermatic-appcatalog-cert-manager, pre-kubermatic-appcatalog-falco, pre-kubermatic-appcatalog-flux, pre-kubermatic-appcatalog-k8sgpt-operator, pre-kubermatic-appcatalog-kube-vip, pre-kubermatic-appcatalog-kubevirt, pre-kubermatic-appcatalog-metallb, pre-kubermatic-appcatalog-nginx-ingress-controller, pre-kubermatic-appcatalog-nvidia-gpu-operator, pre-kubermatic-appcatalog-trivy, pre-kubermatic-appcatalog-trivy-operator, pre-kubermatic-ccm-migration-gcp-e2e, pre-kubermatic-ccm-migration-azure-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-ipam-e2e, pre-kubermatic-cluster-backup-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan, pre-kubermatic-test-build-utility-images, pre-kubermatic-test-addon-upgrades

Path conditions:
  pre-kubermatic-test: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: (go.mod|go.sum|cmd/|codegen/|hack/|pkg/))
  pre-kubermatic-test-integration: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: (go.mod|go.sum|cmd/|codegen/|hack/|pkg/))
  pre-kubermatic-lint: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: ^(cmd/|codegen/|hack/|pkg/|go.mod|go.sum))
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)) or (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow/))
  pre-kubermatic-etcd-launcher-e2e: (any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)) or (any of: (cmd/etcd-launcher/|pkg/|.prow/))
  pre-kubermatic-nodeport-proxy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-opa-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-expose-strategy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/|charts/mla/))
  pre-kubermatic-appcatalog-aikit: any of: (pkg/ee/default-application-catalog/aikit-app.yaml)
  pre-kubermatic-appcatalog-argocd: any of: (pkg/ee/default-application-catalog/argocd-app.yaml)
  pre-kubermatic-appcatalog-cluster-autoscaler: any of: (pkg/applicationdefinitions)
  pre-kubermatic-appcatalog-cert-manager: any of: (pkg/ee/default-application-catalog/cert-manager-app.yaml)
  pre-kubermatic-appcatalog-falco: any of: (pkg/ee/default-application-catalog/falco-app.yaml)
  pre-kubermatic-appcatalog-flux: any of: (pkg/ee/default-application-catalog/flux2-app.yaml)
  pre-kubermatic-appcatalog-k8sgpt-operator: any of: (pkg/ee/default-application-catalog/k8sgpt-app.yaml)
  pre-kubermatic-appcatalog-kube-vip: any of: (pkg/ee/default-application-catalog/kube-vip-app.yaml)
  pre-kubermatic-appcatalog-kubevirt: any of: (pkg/ee/default-application-catalog/kubevirt-app.yaml)
  pre-kubermatic-appcatalog-metallb: any of: (pkg/ee/default-application-catalog/metallb-app.yaml)
  pre-kubermatic-appcatalog-nginx-ingress-controller: any of: (pkg/ee/default-application-catalog/nginx-app.yaml)
  pre-kubermatic-appcatalog-nvidia-gpu-operator: any of: (pkg/ee/default-application-catalog/nvidia-gpu-operator-app.yaml)
  pre-kubermatic-appcatalog-trivy: any of: (pkg/ee/default-application-catalog/trivy-app.yaml)
  pre-kubermatic-appcatalog-trivy-operator: any of: (pkg/ee/default-application-catalog/trivy-operator-app.yaml)
  pre-kubermatic-ccm-migration-gcp-e2e: any of: (pkg/provider/cloud/gcp/|pkg/resources/cloudcontroller/gcp|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-ccm-migration-azure-e2e: any of: (addons/azure-cloud-node-manager/|pkg/provider/cloud/azure/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-dualstack-e2e-aws-cilium: any of: .*(cilium|canal|dualstack|addon|cni|provider|machine|webhook|.prow|go.mod|proxy|network).*
  pre-kubermatic-dualstack-e2e-aws-canal: any of: .*(cilium|canal|dualstack|addon|cni|provider|machine|webhook|.prow|go.mod|proxy|network).*
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow/)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow|go.mod).*
  pre-kubermatic-ipam-e2e: any of: (pkg/controller/seed-controller-manager/ipam/|pkg/webhook/ipampool/|addons/metallb/|pkg/test/e2e/ipam/)
  pre-kubermatic-cluster-backup-e2e: any of: pkg/ee/cluster-backup/
  pre-kubermatic-e2e-kind-test: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow/)
  pre-kubermatic-trivy-scan: any of: (Dockerfile|go.mod|.prow/)
  pre-kubermatic-test-build-utility-images: any of: (hack/release-sidecar-images.sh|hack/images/|cmd/(alertmanager-authorization-server|http-prober|s3-exporter)/)
  pre-kubermatic-test-addon-upgrades: any of: (addons/|pkg/test/addon|pkg/addon|pkg/controller/seed-controller-manager/addon.*)

[release/v2.28] Add support of k8s patch releases v1.33.7 (#15247)
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/defaulting/configuration.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Add support of k8s patch releases v1.34.3/v1.33.7 (#15239)
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/defaulting/configuration.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Add support of k8s patch releases v1.34.3/v1.33.7
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/defaulting/configuration.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Prometheus post hook fix (#15217)
  charts/monitoring/prometheus/templates/statefulset.yaml
  charts/monitoring/prometheus/test/default.yaml.out
  charts/monitoring/prometheus/test/values.example.ce.yaml.out
  charts/monitoring/prometheus/test/values.example.ee.yaml.out
Due: pre-kubermatic-test-helm-charts

Set Tolerations overrides for control plane components (#15248)
  pkg/resources/apiserver/deployment.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/kubestatemetrics/deployment.go
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/operatingsystemmanager/deployment.go
  pkg/resources/prometheus/statefulset.go
  pkg/resources/scheduler/deployment.go
  pkg/resources/usercluster/deployment.go
  sdk/apis/kubermatic/v1/cluster.go
  sdk/apis/kubermatic/v1/constraint_template.go
  sdk/apis/kubermatic/v1/datacenter.go
  sdk/apis/kubermatic/v1/register.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Fix command syntax in post.hook for backup
  charts/monitoring/prometheus/test/default.yaml.out
Due: pre-kubermatic-test-helm-charts

Fix command syntax in post.hook.backup configuration
  charts/monitoring/prometheus/test/values.example.ce.yaml.out
Due: pre-kubermatic-test-helm-charts

Fix command syntax in post.hook.backup configuration
  charts/monitoring/prometheus/test/values.example.ee.yaml.out
Due: pre-kubermatic-test-helm-charts

Fix command syntax in post backup hook
  charts/monitoring/prometheus/templates/statefulset.yaml
Due: pre-kubermatic-test-helm-charts

Add support of k8s patch releases v1.34.3/v1.33.7 (#15250)
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/defaulting/configuration.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

[release/v2.29] Prometheus post hook fix (#15251)
  charts/monitoring/prometheus/templates/statefulset.yaml
  charts/monitoring/prometheus/test/default.yaml.out
  charts/monitoring/prometheus/test/values.example.ce.yaml.out
  charts/monitoring/prometheus/test/values.example.ee.yaml.out
Due: pre-kubermatic-test-helm-charts

[release/v2.28] Delete orphaned UserProjectBinding resources on User or Project deletion (#15195)
  pkg/controller/master-controller-manager/user-project-binding/controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Set Tolerations overrides for control plane components (#15248) (#15252)
  pkg/resources/apiserver/deployment.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/kubestatemetrics/deployment.go
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/operatingsystemmanager/deployment.go
  pkg/resources/prometheus/statefulset.go
  pkg/resources/scheduler/deployment.go
  pkg/resources/usercluster/deployment.go
  sdk/apis/kubermatic/v1/cluster.go
  sdk/apis/kubermatic/v1/constraint_template.go
  sdk/apis/kubermatic/v1/datacenter.go
  sdk/apis/kubermatic/v1/register.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

[release/v2.27] Delete orphaned UserProjectBinding resources on User or Project deletion (#15196)
  pkg/controller/master-controller-manager/user-project-binding/controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

[release/v2.29] Delete orphaned UserProjectBinding resources on User or Project deletion (#15194)
  pkg/controller/master-controller-manager/user-project-binding/controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Update cmd/kubermatic-installer/shared.go
  cmd/kubermatic-installer/shared.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

Refactor file reading and merging logic
  cmd/kubermatic-installer/shared.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

Add mergo dependency version v0.3.16
  go.mod
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-opa-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-trivy-scan

Update go.sum with new dependencies
  go.sum
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-opa-e2e, pre-kubermatic-mla-e2e

introduce cluster and project id as env var for machine controller, kubevirt provider Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/resources/data.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

fix the storage issue in cortex ingester (#15242)
  charts/mla/cortex/test/config.yaml.out
  charts/mla/cortex/test/default.yaml.out
  charts/mla/cortex/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

fix the storage issue in cortex ingester
  charts/mla/cortex/test/config.yaml.out
  charts/mla/cortex/test/default.yaml.out
  charts/mla/cortex/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

Update go.mod and go.sum for dependency management
  cmd/kubermatic-installer/shared.go
  go.mod
  go.sum
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan

Updated Helm values handling to support multiple files (#15235)
  cmd/kubermatic-installer/cmd_deploy.go
  cmd/kubermatic-installer/cmd_local.go
  cmd/kubermatic-installer/shared.go
  go.mod
  go.sum
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan

Bump oauth2-proxy to appversion v7.13.0 (#15204)
  charts/iap/Chart.yaml
  charts/iap/test/values.custom-tls-secret.yaml.out
  charts/iap/test/values.example.yaml.out
  charts/iap/values.yaml
Due: pre-kubermatic-test-helm-charts

introduce cluster and project id as env var for machine controller, kubevirt provider (#15253)
  pkg/resources/data.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

fixes as per review comments
  charts/iap/templates/deployments.yaml
  charts/iap/test/values.extraArgs.yaml
  charts/iap/test/values.extraArgs.yaml.out
  charts/iap/values.yaml
Due: pre-kubermatic-test-helm-charts

Moved the memcached images to bitnamilegacy while we upgrade the cortex charts
  charts/mla/cortex/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

fixed the tests
  charts/mla/cortex/test/config.yaml.out
  charts/mla/cortex/test/default.yaml.out
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

added ability to provide override custom arguments for IAP deployment (#15241)
  charts/iap/templates/deployments.yaml
  charts/iap/test/values.extraArgs.yaml
  charts/iap/test/values.extraArgs.yaml.out
  charts/iap/values.yaml
Due: pre-kubermatic-test-helm-charts

added ability to provide override custom arguments for IAP deployment to support wide range of parameters from oauth2-proxy
  charts/iap/templates/deployments.yaml
  charts/iap/test/values.extraArgs.yaml
  charts/iap/test/values.extraArgs.yaml.out
  charts/iap/values.yaml
Due: pre-kubermatic-test-helm-charts

fix the storage issue in cortex ingester (#15242) (#15258)
  charts/mla/cortex/test/config.yaml.out
  charts/mla/cortex/test/default.yaml.out
  charts/mla/cortex/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

[release/v2.29] added ability to provide override custom arguments for IAP deployment (#15261)
  charts/iap/templates/deployments.yaml
  charts/iap/test/values.extraArgs.yaml
  charts/iap/test/values.extraArgs.yaml.out
  charts/iap/values.yaml
Due: pre-kubermatic-test-helm-charts
