Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-e2e-vsphere-ubuntu-1.19, pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.15.1
      command:
      - make
      args:
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.15.1
      command:
      - make
      args:
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 1
        limits:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.4.1
      command:
      - ./hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:14.2-1806-0
      command:
      - ./hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.4.1
      command:
      - ./hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-verify-docs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:14.2-1806-0
      command:
      - ./hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golangci/golangci-lint:v1.30.0
      command:
      - make
      args:
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:14.2-1806-0
      command:
      - make
      args:
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
  ...

fix tests
  hack/verify-boilerplate.sh
  pkg/resources/etcd/statefulset_test.go
  pkg/resources/etcd/testdata/etcd-command-with-corruption-flags.golden.sh
  pkg/resources/etcd/testdata/etcd-command-with-launcher.golden.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

allow disabling Certificate creation in Operator
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/master/resources/kubermatic/common.go
  pkg/controller/operator/master/resources/kubermatic/common_test.go
  pkg/crd/operator/v1alpha1/configuration.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

[release/v2.15] Etcd-launcher feature flag (#5979)
  cmd/etcd-launcher/main.go
  hack/verify-boilerplate.sh
  pkg/controller/seed-controller-manager/pvwatcher/pvwatcher_controller.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/etcd/statefulset_test.go
  pkg/resources/etcd/testdata/etcd-command-with-corruption-flags.golden.sh
  pkg/resources/etcd/testdata/etcd-command-with-launcher.golden.sh
  pkg/resources/etcd/tls-serving-certificate.go
  pkg/resources/test/fixtures/statefulset-aws-1.16.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-aws-1.17.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-aws-1.18.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-aws-1.19.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.16.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.17.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.18.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-azure-1.19.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.16.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.17.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.18.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-bringyourown-1.19.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.16.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.17.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.18.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-digitalocean-1.19.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.16.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.17.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.18.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-openstack-1.19.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.16.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.17.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.18.0-etcd.yaml
  pkg/resources/test/fixtures/statefulset-vsphere-1.19.0-etcd.yaml
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fix canary release refering to non-existing dashboard revisions
  hack/ci/canary-github-release.sh
  hack/ci/github-release.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

allow disabling Certificate creation in Operator (#5980)
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/master/resources/kubermatic/common.go
  pkg/controller/operator/master/resources/kubermatic/common_test.go
  pkg/crd/operator/v1alpha1/configuration.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add v2.15.0-rc.3 changelog
  CHANGELOG.md
Due: none

Add v2.15.0-rc.3 changelog (#5982)
  CHANGELOG.md
Due: none

fix canary release refering to non-existing dashboard revisions (#5981)
  hack/ci/canary-github-release.sh
  hack/ci/github-release.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

make canary release compatible with jq 1.5
  hack/ci/github-release.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

make canary release compatible with jq 1.5 (#5983)
  hack/ci/github-release.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fix GitHub release again
  hack/ci/github-release.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fix GitHub release again (#5984)
  hack/ci/github-release.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Migrate from google_containers to k8s.gcr.io Docker registry
  api/pkg/resources/apiserver/deployment.go
  api/pkg/resources/controllermanager/deployment.go
  api/pkg/resources/dns/dns.go
  api/pkg/resources/metrics-server/deployment.go
  api/pkg/resources/resources.go
  api/pkg/resources/scheduler/deployment.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e

fix paths in periodic tests again
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/setup-legacy-kubermatic-in-kind.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fix paths in periodic tests again (#5988)
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/setup-legacy-kubermatic-in-kind.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pkg: Migrate from google_containers to k8s.gcr.io Docker registry
  api/pkg/resources/apiserver/deployment.go
  api/pkg/resources/controllermanager/deployment.go
  api/pkg/resources/dns/dns.go
  api/pkg/resources/metrics-server/deployment.go
  api/pkg/resources/resources.go
  api/pkg/resources/scheduler/deployment.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e

addons: Migrate from google_containers to k8s.gcr.io Docker registry
  addons/kube-proxy/daemonset.yaml
  addons/metrics-server/metrics-server-deployment.yaml
  addons/nodelocal-dns-cache/dns.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy

config: Migrate charts from google_containers to k8s.gcr.io Docker registry
  config/kubermatic/Chart.yaml
  config/kubermatic/values.yaml
  config/monitoring/kube-state-metrics/Chart.yaml
  config/monitoring/kube-state-metrics/values.yaml
Due: none

Finish migration to the k8s.gcr.io Docker registry
  addons/kube-proxy/daemonset.yaml
  addons/metrics-server/metrics-server-deployment.yaml
  addons/nodelocal-dns-cache/dns.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy

fix error message
  pkg/clusterdeletion/deletion.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fix error message (#5991)
  pkg/clusterdeletion/deletion.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add seed-controller feature gate for etcd-launcher
  cmd/seed-controller-manager/controllers.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/kubernetes/pending.go
  pkg/features/features.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

review comments
  pkg/controller/seed-controller-manager/kubernetes/pending.go
  pkg/features/features.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add unit test
  pkg/controller/seed-controller-manager/kubernetes/pending_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

refactor test
  pkg/controller/seed-controller-manager/kubernetes/pending_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add seed-controller feature gate for etcd-launcher (#5997)
  cmd/seed-controller-manager/controllers.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/kubernetes/pending.go
  pkg/controller/seed-controller-manager/kubernetes/pending_test.go
  pkg/features/features.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify-charts: any of: ^charts/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(cmd|codegen|hack|pkg|charts)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^charts/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(cmd|codegen|hack|pkg|docs)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-dependencies: any of: ^(cmd|codegen|hack|pkg|go.mod|go.sum)/
  pre-kubermatic-license-validation: any of: ^go.(mod|sum)$
  pre-kubermatic-prometheus-rules-validation: any of: charts/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: pkg/resources/prometheus
  pre-kubermatic-simulate-github-release: any of: hack/ci/ci-github-release.sh
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-legacy: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.19: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (hack|charts/kubermatic|pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
