Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-build: any of: ^api/
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-yaml-examples: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-coreos-1.15: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.15: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-coreos-1.17: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-aws-openshift-4.1: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

[release/v2.14] [EE] switch Docker repository logic for Kubermatic (#5470)
  api/Makefile
  api/hack/ci/ci-run-offline-test.sh
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/hack/push_image.sh
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
  api/pkg/resources/test/fixtures/deployment-aws-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/load_files_test.go
  config/kubermatic-operator/Chart.yaml
  config/kubermatic-operator/values.yaml
  config/kubermatic/Chart.yaml
  config/kubermatic/values.yaml
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

docs/proposals/etcd-workflows.md
  docs/proposals/etcd-workflows.md
Due: pre-kubermatic-verify-yaml-examples

fix editing cluster credential secret
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/cluster/cluster.go
  api/pkg/provider/kubernetes/credentials.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

update cert-manager to 0.15.1, do not let Helm manage CRDs anymore (#5552)
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/hack/deploy.sh
  api/hack/update-cert-manager-crds.sh
  config/cert-manager/Chart.yaml
  config/cert-manager/crd/cert-manager.crds.yaml
  config/cert-manager/templates/cainjector-rbac.yaml
  config/cert-manager/templates/cert-manager-deployment.yaml
  config/cert-manager/templates/cert-manager-rbac.yaml
  config/cert-manager/templates/webhook-deployment.yaml
  config/cert-manager/templates/webhook-mutating-webhook.yaml
  config/cert-manager/templates/webhook-rbac.yaml
  config/cert-manager/templates/webhook-validating-webhook.yaml
  config/cert-manager/values.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

addon installer controller: update existing addons if needed (#5432)
  api/pkg/controller/seed-controller-manager/addoninstaller/addoninstaller_controller.go
  api/pkg/controller/seed-controller-manager/addoninstaller/addoninstaller_controller_test.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

dos2unix, trim trailing spaces
  LICENSE
  README.md
  addons/canal/canal.yaml
  addons/metrics-server/metrics-server-deployment.yaml
  charts/logging/promtail/templates/daemonset.yaml
  charts/logging/promtail/values.yaml
  charts/oauth/theme/logo.svg
  charts/oauth/theme/styles.css
  cmd/conformance-tests/README.md
  cmd/master-controller-manager/README.md
  cmd/user-cluster-controller-manager/README.md
  cmd/user-ssh-keys-agent/README.md
  cmd/userdata-openshift/README.md
  docs/events.md
  docs/proposals/cloud-cost-exporter.md
  docs/proposals/cloud-infrastructure-reconciling.md
  docs/proposals/cluster-dns.md
  docs/proposals/machine-controller.md
  docs/proposals/machine-ipam-controller.md
  docs/proposals/service-account.md
  docs/proposals/user-cluster-authentication-via-dex.md
  docs/proposals/user-cluster-rbac.md
  docs/release-process.md
  docs/resource-handling.md
  docs/things-that-break.md
  hack/boilerplate.go.txt
  hack/ci/ci-deploy-run-lab-stable.sh
  openshift_addons/crd/crds.yaml
  pkg/ee/LICENSE
  pkg/ee/README.md
Due: pre-kubermatic-verify-yaml-examples

make run-* scripts more user friendly, remove dependency on secrets repo
  hack/lib.sh
  hack/run-all.sh
  hack/run-api.sh
  hack/run-dashboard-and-api.sh
  hack/run-machine-controller.sh
  hack/run-master-controller-manager.sh
  hack/run-operator.sh
  hack/run-seed-controller-manager.sh
  hack/run-user-cluster-controller-manager.sh
Due: none

make run-* scripts more user friendly, remove dependency on secrets repo (#5573)
  hack/lib.sh
  hack/run-all.sh
  hack/run-api.sh
  hack/run-dashboard-and-api.sh
  hack/run-machine-controller.sh
  hack/run-master-controller-manager.sh
  hack/run-operator.sh
  hack/run-seed-controller-manager.sh
  hack/run-user-cluster-controller-manager.sh
Due: none

fix lib.sh being incompatible with Alpine's shell by just using bash
  hack/ci/ci-sync-apiclient.sh
Due: none

e2e logout method
  hack/ci/ci_run_api_e2e.sh
  pkg/test/e2e/api/logout_test.go
  pkg/test/e2e/api/runner.go
Due: pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix lib.sh being incompatible with Alpine's shell by just using bash (#5574)
  hack/ci/ci-sync-apiclient.sh
Due: none

fix typo in allowed_licensed filename by using default wwhrd file
  .wwhrd.yml
  hack/lib.sh
  hack/verify-licenses.sh
Due: none

fix typo in allowed_licensed filename by using default wwhrd file (#5576)
  .wwhrd.yml
  hack/lib.sh
  hack/verify-licenses.sh
Due: none

Typo fixes
  docs/proposals/http-tunnel-expose-strategy.md
Due: pre-kubermatic-verify-yaml-examples

move chart/crd to helm conform chart/crds folder
  charts/backup/velero/crds/backups.yaml
  charts/backup/velero/crds/backupstoragelocations.yaml
  charts/backup/velero/crds/deletebackuprequests.yaml
  charts/backup/velero/crds/downloadrequests.yaml
  charts/backup/velero/crds/podvolumebackups.yaml
  charts/backup/velero/crds/podvolumerestores.yaml
  charts/backup/velero/crds/resticrepositories.yaml
  charts/backup/velero/crds/restores.yaml
  charts/backup/velero/crds/schedules.yaml
  charts/backup/velero/crds/serverstatusrequests.yaml
  charts/backup/velero/crds/volumesnapshotlocations.yaml
  charts/cert-manager/crds/cert-manager.crds.yaml
  charts/kubermatic/crds/crd-addon-configs.yaml
  charts/kubermatic/crds/crd-addons.yaml
  charts/kubermatic/crds/crd-admission-plugins.yaml
  charts/kubermatic/crds/crd-clusters.yaml
  charts/kubermatic/crds/crd-datacenter.yaml
  charts/kubermatic/crds/crd-kubermatic-configuration.yaml
  charts/kubermatic/crds/crd-kubermatic-settings.yaml
  charts/kubermatic/crds/crd-presets.yaml
  charts/kubermatic/crds/crd-projects.yaml
  charts/kubermatic/crds/crd-ssh-keys.yaml
  charts/kubermatic/crds/crd-user-project-binding.yaml
  charts/kubermatic/crds/crd-users.yaml
  charts/kubermatic/crds/crd-vpa.yaml
Due: none

bump chart version
  charts/backup/velero/Chart.yaml
  charts/cert-manager/Chart.yaml
  charts/kubermatic/Chart.yaml
Due: none

change location for CRDs in deploy script
  hack/ci/ci-setup-kubermatic-in-kind.sh
  hack/deploy.sh
  pkg/controller/seed-controller-manager/kubernetes/resources_test.go
  pkg/controller/seed-controller-manager/openshift/resources_test.go
Due: none

fix crd location in test and ci scrypts /crd -> /crds
  hack/ci/ci-setup-kubermatic-in-kind.sh
  hack/ci/ci-sync-charts.sh
Due: none

fix crd location in test and ci scrypts /crd -> /crds
  hack/deploy.sh
Due: none

Add option to limit project creation
  cmd/kubermatic-api/swagger.json
  pkg/crd/kubermatic/v1/settings.go
  pkg/handler/v1/admin/settings_test.go
  pkg/provider/kubernetes/settings.go
  pkg/test/e2e/api/settings_test.go
  pkg/test/e2e/api/utils/apiclient/models/setting_spec.go
Due: pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

adjust datacenter api struct for dynamic dc management
  api/cmd/kubermatic-api/swagger.json
  api/pkg/api/v1/types.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/admin/seed_test.go
  api/pkg/handler/v1/dc/datacenter.go
  api/pkg/handler/v1/dc/datacenter_test.go
  api/pkg/test/e2e/api/utils/apiclient/models/datacenter_spec.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

admin list dc per provider endpoint (#5397)
  api/cmd/kubermatic-api/swagger.json
  api/pkg/handler/routes_v1.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/dc/datacenter.go
  api/pkg/handler/v1/dc/datacenter_test.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/datacenter_client.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/list_d_c_for_provider_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/list_d_c_for_provider_responses.go
  api/pkg/test/e2e/api/utils/apiclient/client/operations/list_d_c_for_provider_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/operations/list_d_c_for_provider_responses.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

datacenter management - added get per provider endpoint (#5400)
  api/cmd/kubermatic-api/swagger.json
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/dc/datacenter.go
  api/pkg/handler/v1/dc/datacenter_test.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/datacenter_client.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/get_d_c_for_provider_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/get_d_c_for_provider_responses.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Dynamic datacenters - create dc endpoint (#5417)
  api/cmd/kubermatic-api/swagger.json
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/dc/datacenter.go
  api/pkg/handler/v1/dc/datacenter_test.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/create_d_c_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/create_d_c_responses.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/datacenter_client.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Dynamic datacenter management - update endpoint (#5425)
  api/cmd/kubermatic-api/swagger.json
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/dc/datacenter.go
  api/pkg/handler/v1/dc/datacenter_test.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/datacenter_client.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/update_d_c_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/datacenter/update_d_c_responses.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration
