Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

Make Helm 3 available in kubermatic/util image (#7568)
  .prow.yaml
  hack/images/util/Dockerfile
  hack/images/util/release.sh
  hack/lib.sh
  pkg/controller/master-controller-manager/seed-proxy/resources.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

use Helm 3 for logging/monitoring deployment (#7566)
  hack/ci/deploy-dev-asia.sh
  hack/ci/deploy-dev.sh
  hack/ci/deploy-offline.sh
  hack/ci/deploy-run-2-lab-alpha.sh
  hack/ci/deploy-run-lab-stable.sh
  hack/ci/deploy.sh
  hack/ci/run-conformance-tests.sh
  hack/lib.sh
Due: none

use KKP installer to deploy dev environment
  hack/ci/deploy-dev-asia.sh
  hack/ci/deploy-dev.sh
  hack/ci/deploy-offline.sh
  hack/ci/deploy-run-2-lab-alpha.sh
  hack/ci/deploy-run-lab-stable.sh
  hack/ci/deploy.sh
Due: none

auto create storage class
  hack/ci/deploy.sh
Due: none

undo debugging change
  pkg/resources/reconciling/compare.go
Due: none

fix missing API in scheme
  cmd/master-controller-manager/main.go
  cmd/nodeport-proxy/Makefile
Due: none

improve operator watches, reduce number of reconciliations
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/seed/controller.go
  pkg/controller/operator/seed/reconciler.go
  pkg/resources/reconciling/compare.go
Due: none

fix version equality check
  pkg/controller/operator/seed/controller.go
  pkg/crd/equality/semantic.go
Due: none

prevent panic
  pkg/controller/master-controller-manager/seed-sync/reconciler.go
Due: none

sync KubermaticConfiguration into seed clusters
  cmd/master-controller-manager/controllers.go
  codegen/reconcile/main.go
  pkg/controller/master-controller-manager/seed-sync/controller.go
  pkg/controller/master-controller-manager/seed-sync/reconciler.go
  pkg/controller/master-controller-manager/seed-sync/reconciler_test.go
  pkg/controller/master-controller-manager/seed-sync/resources.go
  pkg/resources/reconciling/zz_generated_reconcile.go
Due: none

update kube-state-metrics to 2.2.0
  pkg/resources/kubestatemetrics/deployment.go
  pkg/resources/test/fixtures/deployment-aws-1.19.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-aws-1.20.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-aws-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-aws-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-azure-1.19.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-azure-1.20.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-azure-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-azure-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.19.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.20.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.19.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.20.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-kube-state-metrics.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-kube-state-metrics-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-kube-state-metrics.yaml
Due: none

update Helm chart
  charts/monitoring/kube-state-metrics/Chart.yaml
  charts/monitoring/kube-state-metrics/values.yaml
Due: none

remove ancient unused test files
  charts/kubermatic.example.ce.yaml
  charts/kubermatic.example.ee.yaml
  charts/seed.example.yaml
  charts/test/admission-webhooks/admissionvalidator-svc.yaml
  charts/test/admission-webhooks/create-secrets.sh
  charts/test/admission-webhooks/master-admission-config.yaml
  charts/test/autoscaler-scaleup.yaml
  charts/test/busybox.yaml
  charts/test/guestbook-full-example.yaml
  charts/test/storage-aws.yaml
  charts/test/storage-azure.yaml
  charts/test/storage-test.yaml
  hack/ci/github-release.sh
Due: none

remove nodeport-proxy Helm chart
  charts/nodeport-proxy/Chart.yaml
  charts/nodeport-proxy/templates/clusterrole.yaml
  charts/nodeport-proxy/templates/clusterrolebinding.yaml
  charts/nodeport-proxy/templates/deployment.yaml
  charts/nodeport-proxy/templates/lb.yaml
  charts/nodeport-proxy/templates/quay-secret.yaml
  charts/nodeport-proxy/templates/serviceaccount.yaml
  charts/nodeport-proxy/values.yaml
  hack/ci/github-release.sh
Due: none

remove ancient unused test files (#7572)
  charts/kubermatic.example.ce.yaml
  charts/kubermatic.example.ee.yaml
  charts/seed.example.yaml
  charts/test/admission-webhooks/admissionvalidator-svc.yaml
  charts/test/admission-webhooks/create-secrets.sh
  charts/test/admission-webhooks/master-admission-config.yaml
  charts/test/autoscaler-scaleup.yaml
  charts/test/busybox.yaml
  charts/test/guestbook-full-example.yaml
  charts/test/storage-aws.yaml
  charts/test/storage-azure.yaml
  charts/test/storage-test.yaml
  hack/ci/github-release.sh
Due: none

fix lint
  pkg/handler/middleware/middleware.go
Due: none

workaround for Helm deployment errors
  hack/ci/deploy.sh
Due: none

import ordering
  pkg/resources/cloudcontroller/anexia.go
Due: none

Cluster-id templated inside KKP
  addons/csi/vsphere/csiController.yaml
  addons/default-storage-class/storage-class.yaml
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/user-cluster-controller-manager/resources/cloudcontroller/secret.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/resources/cloudconfig/configmap.go
  pkg/resources/cloudconfig/vsphere/csi-configmap.go
  pkg/resources/resources.go
  pkg/resources/usercluster/deployment.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

storage policy field in CRDs and e2e fixed
  addons/default-storage-class/storage-class.yaml
  cmd/conformance-tests/scenarios_vsphere.go
  cmd/kubermatic-api/swagger.json
  docs/zz_generated.addondata.go.txt
  docs/zz_generated.seed.yaml
  pkg/addon/template.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/datacenter.go
  pkg/crd/operator/v1alpha1/configuration.go
  pkg/provider/cloud/vsphere/provider.go
  pkg/provider/cloud/vsphere/provider_test.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/kubernetes/preset_test.go
  pkg/resources/cloudconfig/configmap.go
  pkg/resources/cloudcontroller/vsphere.go
  pkg/resources/test/fixtures/configmap-vsphere-1.19.0-cloud-config-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.19.0-cloud-config.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.20.0-cloud-config-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.20.0-cloud-config.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.21.0-cloud-config-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.21.0-cloud-config.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-cloud-config-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-cloud-config.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-vsphere-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-vsphere-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-vsphere-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-vsphere-cloud-controller-manager-externalCloudProvider.yaml
  pkg/test/e2e/utils/apiclient/models/datacenter_spec_v_sphere.go
  pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Add kube-state-metrics into default accessible addons
  charts/kubermatic/static/master/accessible-addons.yaml
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-verify-docs

test fixed
  cmd/conformance-tests/scenarios_vsphere.go
  cmd/image-loader/main.go
Due: none

Update kubermatic chart version
  charts/kubermatic/Chart.yaml
Due: none

PR review changes
  addons/default-storage-class/storage-class.yaml
  cmd/conformance-tests/main.go
  cmd/example-yaml-generator/main.go
  cmd/seed-controller-manager/main.go
  pkg/controller/user-cluster-controller-manager/ccm-csi-migrator/controller_test.go
  pkg/controller/user-cluster-controller-manager/rbac/controller.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/crd/equality/semantic.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v1/common/event_test.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/cloud/vsphere/provider.go
  pkg/provider/kubernetes/etcdbackupconfig.go
  pkg/provider/kubernetes/etcdrestore.go
  pkg/resources/cloudconfig/configmap.go
  pkg/resources/cloudconfig/vsphere/csi-configmap.go
  pkg/resources/cloudcontroller/vsphere.go
  pkg/resources/data.go
  pkg/resources/resources.go
  pkg/resources/usercluster/deployment.go
  pkg/test/e2e/ccm-migration/cluster.go
  pkg/test/e2e/utils/client.go
  pkg/webhook/cluster/validation/validation_test.go
  pkg/webhook/seed/handler_test.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

omitgenyaml restored
  docs/zz_generated.seed.yaml
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/crd/kubermatic/v1/datacenter.go
  pkg/crd/operator/v1alpha1/configuration.go
Due: pre-kubermatic-verify-docs

Fixtures updated
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-cloud-config-csi-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-cloud-config-csi.yaml
  pkg/resources/test/fixtures/deployment-aws-1.22.1-usercluster-controller.yaml
  pkg/resources/test/fixtures/deployment-azure-1.22.1-usercluster-controller.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.22.1-usercluster-controller.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.22.1-usercluster-controller.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-usercluster-controller-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-usercluster-controller.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-usercluster-controller-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-usercluster-controller.yaml
Due: none

csi-driver update to 2.3.0
  addons/csi/vsphere/csiController.yaml
  addons/csi/vsphere/csiNode-ds.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Add kube-state-metrics into default accessible addons (#7554)
  charts/kubermatic/Chart.yaml
  charts/kubermatic/static/master/accessible-addons.yaml
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/controller/operator/common/defaults.go
Due: pre-kubermatic-verify-docs

K8s version for vSphere tests downgraded to 1.21
  .prow.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

rename MlaAlertmanagerDomain to MlaAlertmanagerPrefix
  cmd/kubermatic-api/swagger.json
  pkg/crd/kubermatic/v1/settings.go
  pkg/handler/v1/admin/settings_test.go
  pkg/test/e2e/utils/apiclient/models/setting_spec.go
  pkg/test/e2e/utils/client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

vSphere K8s version to 1.21.3
  .prow.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Fix OpenStack CCM version for 1.20+ clusters
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-openstack-cloud-controller-manager-externalCloudProvider.yaml
Due: none

rename MlaAlertmanagerDomain to MlaAlertmanagerPrefix (#7575)
  cmd/kubermatic-api/swagger.json
  pkg/crd/kubermatic/v1/settings.go
  pkg/handler/v1/admin/settings_test.go
  pkg/test/e2e/utils/apiclient/models/setting_spec.go
  pkg/test/e2e/utils/client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator
