Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 500m
        limits:
          memory: 2.5Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
      env:
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-docs:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.23.6
      command:
      - make
      args:
      - -C
      - api
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/dep:0.5.4-2
      command:
      - make
      args:
      - -C
      - api
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-license-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.2.1-1
      command:
      - make
      args:
      - -C
      - api
      - license-validation
      env:
      - name: KUBERMATIC_EDITION
        value: ee

add prometheus scraping if minio is running with TLS (#8467)
  charts/minio/Chart.yaml
  charts/minio/values.yaml
  charts/monitoring/prometheus/Chart.yaml
  charts/monitoring/prometheus/config/scraping/minio.yaml
  charts/monitoring/prometheus/config/scraping/pods.yaml
  charts/monitoring/prometheus/values.yaml
Due: none

fix cilium indentation
  addons/cilium/cilium.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

fix isImport externalcluster
  pkg/handler/common/provider/aws.go
  pkg/handler/common/provider/azure.go
  pkg/handler/common/provider/gcp.go
Due: none

fix cilium indentation (#8470)
  addons/cilium/cilium.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

handle external cluster status
  pkg/api/v2/types.go
  pkg/handler/v2/external_cluster/aks.go
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/v2/external_cluster/external_cluster_test.go
  pkg/handler/v2/external_cluster/gke.go
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

code review
  pkg/api/v2/types.go
  pkg/handler/v2/external_cluster/aks.go
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/v2/external_cluster/gke.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

deny coredns ingress
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

add netpol to coredns
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

allow cluster access to kube-dns
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

allow all access to kube-dns
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

add user ssh key agent netpol
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/usersshkeys/networkpolicy.go
Due: none

add cluster address to template data
  addons/cilium/cilium.yaml
  addons/kube-proxy/configmap.yaml
  docs/zz_generated.addondata.go.txt
  pkg/addon/template.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

restrict egress of kube-dns
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

restrict kube-dns ingress to port 53
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

fix cilium template
  addons/cilium/cilium.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

add network policies for csi driver
  addons/csi/hetzner/hcloud-csi-1.6.0.yaml
  addons/csi/openstack/controllerplugin.yaml
  addons/csi/vsphere/csiAdmissionWebhook.yaml
  addons/csi/vsphere/csiController.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

add network policies for cnis
  addons/canal/canal.yaml
  addons/canal/canal_v3.19.yaml
  addons/canal/canal_v3.20.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

fix linting
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

add all-dns policy
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

add openvpn netpol
  addons/openvpn/networkpolicy.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

change coredns only cluster access
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

deny all ingress
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

allow cluster and world access
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

fix kube-dns ingress network policy
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

move default deny policy to kubesystem resource
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
  pkg/controller/user-cluster-controller-manager/resources/resources/kubesystem/networkpolicy.go
Due: none

add CacheAddress const
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
  pkg/controller/user-cluster-controller-manager/resources/resources/node-local-dns/deamonset.go
Due: none

fix ergress dns default policy
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

add boilerplate not kubesystem networkpolicy.go
  pkg/controller/user-cluster-controller-manager/resources/resources/kubesystem/networkpolicy.go
Due: none

fix user ssh keys agent network policy doc
  pkg/controller/user-cluster-controller-manager/resources/resources/usersshkeys/networkpolicy.go
Due: none

add empty pod selector to default netpol
  pkg/controller/user-cluster-controller-manager/resources/resources/kubesystem/networkpolicy.go
Due: none

add feature gate for kube-system network policies
  addons/canal/canal.yaml
  addons/canal/canal_v3.19.yaml
  addons/canal/canal_v3.20.yaml
  addons/csi/hetzner/hcloud-csi-1.6.0.yaml
  addons/csi/openstack/controllerplugin.yaml
  addons/csi/vsphere/csiController.yaml
  addons/openvpn/networkpolicy.yaml
  cmd/user-cluster-controller-manager/main.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/resources/resources.go
  pkg/resources/usercluster/deployment.go
  pkg/webhook/cluster/mutation/mutation.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

add konnectivity network policy
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/networkpolicy.go
Due: none

fix mutation tests
  pkg/webhook/cluster/mutation/mutation_test.go
Due: none

Introduce ComponentLabel to user cluster mla components
  pkg/controller/operator/common/resources.go
  pkg/controller/user-cluster-controller-manager/resources/resources/mla/namespace.go
  pkg/controller/user-cluster-controller-manager/resources/resources/mla/prometheus/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/mla/promtail/daemonset.go
  pkg/resources/resources.go
Due: none

allow kubernets service api egress from kube-dns
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
Due: none

add metrics network policies
  addons/kube-state-metrics/networkpolicy.yaml
  addons/node-exporter/networkpolicy.yaml
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/networkpolicy.go
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/networkpolicy.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

disable gocyclo lint for user-cluster-cm DeploymentCreator
  pkg/resources/usercluster/deployment.go
Due: none

restrict user-ssh-key-agent to api egress traffic only
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/usersshkeys/networkpolicy.go
Due: none

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/
