Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

untie the gordian knot of container juggling
  cmd/seed-controller-manager/controllers.go
  pkg/apis/kubermatic/v1/helper/backups.go
  pkg/controller/operator/defaults/defaults.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
  pkg/controller/seed-controller-manager/backup/backup_controller.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller.go
  pkg/controller/seed-controller-manager/etcdrestore/etcd_restore_controller.go
  pkg/kubernetes/helper.go
Due: none

debugging
  hack/ci/testdata/kubermatic_backup.yaml
  hack/ci/testdata/kubermatic_konnectivity.yaml
  hack/ci/testdata/kubermatic_mla.yaml
Due: none

more cleanup
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/options.go
  pkg/clusterdeletion/deletion.go
  pkg/clusterdeletion/etcdbackupconfig.go
  pkg/controller/seed-controller-manager/backup/backup_controller.go
  pkg/controller/seed-controller-manager/backup/backup_controller_test.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller_test.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
Due: none

remove CLI flags for backup containers from seed-ctrlmgr
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/controllers_test.go
  cmd/seed-controller-manager/options.go
  hack/run-seed-controller-manager.sh
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/operator/seed/resources/kubermatic/kubermatic.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
  pkg/controller/seed-controller-manager/backup/backup_controller.go
  pkg/controller/seed-controller-manager/backup/backup_controller_test.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller_test.go
  pkg/kubernetes/helper.go
Due: none

lint
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/apis/kubermatic/v1/helper/backups.go
  pkg/test/helper.go
Due: pre-kubermatic-verify-docs

update docs
  codegen/example-yaml/main.go
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-verify-docs

PR feedback
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  cmd/kubermatic-api/swagger.json
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/operator/seed/resources/kubermatic/kubermatic.go
  pkg/handler/v1/admin/seed_test.go
  pkg/test/e2e/utils/apiclient/models/etcd_backup_restore.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

deploy Snapshot CRDs to openstack clusters (#9042)
  addons/csi/openstack/snapshot-crds.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

deploy Snapshot CRDs to openstack clusters
  addons/csi/openstack/snapshot-crds.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

deploy Snapshot CRDs to openstack clusters (#9089)
  addons/csi/openstack/snapshot-crds.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

re-enable vsphere integration tests (#9084)
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_vsphere.go
  hack/ci/run-conformance-tests.sh
  hack/ci/testdata/seed.yaml
  hack/ci/testdata/seed_backup.yaml
  hack/run-conformance-tests.sh
  hack/run-integration-tests.sh
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/network_test.go
Due: none

re-enable vsphere integration tests
  hack/run-integration-tests.sh
Due: none

adjust tests to current reality
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_vsphere.go
  hack/ci/run-conformance-tests.sh
  hack/ci/testdata/seed.yaml
  hack/ci/testdata/seed_backup.yaml
  hack/run-conformance-tests.sh
  hack/run-integration-tests.sh
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/network_test.go
Due: none

adjust tests to current reality
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_vsphere.go
  hack/ci/run-conformance-tests.sh
  hack/ci/testdata/seed.yaml
  hack/ci/testdata/seed_backup.yaml
  hack/run-conformance-tests.sh
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/network_test.go
Due: none

[release/v2.20] re-enable vsphere integration tests (#9090)
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_vsphere.go
  hack/ci/run-conformance-tests.sh
  hack/ci/testdata/seed.yaml
  hack/ci/testdata/seed_backup.yaml
  hack/run-conformance-tests.sh
  hack/run-integration-tests.sh
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/network_test.go
Due: none

adjust tests to current reality (#9091)
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_vsphere.go
  hack/ci/run-conformance-tests.sh
  hack/ci/testdata/seed.yaml
  hack/ci/testdata/seed_backup.yaml
  hack/run-conformance-tests.sh
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/network_test.go
Due: none

Add namespace env to machine-controller
  pkg/resources/machinecontroller/deployment.go
Due: none

Update CHANGELOG.md with v2.19.2 and v2.18.7
  CHANGELOG.md
Due: none

Revert changes for kubectl binar version
  pkg/util/kubectl/kubectl.go
Due: none

fix bugs in cluster-template-controller introduced in k8c.io migration
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
Due: none

Clarify impact of breaking change action
  CHANGELOG.md
Due: none

Revert "Clarify impact of breaking change action"
  CHANGELOG.md
Due: none

remove finalizer handling
  pkg/api/v1/types.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

code review
  pkg/handler/v2/cluster_template/cluster_template.go
Due: none

import and export cluster templates
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/handler/v2/cluster_template/cluster_template_test.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/project/export_cluster_template_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/export_cluster_template_responses.go
  pkg/test/e2e/utils/apiclient/client/project/import_cluster_template_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/import_cluster_template_responses.go
  pkg/test/e2e/utils/apiclient/client/project/project_client.go
  pkg/test/e2e/utils/apiclient/models/cluster_template.go
  pkg/test/e2e/utils/apiclient/models/cluster_template_info.go
  pkg/test/e2e/utils/apiclient/models/cluster_template_node_deployment.go
  pkg/test/e2e/utils/client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Fix bugs in cluster-template-controller introduced in k8c.io migration (#9098)
  pkg/api/v1/types.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

[release/v2.20] Fix bugs in cluster-template-controller introduced in k8c.io migration (#9101)
  pkg/api/v1/types.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Update CHANGELOG.md with v2.19.2 and v2.18.7 (#9092)
  CHANGELOG.md
Due: none

fix req validate method and change modes api endpoint
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/provider/aks.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/aks/aks_client.go
  pkg/test/e2e/utils/apiclient/client/aks/list_a_k_s_node_pool_modes_no_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/aks/list_a_k_s_node_pool_modes_no_credentials_responses.go
  pkg/test/e2e/utils/apiclient/client/aks/list_a_k_s_node_pool_modes_parameters.go
  pkg/test/e2e/utils/apiclient/client/aks/list_a_k_s_node_pool_modes_responses.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Add unit tests to pkg/validation
  pkg/validation/cluster.go
  pkg/validation/cluster_test.go
  pkg/webhook/cluster/validation/validation_test.go
Due: none

Fix integration test
  pkg/controller/seed-controller-manager/kubernetes/resources_integration_test.go
Due: none

Rebase unit tests
  pkg/webhook/cluster/validation/validation_test.go
Due: none

Add support for dual-stack pods & services CIDR
  addons/cilium/cilium.yaml
  addons/kube-proxy/configmap.yaml
  pkg/addon/template.go
  pkg/resources/apiserver/deployment.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/test/fixtures/deployment-aws-1.20.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-aws-1.21.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-aws-1.22.1-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-azure-1.20.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-azure-1.21.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-azure-1.22.1-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.20.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.21.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.22.1-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.20.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.21.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.22.1-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-controller-manager.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-controller-manager.yaml
  pkg/resources/test/load_files_test.go
  pkg/validation/cluster.go
  pkg/webhook/cluster/validation/validation_test.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18
