Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-coreos-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-coreos-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-coreos-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

Update e2e tests to kind 0.8.1 (#5823)
  .prow.yaml
  hack/ci/ci-setup-kubermatic-in-kind.sh
  hack/ci/ci-setup-legacy-kubermatic-in-kind.sh
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Use Go 1.15 for CI jobs
  .prow.yaml
  Makefile
  containers/integration-tests/Dockerfile
  pkg/test/e2e/api/cluster_test.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix panic: cannot create context from nil parent
  pkg/log/logrus.go
Due: none

make test more compatible, in Go 1.15 the error string for bad durations changed slighty
  pkg/validation/cluster_test.go
Due: none

cleanup
  cmd/etcd-launcher/main.go
Due: none

report archive contents
  .prow.yaml
  hack/ci/ci-test-github-release.sh
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

define optional presubmit to test the github release code
  .gitignore
  .prow.yaml
  hack/ci/ci-github-release.sh
  hack/ci/ci-test-github-release.sh
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

improve logging
  .prow.yaml
  hack/ci/ci-github-release.sh
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix non-existing variables
  hack/ci/ci-github-release.sh
Due: none

Use Go 1.15 for CI jobs (#5834)
  .prow.yaml
  Makefile
  containers/integration-tests/Dockerfile
  pkg/log/logrus.go
  pkg/test/e2e/api/cluster_test.go
  pkg/validation/cluster_test.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

rename job to pre-kubermatic-simulate-github-release
  .prow.yaml
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

define optional presubmit to test the github release code (#5831)
  .gitignore
  .prow.yaml
  hack/ci/ci-github-release.sh
  hack/ci/ci-test-github-release.sh
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Provide quickstart infos for DNS settings in Kubermatic Installer (#5830)
  cmd/kubermatic-installer/cmd_deploy.go
  cmd/kubermatic-installer/main.go
  pkg/install/stack/kubermatic/stack.go
Due: none

remove unused test
  pkg/test/e2e/api/cluster_test.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

remove unused test (#5835)
  pkg/test/e2e/api/cluster_test.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix error handling for getting metrics
  pkg/handler/v1/cluster/cluster.go
  pkg/handler/v1/node/node.go
Due: none

update go.mod
  go.mod
  go.sum
Due: none

update go.mod and golangci-lint
  .prow.yaml
  cmd/etcd-launcher/main.go
  go.mod
  go.sum
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix error handling for getting metrics (#5836)
  pkg/handler/v1/cluster/cluster.go
  pkg/handler/v1/node/node.go
Due: none

Refactor clients for etcd-launcher (#5795)
  .prow.yaml
  cmd/etcd-launcher/main.go
  go.sum
  pkg/crd/kubermatic/v1/cluster.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/etcd/tls-serving-certificate.go
  pkg/resources/resources.go
Due: pre-kubermatic-e2e-aws-coreos-1.16, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-coreos-1.18, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

refactor fake external claster provider
  pkg/handler/test/fake_provider.go
  pkg/handler/v1/node/node_test.go
  pkg/handler/v2/external_cluster/node_test.go
Due: none

Added Support for imagepullsecrets in cert-manager chart
  charts/cert-manager/Chart.yaml
  charts/cert-manager/templates/cert-manager-serviceaccount.yaml
  charts/cert-manager/values.yaml
Due: none

Added some ee proposals
  docs/proposals/opa-integration.md
Due: pre-kubermatic-verify-docs

finish basic StorageClass creation support
  cmd/kubermatic-installer/cmd_deploy.go
  hack/ci/ci-setup-kubermatic-in-kind.sh
  pkg/install/stack/kubermatic/stack.go
  pkg/install/stack/kubermatic/storageclass.go
Due: none

removed empty line
  charts/cert-manager/values.yaml
Due: none

minor bump oauth chart version to 1.3.0
  charts/oauth/Chart.yaml
Due: none

allow custom envvar definitions for dex to be passed via the oauth chart (#5829)
  charts/oauth/Chart.yaml
  charts/oauth/templates/deployment.yaml
  charts/oauth/values.yaml
Due: none

allow custom envvar definitions for dex to be passed via the oauth chart
  config/oauth/templates/deployment.yaml
  config/oauth/values.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart

add exampe envvars for oauth/dex to demonstrate proxy use-case
  config/oauth/values.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart

beautify .Values.dex.env pipeline in auth chart and add missing space before closing braces
  config/oauth/templates/deployment.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart

Updates after meeting
  docs/proposals/opa-integration.md
Due: pre-kubermatic-verify-docs

minor bump oauth chart version to 1.3.0
  config/oauth/Chart.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart
