Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 500m
        limits:
          memory: 2.5Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
      env:
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-docs:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.23.6
      command:
      - make
      args:
      - -C
      - api
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/dep:0.5.4-2
      command:
      - make
      args:
      - -C
      - api
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-license-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.2.1-1
      command:
      - make
      args:
      - -C
      - api
      - license-validation
      env:
      - name: KUBERMATIC_EDITION
        value: ee

Added a correct prometheus annotation for custom path of metrics url (#7967)
  charts/monitoring/prometheus/config/scraping/pods.yaml
Due: none

Refactor userProjectBinding sync controller to use seed lifecycle controller
  cmd/master-controller-manager/controllers.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/OWNERS
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/controller.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/controller_test.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/doc.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/resources.go
Due: none

Refactor project sync controller to use seed lifecycle controller
  cmd/master-controller-manager/controllers.go
  pkg/controller/master-controller-manager/project-synchronizer/OWNERS
  pkg/controller/master-controller-manager/project-synchronizer/controller.go
  pkg/controller/master-controller-manager/project-synchronizer/controller_test.go
  pkg/controller/master-controller-manager/project-synchronizer/doc.go
  pkg/controller/master-controller-manager/project-synchronizer/resources.go
Due: none

Updated chart version
  charts/monitoring/prometheus/Chart.yaml
Due: none

export MLA const
  .prow.yaml
  hack/ci/run-mla-e2e-tests.sh
  pkg/controller/seed-controller-manager/mla/dashboard_grafana_controller.go
  pkg/controller/seed-controller-manager/mla/dashboard_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/datasource_grafana_controller.go
  pkg/controller/seed-controller-manager/mla/datasource_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/grafana.go
  pkg/controller/seed-controller-manager/mla/mla.go
  pkg/controller/seed-controller-manager/mla/org_grafana_controller.go
  pkg/controller/seed-controller-manager/mla/org_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/org_user_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/user_grafana_controller_test.go
  pkg/test/e2e/mla/mla_test.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

switch mla back to master
  hack/ci/setup-mla.sh
  pkg/test/e2e/mla/mla_test.go
Due: none

add zone for GKE external cluster
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/crd/kubermatic/v1/external_cluster.go
  pkg/handler/common/provider/gcp.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/v2/external_cluster/external_cluster_test.go
  pkg/test/e2e/utils/apiclient/models/g_k_e_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/g_k_e_cluster.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

[release/v2.18] Added a correct prometheus annotation for custom path of metrics url - part 2 (#7967) (#8071)
  charts/monitoring/prometheus/Chart.yaml
  charts/monitoring/prometheus/config/scraping/pods.yaml
Due: none

add temporary SIG CRD to oversee the migration
  OWNERS_ALIASES
  pkg/apis/OWNERS
Due: none

add zone for GKE external cluster (#8076)
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/crd/kubermatic/v1/external_cluster.go
  pkg/handler/common/provider/gcp.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/v2/external_cluster/external_cluster_test.go
  pkg/test/e2e/utils/apiclient/models/g_k_e_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/g_k_e_cluster.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

add shutdown command to installer to make CRD migration preparation easier
  cmd/kubermatic-installer/cmd_migrate_crds.go
  cmd/kubermatic-installer/cmd_shutdown.go
  cmd/kubermatic-installer/main_ce.go
  cmd/kubermatic-installer/main_ee.go
  hack/run-crd-migration-in-kind.sh
  pkg/install/crdmigration/shutdown.go
Due: none

include usercluster-ctrlmgrs, add safety flag to prevent accidents
  cmd/kubermatic-installer/cmd_shutdown.go
  pkg/install/crdmigration/shutdown.go
Due: none

undo debugging
  hack/run-crd-migration-in-kind.sh
Due: none

add temporary SIG CRD to oversee the migration (#8078)
  OWNERS_ALIASES
  pkg/apis/OWNERS
Due: none

Add Canal v3.20 addon
  addons/canal/canal_v3.20.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Allow Canal v3.20
  pkg/webhook/cluster/mutation/mutation.go
  pkg/webhook/cluster/validation/validation.go
Due: none

Refactor userProjectBinding sync controller to use seed lifecycle controller (#8073)
  cmd/master-controller-manager/controllers.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/OWNERS
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/controller.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/controller_test.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/doc.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/resources.go
Due: none

Markup kubermatic.k8c.io types with defaults and ENUMs
  charts/kubermatic-operator/Chart.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_addons.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_etcdbackupconfigs.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_projects.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_rulegroups.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/apis/kubermatic/v1/addon.go
  pkg/apis/kubermatic/v1/admission_plugin.go
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/common.go
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/doc.go
  pkg/apis/kubermatic/v1/etcd_backup_config.go
  pkg/apis/kubermatic/v1/etcd_restore.go
  pkg/apis/kubermatic/v1/preset.go
  pkg/apis/kubermatic/v1/project.go
  pkg/apis/kubermatic/v1/rulegroup.go
  pkg/apis/kubermatic/v1/settings.go
  pkg/install/crdmigration/clones.go
Due: none

Convert cluster.kubermatic.k8c.io/v1 HealthStatus to string ENUM
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  hack/update-codegen.sh
  pkg/apis/kubermatic/v1/cluster.go
  pkg/install/crdmigration/clones.go
Due: none

Add new ExternalClusterGKECloudSpec.Zone from old CRD types
  pkg/apis/kubermatic/v1/external_cluster.go
  pkg/install/crdmigration/clones.go
Due: none

Fix webhook tests
  pkg/webhook/cluster/mutation/mutation_test.go
  pkg/webhook/cluster/validation/validation_test.go
Due: none

Fix spellcheck
  addons/canal/canal_v3.20.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

update external controller to support GKE import
  pkg/controller/master-controller-manager/external-cluster/cluster_controller.go
  pkg/crd/kubermatic/v1/external_cluster.go
  pkg/handler/common/provider/gcp.go
  pkg/provider/cloud/gcp/provider.go
Due: none

MLA Health Status
  cmd/kubermatic-api/swagger.json
  hack/run-user-cluster-controller-manager.sh
  pkg/api/v1/types.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/handler/common/cluster.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/resources/health.go
  pkg/test/e2e/utils/apiclient/models/cluster_health.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Merge
  cmd/master-controller-manager/controllers.go
Due: none

remove -versions, -updates and -master-resources flags from kubermatic API
  cmd/kubermatic-api/options.go
  hack/run-api.sh
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/master/resources/kubermatic/api.go
  pkg/controller/operator/seed/reconciler.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

remove more addon flags, make addon handling more dynamic
  cmd/kubermatic-api/main.go
  cmd/kubermatic-api/options.go
  hack/README.md
  pkg/handler/common/addon.go
  pkg/handler/routes_v1.go
  pkg/handler/routing.go
  pkg/handler/v1/addon/addon.go
  pkg/handler/v2/addon/addon.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/routing.go
  pkg/provider/kubernetes/addon.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

rename -datacenter-name to -seed-name, because the old name was suuuuper confusing
  cmd/seed-controller-manager/options.go
  cmd/seed-controller-manager/wrappers_ce.go
  hack/run-seed-controller-manager.sh
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
Due: none

remove lots of cruft surrounding addons
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/options.go
  hack/run-seed-controller-manager.sh
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/master/resources/kubermatic/api.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
  pkg/controller/seed-controller-manager/addoninstaller/addoninstaller_controller.go
  pkg/controller/seed-controller-manager/addoninstaller/addoninstaller_controller_test.go
Due: none

Remove unsed ClusterType from new kubermatic/v1 types
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_externalclusters.yaml
  pkg/apis/kubermatic/v1/settings.go
Due: none

Refactor project sync controller to use seed lifecycle controller (#8058)
  cmd/master-controller-manager/controllers.go
  pkg/controller/master-controller-manager/project-synchronizer/OWNERS
  pkg/controller/master-controller-manager/project-synchronizer/controller.go
  pkg/controller/master-controller-manager/project-synchronizer/controller_test.go
  pkg/controller/master-controller-manager/project-synchronizer/doc.go
  pkg/controller/master-controller-manager/project-synchronizer/resources.go
Due: none

fix imports
  pkg/controller/master-controller-manager/external-cluster/cluster_controller.go
  pkg/handler/common/provider/gcp.go
  pkg/install/crdmigration/cleanup.go
  pkg/install/crdmigration/setup.go
  pkg/provider/cloud/gcp/provider.go
Due: none

Add shutdown command to installer to make CRD migration preparation easier (#8080)
  cmd/kubermatic-installer/cmd_migrate_crds.go
  cmd/kubermatic-installer/cmd_shutdown.go
  cmd/kubermatic-installer/main_ce.go
  cmd/kubermatic-installer/main_ee.go
  pkg/install/crdmigration/shutdown.go
Due: none

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/
