Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-e2e-vsphere-ubuntu-1.19, pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify-charts: any of: ^charts/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(cmd|codegen|hack|pkg|charts)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^charts/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(cmd|codegen|hack|pkg|docs)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-dependencies: any of: ^(cmd|codegen|hack|pkg|go.mod|go.sum)/
  pre-kubermatic-license-validation: any of: ^go.(mod|sum)$
  pre-kubermatic-prometheus-rules-validation: any of: charts/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: pkg/resources/prometheus
  pre-kubermatic-simulate-github-release: any of: hack/ci/ci-github-release.sh
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-legacy: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.19: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (hack|charts/kubermatic|pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/

update 2.15.0-rc.2 changelog
  CHANGELOG.md
Due: none

changed validation message
  pkg/handler/v2/constraint_template/constraint_template.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Constraint Template create endpoint
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/handler/v2/constraint_template/constraint_template_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/constraint_template.go
  pkg/provider/kubernetes/constraint_template_test.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

generated swagger and api client
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/constrainttemplates_client.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/create_constraint_template_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/create_constraint_template_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

generated swagger and api clients
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/create_constraint_template_parameters.go
  pkg/test/e2e/api/utils/apiclient/models/ct_body.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

validation test fix
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/handler/v2/constraint_template/constraint_template_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

added validation
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/handler/v2/constraint_template/constraint_template_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

small fix
  pkg/handler/v2/constraint_template/constraint_template.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

lint fix
  pkg/provider/kubernetes/constraint_template.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

etcd-launcher image tag is customizable
  cmd/seed-controller-manager/options.go
  pkg/controller/seed-controller-manager/openshift/data.go
  pkg/resources/data.go
  pkg/resources/etcd/statefulset.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Constraint template create endpoint (#5917)
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/handler/v2/constraint_template/constraint_template_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/constraint_template.go
  pkg/provider/kubernetes/constraint_template_test.go
  pkg/provider/types.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/constrainttemplates_client.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/create_constraint_template_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/create_constraint_template_responses.go
  pkg/test/e2e/api/utils/apiclient/models/ct_body.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

update 2.15.0-rc.2 changelog (#5957)
  CHANGELOG.md
Due: none

gen swagger and api clients
  cmd/kubermatic-api/swagger.json
  pkg/provider/kubernetes/constraint_template.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/constrainttemplates_client.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/patch_constraint_template_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/patch_constraint_template_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fixed some typos
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/constrainttemplates_client.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/patch_constraint_template_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Constraint template update endpoint
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/handler/v2/constraint_template/constraint_template_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/constraint_template.go
  pkg/provider/kubernetes/constraint_template_test.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Run scripts in containers (#5936)
  Makefile
  charts/backup/velero/Chart.yaml
  charts/backup/velero/crd/backups.yaml
  charts/backup/velero/crd/backupstoragelocations.yaml
  charts/backup/velero/crd/deletebackuprequests.yaml
  charts/backup/velero/crd/downloadrequests.yaml
  charts/backup/velero/crd/podvolumebackups.yaml
  charts/backup/velero/crd/podvolumerestores.yaml
  charts/backup/velero/crd/resticrepositories.yaml
  charts/backup/velero/crd/restores.yaml
  charts/backup/velero/crd/schedules.yaml
  charts/backup/velero/crd/serverstatusrequests.yaml
  charts/backup/velero/crd/volumesnapshotlocations.yaml
  charts/monitoring/prometheus/Chart.yaml
  hack/lib.sh
  hack/update-cert-manager-crds.sh
  hack/update-codegen.sh
  hack/update-docs.sh
  hack/update-fixtures.sh
  hack/update-grafana-dashboards.sh
  hack/update-kubermatic-chart.sh
  hack/update-prometheus-rules.sh
  hack/update-swagger.sh
  hack/update-velero-crds.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

lint fixes
  pkg/handler/v2/constraint_template/constraint_template.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

remove ci- prefix from scripts in hack/ci/
  .prow.yaml
  Makefile
  hack/README.md
  hack/ci/canary-github-release.sh
  hack/ci/deploy-ci-kubermatic-io.sh
  hack/ci/deploy-dev-asia.sh
  hack/ci/deploy-dev.sh
  hack/ci/deploy-offline.sh
  hack/ci/deploy-run-2-lab-alpha.sh
  hack/ci/deploy-run-lab-stable.sh
  hack/ci/deploy-run.sh
  hack/ci/deploy.sh
  hack/ci/download-gocache.sh
  hack/ci/github-release.sh
  hack/ci/push-images.sh
  hack/ci/run-api-e2e.sh
  hack/ci/run-conformance-tester.sh
  hack/ci/run-e2e-tests.sh
  hack/ci/run-lint.sh
  hack/ci/run-offline-test.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/setup-legacy-kubermatic-in-kind.sh
  hack/ci/sync-apiclient.sh
  hack/ci/sync-charts.sh
  hack/ci/test-github-release.sh
  hack/ci/update-docs.sh
  hack/ci/upload-gocache.sh
  hack/ci/verify-chart-versions.sh
  hack/ci/verify-user-cluster-prometheus-configs.sh
  hack/meta.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

remove ci- prefix from scripts in hack/ci/ (#5961)
  .prow.yaml
  Makefile
  hack/README.md
  hack/ci/canary-github-release.sh
  hack/ci/deploy-ci-kubermatic-io.sh
  hack/ci/deploy-dev-asia.sh
  hack/ci/deploy-dev.sh
  hack/ci/deploy-offline.sh
  hack/ci/deploy-run-2-lab-alpha.sh
  hack/ci/deploy-run-lab-stable.sh
  hack/ci/deploy-run.sh
  hack/ci/deploy.sh
  hack/ci/download-gocache.sh
  hack/ci/github-release.sh
  hack/ci/push-images.sh
  hack/ci/run-api-e2e.sh
  hack/ci/run-conformance-tester.sh
  hack/ci/run-e2e-tests.sh
  hack/ci/run-lint.sh
  hack/ci/run-offline-test.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/setup-legacy-kubermatic-in-kind.sh
  hack/ci/sync-apiclient.sh
  hack/ci/sync-charts.sh
  hack/ci/test-github-release.sh
  hack/ci/update-docs.sh
  hack/ci/upload-gocache.sh
  hack/ci/verify-chart-versions.sh
  hack/ci/verify-user-cluster-prometheus-configs.sh
  hack/meta.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Skip certificate creation in oauth and kubermatic charts if certIssuer is null
  charts/kubermatic/templates/certificate.yaml
  charts/oauth/templates/certificate.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

Move to k8s.gcr.io Docker registry for available images
  addons/metrics-server/metrics-server-deployment.yaml
  addons/nodelocal-dns-cache/dns.yaml
  pkg/controller/user-cluster-controller-manager/resources/resources/node-local-dns/deamonset.go
  pkg/resources/dns/dns.go
  pkg/resources/metrics-server/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

more scripts documentation
  hack/README.md
  hack/ci/README.md
  hack/ci/canary-github-release.sh
  hack/ci/deploy-ci-kubermatic-io.sh
  hack/ci/deploy-dev-asia.sh
  hack/ci/deploy-dev.sh
  hack/ci/deploy-offline.sh
  hack/ci/deploy.sh
  hack/ci/download-gocache.sh
  hack/ci/github-release.sh
  hack/ci/push-images.sh
  hack/ci/run-api-e2e.sh
  hack/ci/run-conformance-tester.sh
  hack/ci/run-e2e-tests.sh
  hack/ci/run-lint.sh
  hack/ci/run-offline-test.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/setup-legacy-kubermatic-in-kind.sh
  hack/ci/sync-apiclient.sh
  hack/ci/test-github-release.sh
  hack/ci/update-docs.sh
  hack/ci/upload-gocache.sh
  hack/ci/verify-chart-versions.sh
  hack/ci/verify-user-cluster-prometheus-configs.sh
  hack/gen-api-client.sh
  hack/lib.sh
  hack/meta.sh
  hack/publish-s3-exporter.sh
  hack/release-docker-images.sh
  hack/retag-images.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

remove now unused sync-charts script
  hack/ci/README.md
  hack/ci/sync-charts.sh
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Constraint template patch endpoint (#5959)
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/handler/v2/constraint_template/constraint_template_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/constraint_template.go
  pkg/provider/kubernetes/constraint_template_test.go
  pkg/provider/types.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/constrainttemplates_client.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/patch_constraint_template_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/patch_constraint_template_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add endpoint to list openstack availability zones
  api/Gopkg.lock
  api/cmd/kubermatic-api/swagger.json
  api/pkg/api/v1/types.go
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/provider/openstack.go
  api/pkg/provider/cloud/openstack/helper.go
  api/pkg/provider/cloud/openstack/provider.go
  api/pkg/test/e2e/api/utils/apiclient/client/openstack/list_openstack_availability_zones_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/openstack/list_openstack_availability_zones_no_credentials_responses.go
  api/pkg/test/e2e/api/utils/apiclient/client/openstack/list_openstack_availability_zones_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/openstack/list_openstack_availability_zones_responses.go
  api/pkg/test/e2e/api/utils/apiclient/client/openstack/openstack_client.go
  api/pkg/test/e2e/api/utils/apiclient/models/openstack_availability_zone.go
  api/vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/availabilityzones/doc.go
  api/vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/availabilityzones/requests.go
  api/vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/availabilityzones/results.go
  api/vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/availabilityzones/urls.go
  api/vendor/k8s.io/test-infra/gubernator/github/secrets.py
  api/vendor/k8s.io/test-infra/images/krte/variants.yaml
  api/vendor/k8s.io/test-infra/prow/crier/README.md
  api/vendor/k8s.io/test-infra/prow/plank/README.md
  api/vendor/k8s.io/test-infra/prow/tide/README.md
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e

added delete endpoints for CT
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/constraint_template/constraint_template.go
  pkg/handler/v2/constraint_template/constraint_template_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/constraint_template.go
  pkg/provider/kubernetes/constraint_template_test.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

gen api client and swagger
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/constrainttemplates_client.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/delete_constraint_template_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/constrainttemplates/delete_constraint_template_responses.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add example in values file
  charts/values.example.ce.yaml
  charts/values.example.ee.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart

Increase chart versions
  charts/kubermatic/Chart.yaml
  charts/oauth/Chart.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

typos fix
  pkg/handler/v2/constraint_template/constraint_template_test.go
  pkg/provider/kubernetes/constraint_template_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Document option to skip certificate deployment in oauth and kubermatic charts
  charts/kubermatic/values.yaml
  charts/oauth/values.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io

allow disabling Certificate creation in Operator
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/master/resources/kubermatic/common.go
  pkg/controller/operator/master/resources/kubermatic/common_test.go
  pkg/crd/operator/v1alpha1/configuration.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration
