Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

add tolerations to user-cluster system components
  addons/openvpn/openvpn-client-dep.yaml
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/envoy-agent/daemonset.go
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/mla/promtail/daemonset.go
  pkg/controller/user-cluster-controller-manager/resources/resources/node-local-dns/deamonset.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Revert tolerations for deployments
  addons/openvpn/openvpn-client-dep.yaml
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/deployment.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Fix apiserver NetworkPolicy for OIDC issuer - allow local path & IP address in URL (#8419)
  pkg/resources/apiserver/networkpolicy.go
Due: none

Fix apiserver NetworkPolicy for OIDC issuer - allow local path & IP address in URL
  pkg/resources/apiserver/networkpolicy.go
Due: none

Modify aks,eks endpoint path (#8423)
  cmd/kubermatic-api/swagger.json
  pkg/handler/common/provider/aws.go
  pkg/handler/common/provider/azure.go
  pkg/handler/v2/provider/aws.go
  pkg/handler/v2/provider/azure.go
  pkg/handler/v2/provider/gcp.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/aks/aks_client.go
  pkg/test/e2e/utils/apiclient/client/aks/validate_a_k_s_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/eks_client.go
  pkg/test/e2e/utils/apiclient/client/eks/validate_e_k_s_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/list_a_k_s_clusters_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/list_a_k_s_clusters_responses.go
  pkg/test/e2e/utils/apiclient/client/project/list_e_k_s_clusters_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/list_e_k_s_clusters_responses.go
  pkg/test/e2e/utils/apiclient/client/project/project_client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix for project sync race
  pkg/controller/master-controller-manager/project-synchronizer/controller.go
  pkg/controller/master-controller-manager/project-synchronizer/controller_test.go
Due: none

add tolerations to user-cluster system components (#8425)
  pkg/controller/user-cluster-controller-manager/resources/resources/envoy-agent/daemonset.go
  pkg/controller/user-cluster-controller-manager/resources/resources/mla/promtail/daemonset.go
  pkg/controller/user-cluster-controller-manager/resources/resources/node-local-dns/deamonset.go
Due: none

add anti-affinity for nodeport proxy envoy
  cmd/image-loader/main.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
  pkg/resources/antiaffinity.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/nodeportproxy/nodeportproxy.go
  pkg/test/e2e/nodeport-proxy/deployer.go
Due: none

add anti-affinity for nodeport proxy envoy (#8442)
  cmd/image-loader/main.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
  pkg/resources/antiaffinity.go
  pkg/resources/etcd/statefulset.go
  pkg/resources/nodeportproxy/nodeportproxy.go
  pkg/test/e2e/nodeport-proxy/deployer.go
Due: none

skip master seed client in project sync
  pkg/controller/master-controller-manager/project-synchronizer/controller.go
Due: none

add nil check
  pkg/controller/master-controller-manager/project-synchronizer/controller.go
Due: none

fix test
  pkg/controller/master-controller-manager/project-synchronizer/controller_test.go
Due: none

Fix flaky admin api e2e test (#8404)
  pkg/controller/master-controller-manager/project-synchronizer/controller.go
Due: none

support for KubeVirt CSI driver
  addons/csi/kubevirt/csi-driver-operator.yaml
  charts/kubermatic/Chart.yaml
  docs/zz_generated.addondata.go.txt
  pkg/provider/cloud/kubevirt/client.go
  pkg/provider/cloud/kubevirt/reconciler.go
  pkg/provider/cloud/kubevirt/storage.go
  pkg/provider/kubernetes/credentials.go
  pkg/resources/credentials.go
  pkg/resources/resources.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Add missing CNIPlugin bolierplate into PatchEndpoint
  pkg/handler/common/cluster.go
Due: none

Fix CNI reconciliation issue after upgrade to k8s 1.22 (#8396)
  pkg/webhook/cluster/mutation/mutation.go
Due: none

update cilium to version 1.11
  addons/cilium/cilium.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

add ca generation to cilium
  addons/cilium/cilium.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

remove hubble relay cert-gen
  addons/cilium/cilium.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Create AKS nodepool (#8399)
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/v2/external_cluster/aks.go
  pkg/handler/v2/external_cluster/node.go
  pkg/test/e2e/utils/apiclient/models/a_k_s_machine_deployment_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/agent_pool_basics.go
  pkg/test/e2e/utils/apiclient/models/agent_pool_optional_settings.go
  pkg/test/e2e/utils/apiclient/models/agent_pool_upgrade_settings.go
  pkg/test/e2e/utils/apiclient/models/external_cluster_machine_deployment_cloud_spec.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Add EventRateLimit to allowed admission plugins
  pkg/handler/common/cluster.go
  pkg/handler/v1/admission-plugin/admission_plugin.go
  pkg/resources/cluster/cluster.go
Due: none

Fix tests
  pkg/handler/v1/admission-plugin/admission_plugin_test.go
Due: none

Add missing CNIPlugin bolierplate into PatchEndpoint (#8449)
  pkg/handler/common/cluster.go
Due: none

add adjustable resource limits for gatkeeper
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/deployment.go
  pkg/crd/kubermatic/v1/cluster.go
Due: none

codegen
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
Due: none

update new CRD
  pkg/apis/kubermatic/v1/cluster.go
Due: none

fix imports
  pkg/apis/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/cluster.go
Due: none

gen swagger and api-clients
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/utils/apiclient/models/o_p_a_integration_settings.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

bump operator chart
  charts/kubermatic-operator/Chart.yaml
Due: none

Refactor setting of DNSPolicy and DNSConfig
  pkg/resources/apiserver/deployment.go
  pkg/resources/cloudcontroller/hetzner.go
  pkg/resources/cloudcontroller/kubevirt.go
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/cloudcontroller/vsphere.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/resources.go
  pkg/resources/scheduler/deployment.go
Due: none

Update fixtures
  pkg/resources/test/fixtures/configmap-aws-1.20.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-aws-1.21.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-aws-1.22.1-prometheus.yaml
  pkg/resources/test/fixtures/configmap-azure-1.20.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-azure-1.21.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-azure-1.22.1-prometheus.yaml
  pkg/resources/test/fixtures/configmap-bringyourown-1.20.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-bringyourown-1.21.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-bringyourown-1.22.1-prometheus.yaml
  pkg/resources/test/fixtures/configmap-digitalocean-1.20.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-digitalocean-1.21.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-digitalocean-1.22.1-prometheus.yaml
  pkg/resources/test/fixtures/configmap-openstack-1.20.0-prometheus-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-openstack-1.20.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-openstack-1.21.0-prometheus-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-openstack-1.21.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-openstack-1.22.1-prometheus-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-openstack-1.22.1-prometheus.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.20.0-prometheus-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.20.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.21.0-prometheus-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.21.0-prometheus.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-prometheus-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-prometheus.yaml
Due: none
