Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-build:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - build
      resources:
        requests:
          memory: 2Gi
          cpu: 2
        limits:
          memory: 4Gi

pre-kubermatic-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2

pre-kubermatic-verify:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 500m
        limits:
          memory: 2.5Gi
          cpu: 1

pre-kubermatic-verify-charts:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m

pre-kubermatic-verify-yaml-examples:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-yaml-examples.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 250m

pre-kubermatic-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.17.1
      command:
      - make
      args:
      - -C
      - api
      - lint
      resources:
        requests:
          memory: 17Gi
          cpu: 3
        limits:
          memory: 17Gi

pre-kubermatic-dependencies:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/dep:0.5.4-2
      command:
      - make
      args:
      - -C
      - api
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m

pre-kubermatic-license-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.2.1-1
      command:
      - make
      args:
      - -C
      - api
      - license-validation

pre-kubermatic-prometheus-rules-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/promtool:2.7.0-3
      command:
      - make
      args:
      - -C
      - config/monitoring
      - check-rules
    imagePullSecrets:
    - name: quay

Updated alibaba instance types (#5169)
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/provider/alibaba.go
  api/pkg/provider/cloud/alibaba/provider.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

fix lb-updater using legacy CLI flags
  config/nodeport-proxy/Chart.yaml
  config/nodeport-proxy/templates/deployment.yaml
Due: pre-kubermatic-verify-charts

Cleanup metrics-server for the user-cluster
  api/pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/apiservice.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/clusterrole.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/clusterrolebinding.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/external-name-service.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/rolebinding.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

fix lb-updater using legacy CLI flags (#5183)
  config/nodeport-proxy/Chart.yaml
  config/nodeport-proxy/templates/deployment.yaml
Due: pre-kubermatic-verify-charts

configure dedicated certificate for oauth as well
  config/oauth/Chart.yaml
  config/oauth/templates/certificate.yaml
  config/oauth/templates/ingress.yaml
  config/oauth/values.yaml
Due: pre-kubermatic-verify-charts

configure dedicated certificate for oauth as well (#5184)
  config/oauth/Chart.yaml
  config/oauth/templates/certificate.yaml
  config/oauth/templates/ingress.yaml
  config/oauth/values.yaml
Due: pre-kubermatic-verify-charts

Removing metrics-server addons files
  addons/metrics-server/auth-delegator.yaml
  addons/metrics-server/auth-reader.yaml
  addons/metrics-server/metrics-apiservice.yaml
  addons/metrics-server/metrics-server-deployment.yaml
  addons/metrics-server/metrics-server-service.yaml
  addons/metrics-server/resource-reader.yaml
Due: none

Removing metrics-server addons check in the seed-controller-manager
  api/cmd/seed-controller-manager/options.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

allow admins to delete any cluster
  api/cmd/kubermatic-api/main.go
  api/cmd/kubermatic-api/options.go
  api/pkg/handler/routes_v1.go
  api/pkg/handler/routing.go
  api/pkg/handler/test/hack/hack.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/cluster/cluster.go
  api/pkg/handler/v1/cluster/cluster_test.go
  api/pkg/provider/kubernetes/cluster.go
  api/pkg/provider/kubernetes/ssh.go
  api/pkg/provider/types.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

add alibaba zones endpoints
  api/cmd/kubermatic-api/swagger.json
  api/pkg/api/v1/types.go
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/provider/alibaba.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/alibaba_client.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_zones_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_zones_no_credentials_responses.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_zones_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_zones_responses.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_node_spec.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_zone.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_zone_list.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

use const
  api/pkg/handler/v1/provider/alibaba.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Add endpoints to fetch alibaba zones (#5188)
  api/cmd/kubermatic-api/swagger.json
  api/pkg/api/v1/types.go
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/provider/alibaba.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/alibaba_client.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_zones_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_zones_no_credentials_responses.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_zones_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_zones_responses.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_node_spec.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_zone.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_zone_list.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

allow admins to delete any cluster (#5187)
  api/cmd/kubermatic-api/main.go
  api/cmd/kubermatic-api/options.go
  api/pkg/handler/routes_v1.go
  api/pkg/handler/routing.go
  api/pkg/handler/test/hack/hack.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/cluster/cluster.go
  api/pkg/handler/v1/cluster/cluster_test.go
  api/pkg/provider/kubernetes/cluster.go
  api/pkg/provider/kubernetes/ssh.go
  api/pkg/provider/types.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

run ci-setup-kubermatic-in-kind.sh in current env instead of sourcing
  api/hack/ci/ci-kind-e2e.sh
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/hack/ci/ci_run_api_e2e.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

ci-kind-e2e.sh: cleaner version determination
  api/hack/ci/ci-kind-e2e.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Apply log retention policy to Loki
  config/logging/loki/Chart.yaml
  config/logging/loki/values.yaml
Due: pre-kubermatic-verify-charts

adding tests for the user cluster prometheus metrics
  api/cmd/conformance-tests/custom_tests.go
  api/cmd/conformance-tests/runner.go
  api/cmd/conformance-tests/testdata/expected_metrics.json
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Fix retention policy for Loki
  config/logging/loki/values.yaml
Due: pre-kubermatic-verify-charts

fix validation for alibaba
  api/pkg/provider/cloud/alibaba/provider.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Fix retention policy for Loki
  config/logging/loki/Chart.yaml
Due: pre-kubermatic-verify-charts

fix validation for alibaba (#5192)
  api/pkg/provider/cloud/alibaba/provider.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Fix retention policy for Loki (#5191)
  config/logging/loki/Chart.yaml
  config/logging/loki/values.yaml
Due: pre-kubermatic-verify-charts

checkout the correct version, part 2
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

lib.sh/retry: quote parameters to prevent string splitting
  api/hack/lib.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

ci-kind-e2e.sh: checkout the correct version of both code and charts during upgrade test
  api/hack/ci/ci-kind-e2e.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

temporarily pass the removed clusterexposer flag "namespace"
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/pkg/test/clusterexposer/cmd/main.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

temporarily change the way we wait for clusterexposer
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

temporary hack for upgrade from dex v2.16.0
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Proposal for Loki implementation on user-cluster
  docs/proposals/user-cluster-loki.md
Due: pre-kubermatic-verify-yaml-examples

fix missing project-id label on credential secrets
  api/pkg/provider/kubernetes/credentials.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Update coredns task
  docs/proposals/user-cluster-loki.md
Due: pre-kubermatic-verify-yaml-examples

Path conditions:
  pre-kubermatic-build: any of: ^api/
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-yaml-examples: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-coreos-1.15: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.15: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-coreos-1.17: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-aws-openshift-4.1: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/
