Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.23, pre-kubermatic-e2e-nutanix-centos-1.23, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-appcatalog-aikit, pre-kubermatic-appcatalog-argocd, pre-kubermatic-appcatalog-cluster-autoscaler, pre-kubermatic-appcatalog-cert-manager, pre-kubermatic-appcatalog-falco, pre-kubermatic-appcatalog-flux, pre-kubermatic-appcatalog-k8sgpt-operator, pre-kubermatic-appcatalog-kube-vip, pre-kubermatic-appcatalog-kubevirt, pre-kubermatic-appcatalog-metallb, pre-kubermatic-appcatalog-nginx-ingress-controller, pre-kubermatic-appcatalog-nvidia-gpu-operator, pre-kubermatic-appcatalog-trivy, pre-kubermatic-appcatalog-trivy-operator, pre-kubermatic-appcatalog-local-ai, pre-kubermatic-app-definitions, pre-kubermatic-ccm-migration-gcp-e2e, pre-kubermatic-ccm-migration-azure-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-ipam-e2e, pre-kubermatic-cluster-backup-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan, pre-kubermatic-test-build-utility-images, pre-kubermatic-test-addon-upgrades

pre-kubermatic-test:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-6
      command:
      - make
      args:
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-test-integration:
  decorate: true
  labels:
    preset-vsphere: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/integration-tests:5-0
      command:
      - make
      args:
      - test-integration
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 4Gi
  ...

pre-kubermatic-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golangci/golangci-lint:v1.43.0
      command:
      - make
      args:
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-simulate-github-release:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-6
      command:
      - ./hack/ci/test-github-release.sh
      resources:
        requests:
          memory: 3Gi
          cpu: 2

pre-kubermatic-test-helm-charts:
  decorate: true
  labels:
    preset-docker-pull: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.12-8
      command:
      - ./hack/ci/test-helm-charts.sh
      env:
  ...

pre-kubermatic-test-user-ssh-key-agent-multiarch:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.12-8
      env:
      - name: KUBERMATIC_EDITION
        value: ee
      command:
      - ./hack/ci/run-user-ssh-key-agent-tests.sh
      securityContext:
        privileged: true
  ...

pre-kubermatic-e2e-aws-ubuntu-1.20:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-vault: 'true'
    preset-repo-ssh: 'true'
    preset-e2e-ssh: 'true'
    preset-kubeconfig-ci: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

pre-kubermatic-e2e-aws-ubuntu-1.21:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-vault: 'true'
    preset-repo-ssh: 'true'
    preset-e2e-ssh: 'true'
    preset-kubeconfig-ci: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

limit dependabot to one weekly PR per module and branch
  .github/dependabot.yml
Due: none

limit dependabot to one weekly PR per module and branch (#16408)
  .github/dependabot.yml
Due: none

Fix KubeLB tenant migration and reconciliation error handling
  pkg/ee/kubelb/README.md
  pkg/ee/kubelb/controller.go
  pkg/ee/kubelb/controller_integration_test.go
  pkg/ee/kubelb/controller_test.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant_managed_fields.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant_managed_fields_test.go
  pkg/ee/kubelb/testdata/tenant-crd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

feat(config): add key configuration for user clusters
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
Due: none

Add cosign signing to the release by using GCP service account
  hack/ci/github-release.sh
  hack/lib.sh
  hack/release-images.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

fix link to kkp upgrade docs in changelogs for v2.31
  docs/changelogs/CHANGELOG-2.31.md
Due: none

Fix AddonCollector truncating cluster names at the first dash, breaking /metrics (#16312)
  pkg/collectors/addon.go
  pkg/collectors/addon_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

fix link to kkp upgrade docs in changelogs for v2.31 (#16467)
  docs/changelogs/CHANGELOG-2.31.md
Due: none

Reconcile KubeLB tenant defaults when project settings change (#16465)
  go.mod
  hack/run-integration-tests.sh
  pkg/ee/kubelb/README.md
  pkg/ee/kubelb/controller.go
  pkg/ee/kubelb/controller_integration_test.go
  pkg/ee/kubelb/controller_test.go
  pkg/ee/kubelb/resources/kubelb-cluster/resources.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant_managed_fields.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant_managed_fields_test.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant_test.go
  pkg/ee/kubelb/testdata/tenant-crd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan

add ec2:DescribeInstanceTopology to AWS control-plane policy
  pkg/provider/cloud/aws/policy.go
  pkg/provider/cloud/aws/testdata/kramer-control-plane.golden.json
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-e2e-kind-test

fix cis benchmark workflow
  .github/workflows/cis-bench.yml
Due: none

fix cis benchmark workflow (#16472)
  .github/workflows/cis-bench.yml
Due: none

Reconcile KubeLB tenant defaults when project settings change
  go.mod
  hack/run-integration-tests.sh
  pkg/ee/kubelb/README.md
  pkg/ee/kubelb/controller.go
  pkg/ee/kubelb/controller_integration_test.go
  pkg/ee/kubelb/controller_test.go
  pkg/ee/kubelb/resources/kubelb-cluster/resources.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant_managed_fields.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant_managed_fields_test.go
  pkg/ee/kubelb/resources/kubelb-cluster/tenant_test.go
  pkg/ee/kubelb/testdata/tenant-crd.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan

reject invalid skipEvictionAfter seed defaults in the seed webhook
  pkg/webhook/seed/validation.go
  pkg/webhook/seed/validation_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

extract machineController validation into its own helper
  pkg/validation/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

make the machine-controller eviction timeout configurable
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/machinecontroller/deployment_test.go
  pkg/validation/cluster.go
  sdk/apis/kubermatic/v1/cluster.go
  sdk/apis/kubermatic/v1/zz_generated.deepcopy.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Exercise Kyverno policy lifecycle and harden e2e assertions
  .prow/features.yaml
  hack/ci/README.md
  hack/ci/run-kyverno-e2e-tests.sh
  pkg/test/e2e/kyverno/doc.go
  pkg/test/e2e/kyverno/helpers_test.go
  pkg/test/e2e/kyverno/kyverno_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan

Use mirrored minio/mc image in minio-lifecycle-mgr chart
  charts/mla/minio-lifecycle-mgr/test/config.yaml.out
  charts/mla/minio-lifecycle-mgr/test/default.yaml.out
  charts/mla/minio-lifecycle-mgr/test/image-pull-secret.yaml.out
  charts/mla/minio-lifecycle-mgr/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

Include binding conditions in Kyverno e2e failures
  pkg/test/e2e/kyverno/helpers_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Fix Kyverno policy reconciliation with CRD defaults
  pkg/ee/policy-binding-controller/controller.go
  pkg/ee/policy-binding-controller/controller_integration_test.go
  pkg/ee/policy-binding-controller/defaults.go
  pkg/ee/policy-binding-controller/defaults_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Bump cert-manager Helm chart to v1.21.2
  charts/cert-manager/Chart.lock
  charts/cert-manager/Chart.yaml
  charts/cert-manager/crd/cert-manager.crds.yaml
  charts/cert-manager/test/default.yaml.out
  charts/cert-manager/test/override-controller-test.yaml.out
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-cilium-e2e

Handle line-wrapped Kyverno admission messages in e2e checks
  pkg/test/e2e/kyverno/helpers_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Fix Kyverno policy reconciliation with CRD defaults (#16479)
  pkg/ee/policy-binding-controller/controller.go
  pkg/ee/policy-binding-controller/controller_integration_test.go
  pkg/ee/policy-binding-controller/defaults.go
  pkg/ee/policy-binding-controller/defaults_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Fix Kyverno policy reconciliation with CRD defaults (#16482)
  pkg/ee/policy-binding-controller/controller.go
  pkg/ee/policy-binding-controller/controller_integration_test.go
  pkg/ee/policy-binding-controller/defaults.go
  pkg/ee/policy-binding-controller/defaults_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Fix Kyverno policy reconciliation with CRD defaults (#16483)
  pkg/ee/policy-binding-controller/controller.go
  pkg/ee/policy-binding-controller/controller_integration_test.go
  pkg/ee/policy-binding-controller/defaults.go
  pkg/ee/policy-binding-controller/defaults_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Use mirrored minio/mc image in minio-lifecycle-mgr chart (#16478)
  charts/mla/minio-lifecycle-mgr/test/config.yaml.out
  charts/mla/minio-lifecycle-mgr/test/default.yaml.out
  charts/mla/minio-lifecycle-mgr/test/image-pull-secret.yaml.out
  charts/mla/minio-lifecycle-mgr/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

Use mirrored minio/mc image in minio-lifecycle-mgr chart (#16486)
  charts/mla/minio-lifecycle-mgr/test/config.yaml.out
  charts/mla/minio-lifecycle-mgr/test/default.yaml.out
  charts/mla/minio-lifecycle-mgr/test/image-pull-secret.yaml.out
  charts/mla/minio-lifecycle-mgr/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

Use mirrored minio/mc image in minio-lifecycle-mgr chart (#16485)
  charts/mla/minio-lifecycle-mgr/test/config.yaml.out
  charts/mla/minio-lifecycle-mgr/test/default.yaml.out
  charts/mla/minio-lifecycle-mgr/test/image-pull-secret.yaml.out
  charts/mla/minio-lifecycle-mgr/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

use mirrored minio images in minio, mla and gitops charts
  charts/gitops/kkp-argocd-apps/templates/argocd-apps-storage.yaml
  charts/gitops/kkp-argocd-apps/test/realworld.yaml.out
  charts/minio/test/enable-ingress.yaml.out
  charts/minio/test/existing-secret.yaml.out
  charts/minio/test/image-pull-secret.yaml.out
  charts/minio/test/values.example.ce.yaml.out
  charts/minio/test/values.example.ee.yaml.out
  charts/minio/values.yaml
  charts/mla/minio/test/config.yaml.out
  charts/mla/minio/test/default.yaml.out
  charts/mla/minio/values.yaml
Due: pre-kubermatic-test-helm-charts, pre-kubermatic-mla-e2e

fix cis workflow based on latest update on conformance-ee
  .github/workflows/cis-bench.yml
Due: none

fix cis workflow based on latest update on conformance-ee (#16493)
  .github/workflows/cis-bench.yml
Due: none

Path conditions:
  pre-kubermatic-test: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: (go.mod|go.sum|cmd/|codegen/|hack/|pkg/))
  pre-kubermatic-test-integration: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: (go.mod|go.sum|cmd/|codegen/|hack/|pkg/))
  pre-kubermatic-lint: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: ^(cmd/|codegen/|hack/|pkg/|go.mod|go.sum))
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)) or (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow/))
  pre-kubermatic-etcd-launcher-e2e: (any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)) or (any of: (cmd/etcd-launcher/|pkg/|.prow/))
  pre-kubermatic-nodeport-proxy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-opa-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-expose-strategy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/|charts/mla/))
  pre-kubermatic-appcatalog-aikit: any of: (pkg/ee/default-application-catalog/applicationdefinitions/aikit-app.yaml)
  pre-kubermatic-appcatalog-argocd: any of: (pkg/ee/default-application-catalog/applicationdefinitions/argocd-app.yaml)
  pre-kubermatic-appcatalog-cluster-autoscaler: any of: (pkg/applicationdefinitions)
  pre-kubermatic-appcatalog-cert-manager: any of: (pkg/ee/default-application-catalog/applicationdefinitions/cert-manager-app.yaml)
  pre-kubermatic-appcatalog-falco: any of: (pkg/ee/default-application-catalog/applicationdefinitions/falco-app.yaml)
  pre-kubermatic-appcatalog-flux: any of: (pkg/ee/default-application-catalog/applicationdefinitions/flux2-app.yaml)
  pre-kubermatic-appcatalog-k8sgpt-operator: any of: (pkg/ee/default-application-catalog/applicationdefinitions/k8sgpt-app.yaml)
  pre-kubermatic-appcatalog-kube-vip: any of: (pkg/ee/default-application-catalog/applicationdefinitions/kube-vip-app.yaml)
  pre-kubermatic-appcatalog-kubevirt: any of: (pkg/ee/default-application-catalog/applicationdefinitions/kubevirt-app.yaml)
  pre-kubermatic-appcatalog-metallb: any of: (pkg/ee/default-application-catalog/applicationdefinitions/metallb-app.yaml)
  pre-kubermatic-appcatalog-nginx-ingress-controller: any of: (pkg/ee/default-application-catalog/applicationdefinitions/nginx-app.yaml)
  pre-kubermatic-appcatalog-nvidia-gpu-operator: any of: (pkg/ee/default-application-catalog/applicationdefinitions/nvidia-gpu-operator-app.yaml)
  pre-kubermatic-appcatalog-trivy: any of: (pkg/ee/default-application-catalog/applicationdefinitions/trivy-app.yaml)
  pre-kubermatic-appcatalog-trivy-operator: any of: (pkg/ee/default-application-catalog/applicationdefinitions/trivy-operator-app.yaml)
  pre-kubermatic-appcatalog-local-ai: any of: (pkg/ee/default-application-catalog/applicationdefinitions/local-ai.yaml)
  pre-kubermatic-app-definitions: any of: (pkg/ee/default-application-catalog/application_catalog.go|pkg/ee/default-application-catalog/embed.go|hack/ci/run-application-definitions-e2e-test.sh)
  pre-kubermatic-ccm-migration-gcp-e2e: any of: (pkg/provider/cloud/gcp/|pkg/resources/cloudcontroller/gcp|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-ccm-migration-azure-e2e: any of: (addons/azure-cloud-node-manager/|pkg/provider/cloud/azure/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-dualstack-e2e-aws-cilium: any of: .*(cilium|canal|dualstack|addon|cni|provider|machine|webhook|.prow|go.mod|proxy|network).*
  pre-kubermatic-dualstack-e2e-aws-canal: any of: .*(cilium|canal|dualstack|addon|cni|provider|machine|webhook|.prow|go.mod|proxy|network).*
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow/)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow|go.mod).*
  pre-kubermatic-ipam-e2e: any of: (pkg/controller/seed-controller-manager/ipam/|pkg/webhook/ipampool/|addons/metallb/|pkg/test/e2e/ipam/)
  pre-kubermatic-cluster-backup-e2e: any of: pkg/ee/cluster-backup/
  pre-kubermatic-e2e-kind-test: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow/)
  pre-kubermatic-trivy-scan: any of: (Dockerfile|go.mod|.prow/)
  pre-kubermatic-test-build-utility-images: any of: (hack/release-sidecar-images.sh|hack/images/|cmd/(alertmanager-authorization-server|http-prober|s3-exporter)/)
  pre-kubermatic-test-addon-upgrades: any of: (addons/|pkg/test/addon|pkg/addon|pkg/controller/seed-controller-manager/addon.*)
