Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-e2e-vsphere-ubuntu-1.19, pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.15.1
      command:
      - make
      args:
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.15.1
      command:
      - make
      args:
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 1
        limits:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.4.1
      command:
      - ./hack/ci/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - ./hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.4.1
      command:
      - ./hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-verify-docs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - ./hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golangci/golangci-lint:v1.30.0
      command:
      - make
      args:
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - make
      args:
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
  ...

Add CCM/CSI migration logic (#6535)
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/seed-controller-manager/kubernetes/resources_integration_test.go
  pkg/controller/seed-controller-manager/kubernetes/resources_test.go
  pkg/controller/seed-controller-manager/monitoring/resources.go
  pkg/controller/seed-controller-manager/openshift/data.go
  pkg/controller/seed-controller-manager/openshift/resources/interfaces.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/helper/helper.go
  pkg/kubernetes/helper.go
  pkg/resources/apiserver/deployment.go
  pkg/resources/cloudcontroller/deployment.go
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/data.go
  pkg/resources/data_test.go
  pkg/resources/machinecontroller/deployment.go
  pkg/resources/test/load_files_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Add Multus-CNI for user clusters. (#6477)
  addons/multus/clusterrole.yaml
  addons/multus/clusterrolebinding.yaml
  addons/multus/crds.yaml
  addons/multus/daemonset.yaml
  addons/multus/serviceaccount.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy

Drop CCMMigrationNeeded and CSIMigrationNeeded annotations
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/seed-controller-manager/kubernetes/resources_test.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/data.go
  pkg/resources/data_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Don't enable in-tree cloud provider for existing clusters
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/seed-controller-manager/openshift/data.go
  pkg/resources/apiserver/deployment.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/data.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Address the review comments and fix the CI failures
  pkg/resources/controllermanager/deployment.go
  pkg/resources/data.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Remove the failing test
  pkg/controller/seed-controller-manager/kubernetes/resources_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add error handling for misconfigured nodePortRange
  pkg/resources/apiserver/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix the TestGetCSIMigrationFeatureGates NPEs
  pkg/resources/data_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add components override field to set nodeportrange for apiserver (#6533)
  pkg/crd/kubermatic/v1/cluster.go
  pkg/resources/apiserver/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

added configurable opa gatekeeper webhook timeout, default 10 sec
  cmd/user-cluster-controller-manager/main.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/webhook.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/resources/usercluster/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

codegen and change webhook var to *int32
  cmd/kubermatic-api/swagger.json
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
  pkg/handler/test/helper.go
  pkg/test/e2e/utils/apiclient/models/o_p_a_integration_settings.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

boilerplate Kubmermatic to Loodse, fix in other pr
  pkg/ee/constraint-template-controller/util.go
  pkg/ee/constraint-template-controller/util_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fix usercluster deployment
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/resources/usercluster/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add a proposal for service account V2 (#6589)
  docs/proposals/service-account-v2.md
Due: pre-kubermatic-verify-docs

ensure projectID label is not empty (#6489)
  pkg/provider/kubernetes/credentials.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add .kube directory to ignore file
  .gitignore
Due: none

Use correct autoscaler label names
  pkg/api/v1/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Apply annotations in patch
  pkg/handler/common/machine.go
  pkg/resources/machine/machinedeployment.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add fields that correspond to autoscaler annotations to node deployment
  pkg/api/v1/types.go
  pkg/handler/common/machine.go
  pkg/resources/machine/machinedeployment.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add min/max replicas fields to swagger.json
  cmd/kubermatic-api/swagger.json
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Constraint template filters (#6567)
  cmd/kubermatic-api/swagger.json
  pkg/controller/seed-controller-manager/constraint-template-controller/controller.go
  pkg/controller/seed-controller-manager/constraint-template-controller/wrappers_ce.go
  pkg/controller/seed-controller-manager/constraint-template-controller/wrappers_ee.go
  pkg/crd/kubermatic/v1/constraint_template.go
  pkg/ee/constraint-template-controller/util.go
  pkg/ee/constraint-template-controller/util_test.go
  pkg/handler/v2/constraint_template/constraint_template_test.go
  pkg/test/e2e/utils/apiclient/models/constraint_template_selector.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

fixed issue with kubermatic constraints delete failing because user cluster constraint is missing
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fixed issue with kubermatic constraints delete failing because user cluster constraint is missing (#6598)
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Renamed opaIntegationWebhookTimeout to simply opaWebhookTimeout
  cmd/user-cluster-controller-manager/main.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Gatekeeper webhook timeout (#6590)
  cmd/kubermatic-api/swagger.json
  cmd/user-cluster-controller-manager/main.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/webhook.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
  pkg/handler/test/helper.go
  pkg/resources/usercluster/deployment.go
  pkg/test/e2e/utils/apiclient/models/o_p_a_integration_settings.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

add resource quota for Packet (#6574)
  pkg/handler/common/provider/packet.go
  pkg/handler/routes_v1.go
  pkg/handler/v1/provider/packet.go
  pkg/handler/v2/provider/packet.go
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

lint fix
  cmd/user-cluster-controller-manager/main.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify-charts: any of: ^charts/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(cmd|codegen|hack|pkg|charts)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^charts/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(cmd|codegen|hack|pkg|docs)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-dependencies: any of: ^(cmd|codegen|hack|pkg|go.mod|go.sum)/
  pre-kubermatic-license-validation: any of: ^go.(mod|sum)$
  pre-kubermatic-prometheus-rules-validation: any of: charts/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: pkg/resources/prometheus
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-legacy: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.19: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (hack|charts/kubermatic|pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
