Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.23, pre-kubermatic-e2e-nutanix-centos-1.23, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-ipam-e2e

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)) or (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow/))
  pre-kubermatic-etcd-launcher-e2e: (any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)) or (any of: (cmd/etcd-launcher/|pkg/|.prow/))
  pre-kubermatic-nodeport-proxy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-opa-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-expose-strategy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow/)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow|go.mod).*
  pre-kubermatic-ipam-e2e: any of: pkg/controller/seed-controller-manager/ipam/

changed quota PUT to PATCH
  pkg/ee/resource-quotas/handler.go
  pkg/ee/resource-quotas/handler_test.go
  pkg/ee/resource-quotas/provider.go
  pkg/ee/resource-quotas/provider_test.go
  pkg/handler/v2/resource_quota/resourequota.go
  pkg/handler/v2/resource_quota/wrappers_ce.go
  pkg/handler/v2/resource_quota/wrappers_ee.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Add a TODO to implement Role wording in UserProjectBinding
  pkg/apis/kubermatic/v1/user_project_binding.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Update json key to also be 'projectID'
  pkg/apis/kubermatic/v1/group_project_binding.go
  pkg/crd/k8c.io/kubermatic.k8c.io_groupprojectbindings.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

update swagger & api client
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/utils/apiclient/client/resource/patch_resource_quota_parameters.go
  pkg/test/e2e/utils/apiclient/client/resource/patch_resource_quota_responses.go
  pkg/test/e2e/utils/apiclient/client/resource/resource_client.go
  pkg/test/e2e/utils/apiclient/client/resource/update_resource_quota_parameters.go
  pkg/test/e2e/utils/apiclient/client/resource/update_resource_quota_responses.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add resource quota validation webhook
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/master/resources/kubermatic/webhooks.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

moved resource quota model from v1 to v2
  pkg/api/v1/types.go
  pkg/api/v2/types.go
  pkg/ee/resource-quotas/handler.go
  pkg/ee/resource-quotas/handler_test.go
  pkg/handler/v2/resource_quota/wrappers_ce.go
  pkg/handler/v2/resource_quota/wrappers_ee.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

updated swagger
  cmd/kubermatic-api/swagger.json
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e

fix imports
  pkg/ee/resource-quotas/handler_test.go
  pkg/handler/v2/resource_quota/wrappers_ee.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Checking if client is not empty before using it
  pkg/controller/seed-controller-manager/addon/addon_controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Adding cluster IPAM allocations to addon template data
  codegen/addon-resources/main.go
  pkg/addon/template.go
  pkg/addon/template_test.go
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/install/images/addons.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Changing from a list to a map
  pkg/addon/template.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Adding a test for checking template data for IPAM allocations
  pkg/addon/template_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Fixing verification issues
  docs/zz_generated.addondata.go.txt
  pkg/addon/template_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

Fix printer columns
  pkg/apis/kubermatic/v1/group_project_binding.go
  pkg/crd/k8c.io/kubermatic.k8c.io_groupprojectbindings.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

upd swagger param
  pkg/ee/resource-quotas/handler.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

update swagger & api client
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/utils/apiclient/client/resource/patch_resource_quota_parameters.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

add resource quota validation webhook (#10159)
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/master/resources/kubermatic/webhooks.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

lint fix
  pkg/ee/resource-quotas/helpers.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

replace upd with patch, moved closer to syncer
  pkg/ee/cmd/kubermatic-api/wrappers.go
  pkg/ee/resource-quota/handler.go
  pkg/ee/resource-quota/handler_test.go
  pkg/ee/resource-quota/helpers.go
  pkg/ee/resource-quota/provider.go
  pkg/ee/resource-quota/provider_test.go
  pkg/handler/v2/resource_quota/wrappers_ee.go
  pkg/provider/types.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

update swagger & api client
  cmd/kubermatic-api/swagger.json
  pkg/ee/resource-quota/handler.go
  pkg/ee/resource-quota/handler_test.go
  pkg/ee/resource-quota/helpers.go
  pkg/ee/resource-quota/provider.go
  pkg/ee/resource-quota/provider_test.go
  pkg/handler/v2/resource_quota/wrappers_ee.go
  pkg/test/e2e/utils/apiclient/client/resource/patch_resource_quota_parameters.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

fix tests
  pkg/ee/resource-quota/handler_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Use policy/v1 API instead of policy/v1beta1 for PDBs
  codegen/reconcile/main.go
  pkg/controller/operator/master/controller.go
  pkg/controller/operator/master/resources/kubermatic/api.go
  pkg/controller/operator/master/resources/kubermatic/master-controller-manager.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/controller/operator/seed/controller.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/pod_disruption.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/removal.go
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/deletion.go
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/deletion.go
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/deployment.go
  pkg/resources/apiserver/pdb.go
  pkg/resources/dns/deletion.go
  pkg/resources/dns/dns.go
  pkg/resources/etcd/pdb.go
  pkg/resources/metrics-server/deletion.go
  pkg/resources/metrics-server/pdb.go
  pkg/resources/nodeportproxy/nodeportproxy.go
  pkg/resources/reconciling/zz_generated_reconcile.go
  pkg/resources/test/load_files_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e

Adding cluster IPAM allocations to addon template data (#10130)
  codegen/addon-resources/main.go
  docs/zz_generated.addondata.go.txt
  pkg/addon/template.go
  pkg/addon/template_test.go
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/install/images/addons.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

update Websocket endpoint for the Web terminal (#10132)
  pkg/cluster/client/client.go
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/handler/routes_v1_websocket.go
  pkg/handler/test/helper.go
  pkg/handler/v1/project/project_test.go
  pkg/handler/websocket/terminal.go
  pkg/provider/kubernetes/cluster.go
  pkg/provider/kubernetes/cluster_internal_test.go
  pkg/provider/types.go
  pkg/resources/web-terminal/deployment.go
  pkg/test/e2e/api/util.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

split dualstack e2e test job by cnis
  .prow/features.yaml
  hack/ci/run-dualstack-e2e-test.sh
  pkg/test/dualstack/cloud_providers_dualstack_test.go
  pkg/test/dualstack/dualstack_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e

Use sync-forever in Konnectivity agent to support apiserver scaling
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e

bugfix: use correct flag variable
  pkg/test/dualstack/dualstack_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

Fix argument passing
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e

add dualstack tests for digitalocean (#10009)
  .prow/features.yaml
  cmd/kubermatic-api/swagger.json
  hack/ci/run-dualstack-e2e-test.sh
  hack/ci/setup-kind-cluster.sh
  pkg/api/v1/types.go
  pkg/test/dualstack/cloud_providers.go
  pkg/test/dualstack/cloud_providers_dualstack_test.go
  pkg/test/dualstack/dualstack_test.go
  pkg/test/e2e/utils/apiclient/models/digitalocean_node_spec.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e

fix linter
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

API e2e tests still need the API
  hack/ci/run-api-e2e.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e

WIP rewrite cilium
  hack/ci/testdata/kubermatic.yaml
  hack/ci/testdata/kubermatic_api.yaml
  pkg/test/e2e/cilium/cilium_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

change e2e tests to by headless by default
  .prow/provider-aws.yaml
  hack/ci/run-conformance-tests.sh
  hack/ci/run-e2e-tests.sh
  hack/ci/run-opa-e2e-tests.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/kubermatic.yaml
  hack/ci/testdata/kubermatic_api.yaml
  hack/ci/testdata/kubermatic_backup.yaml
  hack/ci/testdata/kubermatic_cilium.yaml
  hack/ci/testdata/kubermatic_dualstack.yaml
  hack/ci/testdata/kubermatic_konnectivity.yaml
  hack/ci/testdata/kubermatic_mla.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e

only test cilium
  .prow/api.yaml
  .prow/ccm-migrations.yaml
  .prow/features.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-packet.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/tests.yaml
Due: pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e

Use sync-forever mode in Konnectivity agent to support apiserver scaling (#10163)
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e

fix getting usercluster client
  hack/ci/run-cilium-e2e-test.sh
  pkg/test/e2e/cilium/cilium_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

file setup
  pkg/ee/mutation/resourcequota/mutation.go
  pkg/webhook/resourcequota/mutation/mutation.go
  pkg/webhook/resourcequota/mutation/wrappers_ce.go
  pkg/webhook/resourcequota/mutation/wrappers_ee.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e

fix missing import
  pkg/handler/v2/resource_quota/wrappers_ce.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

create cluster namespace first, then update its status
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/kubernetes/pending.go
  pkg/controller/seed-controller-manager/kubernetes/resources.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e

wait for cluster namespace
  pkg/test/e2e/cilium/cilium_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e
