Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 500m
        limits:
          memory: 2.5Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
      env:
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-docs:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.23.6
      command:
      - make
      args:
      - -C
      - api
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/dep:0.5.4-2
      command:
      - make
      args:
      - -C
      - api
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-license-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.2.1-1
      command:
      - make
      args:
      - -C
      - api
      - license-validation
      env:
      - name: KUBERMATIC_EDITION
        value: ee

fix user watcher typo
  cmd/kubermatic-api/main.go
  pkg/watcher/kubernetes/settings.go
  pkg/watcher/kubernetes/user.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

gen-api-client
  pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/public_openstack_cloud_spec.go
Due: none

necessary changes for the API group switch
  cmd/example-yaml-generator/main.go
  pkg/api/v1/types.go
  pkg/api/v2/types.go
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/project.go
  pkg/controller/seed-controller-manager/mla/alertmanager_controller.go
  pkg/controller/seed-controller-manager/mla/datasource_grafana_controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/handler/common/cluster.go
  pkg/handler/v1/cluster/cluster.go
  pkg/handler/v1/common/conversion.go
  pkg/handler/v1/dc/datacenter.go
  pkg/handler/v1/provider/openstack.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/handler/v2/preset/preset.go
  pkg/install/crdmigration/clones.go
  pkg/provider/cloud/openstack/provider.go
  pkg/provider/conversions.go
  pkg/provider/kubernetes/credentials.go
  pkg/provider/kubernetes/preset.go
  pkg/provider/kubernetes/settings.go
  pkg/provider/kubernetes/user.go
  pkg/resources/credentials.go
  pkg/test/e2e/utils/apiclient/models/metering_configuration.go
  pkg/test/e2e/utils/client.go
  pkg/validation/cluster.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

use admin client to update cluster status during cluster creation
  pkg/provider/kubernetes/cluster.go
Due: none

it compiles!
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_openstack.go
  cmd/kubermatic-api/swagger.json
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/test/e2e/utils/apiclient/models/a_w_s_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/alibaba_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/azure_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/cleanup_options.go
  pkg/test/e2e/utils/apiclient/models/cluster_type.go
  pkg/test/e2e/utils/apiclient/models/datacenter_spec_anexia.go
  pkg/test/e2e/utils/apiclient/models/datacenter_spec_fake.go
  pkg/test/e2e/utils/apiclient/models/datacenter_spec_g_c_p.go
  pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  pkg/test/e2e/utils/apiclient/models/datacenter_spec_v_sphere.go
  pkg/test/e2e/utils/apiclient/models/g_c_p_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/health_status.go
  pkg/test/e2e/utils/apiclient/models/l_b_s_k_u.go
  pkg/test/e2e/utils/apiclient/models/metering_configurations.go
  pkg/test/e2e/utils/apiclient/models/node_settings.go
  pkg/test/e2e/utils/apiclient/models/o_id_c_settings.go
  pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/openstack_node_size_requirements.go
  pkg/test/e2e/utils/apiclient/models/proxy_settings.go
  pkg/test/e2e/utils/apiclient/models/seed_m_l_a_settings.go
  pkg/test/e2e/utils/apiclient/models/seed_settings.go
  pkg/test/e2e/utils/apiclient/models/setting_spec.go
  pkg/test/e2e/utils/apiclient/models/user_settings.go
  pkg/test/e2e/utils/client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

rewrite user/settings watcher to not require typed clientsets
  cmd/kubermatic-api/main.go
  pkg/controller/util/util.go
  pkg/handler/test/helper.go
  pkg/handler/v1/serviceaccount/token_test.go
  pkg/handler/websocket/user_test.go
  pkg/watcher/kubernetes/settings.go
  pkg/watcher/kubernetes/settings_test.go
  pkg/watcher/kubernetes/user.go
  pkg/watcher/kubernetes/user_test.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

update status subresources explicitly
  pkg/controller/master-controller-manager/project-label-synchronizer/project_label_synchronizer.go
  pkg/controller/master-controller-manager/project-synchronizer/controller.go
  pkg/controller/master-controller-manager/project-synchronizer/resources.go
  pkg/controller/master-controller-manager/rbac/sync_project.go
  pkg/controller/master-controller-manager/user-synchronizer/controller.go
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/controller/seed-controller-manager/cloud/cloud_controller.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller_test.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller.go
  pkg/controller/seed-controller-manager/etcdrestore/etcd_restore_controller.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/mla/alertmanager_controller.go
  pkg/controller/seed-controller-manager/mla/datasource_grafana_controller.go
  pkg/controller/seed-controller-manager/update/update_controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/handler/v1/dc/datacenter_test.go
  pkg/provider/kubernetes/cluster.go
  pkg/provider/kubernetes/cluster_test.go
  pkg/provider/kubernetes/project.go
  pkg/provider/kubernetes/user.go
  pkg/test/e2e/ccm-migration/cluster.go
  pkg/test/e2e/expose-strategy/cluster.go
Due: none

fix apigroup for operator files
  cmd/kubermatic-operator/main.go
  hack/ci/testdata/kubermatic.yaml
  hack/ci/testdata/kubermatic_backup.yaml
  hack/ci/testdata/kubermatic_mla.yaml
  hack/run-ccm-migration-e2e-test-in-kind.sh
  hack/run-expose-strategy-e2e-test-in-kind.sh
Due: none

fix side effects from patching the spec first, then the status
  pkg/apis/kubermatic/v1/helper/helper.go
  pkg/controller/master-controller-manager/project-label-synchronizer/project_label_synchronizer.go
  pkg/controller/seed-controller-manager/cloud/cloud_controller.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller.go
  pkg/controller/seed-controller-manager/etcdrestore/etcd_restore_controller.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/update/update_controller.go
  pkg/provider/kubernetes/user.go
Due: none

fix leftovers and e2e stuff
  hack/ci/run-api-e2e.sh
  hack/ci/testdata/kubermatic_backup.yaml
  hack/local/run-api-e2e.sh
  hack/run-ccm-migration-e2e-test-in-kind.sh
  pkg/test/e2e/ccm-migration/ccm_migration_suite_test.go
  pkg/test/e2e/ccm-migration/cluster.go
  pkg/test/e2e/expose-strategy/cluster.go
Due: none

fix webhook paths
  pkg/webhook/cluster/mutation/mutation.go
  pkg/webhook/cluster/validation/validation.go
  pkg/webhook/seed/handler.go
Due: none

make installer always install the new CRDs from now on
  cmd/kubermatic-installer/cmd_migrate_crds.go
  pkg/install/crdmigration/options.go
  pkg/install/crdmigration/preflight.go
  pkg/install/crdmigration/setup.go
  pkg/install/crdmigration/shutdown.go
  pkg/install/stack/kubermatic-master/stack.go
  pkg/install/stack/kubermatic-master/validation.go
  pkg/install/stack/types.go
Due: none

update docs
  cmd/example-yaml-generator/main.go
  docs/zz_generated.kubermaticConfiguration.yaml
  docs/zz_generated.seed.yaml
  hack/update-docs.sh
Due: pre-kubermatic-verify-docs

undo renaming the OpenstackTenant API type
  pkg/api/v1/types.go
  pkg/handler/common/provider/openstack.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

completely get rid of all usages of pkg/crd/client/... stuff
  cmd/kubermatic-api/main.go
  cmd/owner-remover/main.go
  cmd/s3-exporter/main.go
  docs/code-style.md
  pkg/controller/master-controller-manager/cluster-template-synchronizer/controller_test.go
  pkg/controller/master-controller-manager/project-synchronizer/controller_test.go
  pkg/controller/master-controller-manager/rbac/cluster_provider.go
  pkg/controller/master-controller-manager/service-account/service_account_binding_test.go
  pkg/controller/master-controller-manager/user-project-binding-synchronizer/controller_test.go
  pkg/controller/master-controller-manager/user-project-binding/user_project_binding_test.go
  pkg/controller/master-controller-manager/user-synchronizer/controller_test.go
  pkg/controller/seed-controller-manager/addoninstaller/addoninstaller_controller_test.go
  pkg/exporters/s3/exporter.go
  pkg/handler/test/helper.go
  pkg/handler/v1/addon/addon_test.go
  pkg/handler/v1/admin/admin_test.go
  pkg/handler/v1/admission-plugin/admission_plugin_test.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v1/dc/datacenter_test.go
  pkg/handler/v1/label/label_test.go
  pkg/handler/v1/node/node_test.go
  pkg/handler/v1/presets/credentials_test.go
  pkg/handler/v1/project/project_test.go
  pkg/handler/v1/provider/aws_test.go
  pkg/handler/v1/seed/seed_test.go
  pkg/handler/v1/serviceaccount/sa_test.go
  pkg/handler/v1/ssh/ssh_test.go
  pkg/handler/v1/user/user_test.go
  pkg/provider/kubernetes/event.go
  pkg/provider/kubernetes/settings.go
  pkg/provider/kubernetes/user.go
  pkg/provider/kubernetes/user_test.go
  pkg/provider/kubernetes/util.go
  pkg/provider/types.go
  pkg/test/e2e/mla/mla_test.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix panic in unit tests
  pkg/provider/kubernetes/cluster_test.go
Due: none

do not use pkg/crd/helper anywhere anymore
  cmd/conformance-tests/runner.go
  docs/code-style.md
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/controller/seed-controller-manager/addoninstaller/addoninstaller_controller.go
  pkg/controller/seed-controller-manager/backup/backup_controller.go
  pkg/controller/seed-controller-manager/cloud/cloud_controller.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller.go
  pkg/controller/seed-controller-manager/etcdrestore/etcd_restore_controller.go
  pkg/controller/seed-controller-manager/initialmachinedeployment/controller.go
  pkg/controller/seed-controller-manager/initialmachinedeployment/controller_test.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/kubernetes/health.go
  pkg/controller/seed-controller-manager/mla/alertmanager_controller.go
  pkg/controller/seed-controller-manager/mla/datasource_grafana_controller.go
  pkg/controller/seed-controller-manager/mla/rulegroup_controller.go
  pkg/controller/seed-controller-manager/monitoring/monitoring_controller.go
  pkg/controller/seed-controller-manager/seedresourcesuptodatecondition/seedresourcesuptodatecondition_controller.go
  pkg/controller/seed-controller-manager/update/update_controller.go
  pkg/controller/user-cluster-controller-manager/ccm-csi-migrator/controller.go
  pkg/controller/user-cluster-controller-manager/ccm-csi-migrator/controller_test.go
  pkg/ee/constraint-template-controller/util_test.go
  pkg/handler/common/cluster.go
  pkg/handler/v2/preset/preset.go
  pkg/install/stack/kubermatic-seed/migrations.go
  pkg/provider/kubernetes/preset.go
  pkg/resources/controllermanager/deployment.go
  pkg/resources/data.go
  pkg/resources/usercluster/deployment.go
  pkg/test/e2e/ccm-migration/ccm_migration_test.go
  pkg/test/e2e/ccm-migration/cluster.go
  pkg/test/e2e/expose-strategy/cluster.go
Due: pre-kubermatic-verify-docs

use Patch() more often to avoid race conditions
  cmd/kubermatic-api/main.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller.go
  pkg/provider/kubernetes/cluster.go
  pkg/provider/kubernetes/project.go
  pkg/provider/kubernetes/user.go
  pkg/test/e2e/ccm-migration/cluster.go
  pkg/test/e2e/expose-strategy/cluster.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

rm -rf pkg/crd/kubermatic/v1/helper
  pkg/crd/kubermatic/v1/helper/helper.go
  pkg/crd/kubermatic/v1/helper/helper_test.go
  pkg/crd/kubermatic/v1/helper/preset.go
Due: none

update webhook paths
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/seed/resources/kubermatic/admission.go
Due: none

make StringifyFeatureGates sort order stable
  pkg/controller/operator/common/util.go
Due: none

appease linter
  pkg/apis/kubermatic/v1/cluster.go
  pkg/ee/metering/handler.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/install/crdmigration/clones.go
Due: none

bump chart versions
  charts/kubermatic-operator/Chart.yaml
  charts/kubermatic/Chart.yaml
  charts/s3-exporter/Chart.yaml
  charts/telemetry/Chart.yaml
  charts/telemetry/values.yaml
Due: none

fix error handling
  cmd/owner-remover/main.go
Due: none

fix ICMP migration random panic
  pkg/controller/seed-controller-manager/cloud/cloud_controller.go
Due: none

update scripts and testdata
  hack/ci/run-api-e2e.sh
  hack/ci/testdata/seed.yaml
  hack/ci/testdata/seed_backup.yaml
  hack/local/run-api-e2e.sh
  hack/run-ccm-migration-e2e-test-in-kind.sh
  hack/run-expose-strategy-e2e-test-in-kind.sh
  pkg/addon/testdata/cluster-kubernetes-aws.yaml
  pkg/addon/testdata/cluster-kubernetes-do.yaml
  pkg/addon/testdata/cluster-openshift-vsphere.yaml
Due: none

dummy
  .prow.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Make hack/update-docs.sh work on macOS
  hack/update-docs.sh
Due: none

Make shfmt happy
  hack/update-docs.sh
Due: none

fix setting cluster conditions in seedresourcesuptodatecondition and ccm-csi-migrator controllers
  pkg/controller/seed-controller-manager/seedresourcesuptodatecondition/seedresourcesuptodatecondition_controller.go
  pkg/controller/user-cluster-controller-manager/ccm-csi-migrator/controller.go
Due: none

fix unit test, now that the cluster provider provides Cluster objects with TypeMeta
  pkg/controller/master-controller-manager/rbac/sync_resource.go
  pkg/provider/kubernetes/cluster_test.go
Due: none

make ClusterReconcileWrapper more robust
  pkg/apis/kubermatic/v1/helper/helper.go
Due: none

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/
