Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.23, pre-kubermatic-e2e-nutanix-centos-1.23, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-appcatalog-aikit, pre-kubermatic-appcatalog-argocd, pre-kubermatic-appcatalog-cluster-autoscaler, pre-kubermatic-appcatalog-cert-manager, pre-kubermatic-appcatalog-falco, pre-kubermatic-appcatalog-flux, pre-kubermatic-appcatalog-k8sgpt-operator, pre-kubermatic-appcatalog-kube-vip, pre-kubermatic-appcatalog-kubevirt, pre-kubermatic-appcatalog-metallb, pre-kubermatic-appcatalog-nginx-ingress-controller, pre-kubermatic-appcatalog-nvidia-gpu-operator, pre-kubermatic-appcatalog-trivy, pre-kubermatic-appcatalog-trivy-operator, pre-kubermatic-appcatalog-local-ai, pre-kubermatic-app-definitions, pre-kubermatic-ccm-migration-gcp-e2e, pre-kubermatic-ccm-migration-azure-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-ipam-e2e, pre-kubermatic-cluster-backup-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-trivy-scan, pre-kubermatic-test-build-utility-images, pre-kubermatic-test-addon-upgrades

pre-kubermatic-test:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-6
      command:
      - make
      args:
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-test-integration:
  decorate: true
  labels:
    preset-vsphere: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/integration-tests:5-0
      command:
      - make
      args:
      - test-integration
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 4Gi
  ...

pre-kubermatic-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golangci/golangci-lint:v1.43.0
      command:
      - make
      args:
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-simulate-github-release:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-6
      command:
      - ./hack/ci/test-github-release.sh
      resources:
        requests:
          memory: 3Gi
          cpu: 2

pre-kubermatic-test-helm-charts:
  decorate: true
  labels:
    preset-docker-pull: 'true'
    preset-kind-volume-mounts: 'true'
    preset-vault: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.12-8
      command:
      - ./hack/ci/test-helm-charts.sh
      env:
  ...

pre-kubermatic-test-user-ssh-key-agent-multiarch:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.12-8
      env:
      - name: KUBERMATIC_EDITION
        value: ee
      command:
      - ./hack/ci/run-user-ssh-key-agent-tests.sh
      securityContext:
        privileged: true
  ...

pre-kubermatic-e2e-aws-ubuntu-1.20:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-vault: 'true'
    preset-repo-ssh: 'true'
    preset-e2e-ssh: 'true'
    preset-kubeconfig-ci: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

pre-kubermatic-e2e-aws-ubuntu-1.21:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-docker-pull: 'true'
    preset-docker-push: 'true'
    preset-vault: 'true'
    preset-repo-ssh: 'true'
    preset-e2e-ssh: 'true'
    preset-kubeconfig-ci: 'true'
    preset-kind-volume-mounts: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
  ...

[release/v2.30] Set Cilium v1.18.6 and canal v3.31 as default version
  pkg/cni/version.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Use kkp-e2e-ubuntu-24.04 source VM for vSphere CI (#15779)
  hack/ci/testdata/seed.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

Use kubeone-ubuntu-22.04-template for vSphere CI
  hack/ci/testdata/seed.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

update for 24.04
  hack/ci/testdata/seed.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

update name after vmx-10 problem
  hack/ci/testdata/seed.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

update the whole image after creation in vcenter
  hack/ci/testdata/seed.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

[release/v2.30] Use kkp-e2e-ubuntu-24.04 source VM for vSphere CI (#15789)
  hack/ci/testdata/seed.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

[release/v2.29] Use kkp-e2e-ubuntu-24.04 source VM for vSphere CI (#15791)
  hack/ci/testdata/seed.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

[release/v2.28] Use kkp-e2e-ubuntu-24.04 source VM for vSphere CI (#15790)
  hack/ci/testdata/seed.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

update to 3.6.0 after FIPS issue with our vcenter
  addons/csi/vsphere/Kustomization
  addons/csi/vsphere/driver.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades

[release/v2.30] Set Cilium v1.18.6 and canal v3.31 as default version (#15784)
  pkg/cni/version.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Update vSphere CSI driver to v3.6.0 (#15766)
  addons/csi/vsphere/Kustomization
  addons/csi/vsphere/driver.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades

Update vSphere CSI driver to v3.7.0
  addons/csi/vsphere/Kustomization
  addons/csi/vsphere/driver.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades

disableAuditWebhookBackend option to datacenter CRD
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  sdk/apis/kubermatic/v1/datacenter.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

[release/v2.29] Update vSphere CSI driver to v3.6.0 (#15795)
  addons/csi/vsphere/Kustomization
  addons/csi/vsphere/driver.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades

[release/v2.28] Update vSphere CSI driver to v3.6.0 (#15796)
  addons/csi/vsphere/Kustomization
  addons/csi/vsphere/driver.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades

[release/v2.30] Update vSphere CSI driver to v3.6.0 (#15794)
  addons/csi/vsphere/Kustomization
  addons/csi/vsphere/driver.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test, pre-kubermatic-test-addon-upgrades

Upgrade KubeLB CCM version to 1.3.10
  pkg/ee/kubelb/resources/seed-cluster/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Upgrade KubeLB CCM version to 1.3.10 (#15806)
  pkg/ee/kubelb/resources/seed-cluster/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Upgrade KubeLB CCM version to 1.3.10 (#15807)
  pkg/ee/kubelb/resources/seed-cluster/deployment.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

webhook: reject duplicate GroupProjectBinding for the same group and project
  cmd/kubermatic-webhook/main.go
  pkg/ee/validation/groupprojectbinding/groupprojectbinding.go
  pkg/ee/validation/groupprojectbinding/groupprojectbinding_test.go
  pkg/webhook/groupprojectbinding/validation/validation.go
  pkg/webhook/groupprojectbinding/validation/wrappers_ce.go
  pkg/webhook/groupprojectbinding/validation/wrappers_ee.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-dualstack-e2e-aws-cilium, pre-kubermatic-dualstack-e2e-aws-canal, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

refactor: unify seed and dc auth config retrieval
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/options.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/seed-controller-manager/kubernetes/resources_test.go
  pkg/resources/apiserver/authenticationconfiguration.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

fix: allow egress traffic to auth config issuers
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/seed-controller-manager/kubernetes/resources_test.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

add dependabot configuration for Go modules (#15701)
  .github/dependabot.yml
Due: none

update kubeone image tag (#15704)
  .gitignore
  pkg/resources/resources.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Path conditions:
  pre-kubermatic-test: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: (go.mod|go.sum|cmd/|codegen/|hack/|pkg/))
  pre-kubermatic-test-integration: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: (go.mod|go.sum|cmd/|codegen/|hack/|pkg/))
  pre-kubermatic-lint: (any of: ^(cmd|codegen|hack|pkg)/) or (any of: ^(cmd/|codegen/|hack/|pkg/|go.mod|go.sum))
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)) or (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow/))
  pre-kubermatic-etcd-launcher-e2e: (any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)) or (any of: (cmd/etcd-launcher/|pkg/|.prow/))
  pre-kubermatic-nodeport-proxy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-opa-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-expose-strategy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/|charts/mla/))
  pre-kubermatic-appcatalog-aikit: any of: (pkg/ee/default-application-catalog/applicationdefinitions/aikit-app.yaml)
  pre-kubermatic-appcatalog-argocd: any of: (pkg/ee/default-application-catalog/applicationdefinitions/argocd-app.yaml)
  pre-kubermatic-appcatalog-cluster-autoscaler: any of: (pkg/applicationdefinitions)
  pre-kubermatic-appcatalog-cert-manager: any of: (pkg/ee/default-application-catalog/applicationdefinitions/cert-manager-app.yaml)
  pre-kubermatic-appcatalog-falco: any of: (pkg/ee/default-application-catalog/applicationdefinitions/falco-app.yaml)
  pre-kubermatic-appcatalog-flux: any of: (pkg/ee/default-application-catalog/applicationdefinitions/flux2-app.yaml)
  pre-kubermatic-appcatalog-k8sgpt-operator: any of: (pkg/ee/default-application-catalog/applicationdefinitions/k8sgpt-app.yaml)
  pre-kubermatic-appcatalog-kube-vip: any of: (pkg/ee/default-application-catalog/applicationdefinitions/kube-vip-app.yaml)
  pre-kubermatic-appcatalog-kubevirt: any of: (pkg/ee/default-application-catalog/applicationdefinitions/kubevirt-app.yaml)
  pre-kubermatic-appcatalog-metallb: any of: (pkg/ee/default-application-catalog/applicationdefinitions/metallb-app.yaml)
  pre-kubermatic-appcatalog-nginx-ingress-controller: any of: (pkg/ee/default-application-catalog/applicationdefinitions/nginx-app.yaml)
  pre-kubermatic-appcatalog-nvidia-gpu-operator: any of: (pkg/ee/default-application-catalog/applicationdefinitions/nvidia-gpu-operator-app.yaml)
  pre-kubermatic-appcatalog-trivy: any of: (pkg/ee/default-application-catalog/applicationdefinitions/trivy-app.yaml)
  pre-kubermatic-appcatalog-trivy-operator: any of: (pkg/ee/default-application-catalog/applicationdefinitions/trivy-operator-app.yaml)
  pre-kubermatic-appcatalog-local-ai: any of: (pkg/ee/default-application-catalog/applicationdefinitions/local-ai.yaml)
  pre-kubermatic-app-definitions: any of: (pkg/ee/default-application-catalog/application_catalog.go|pkg/ee/default-application-catalog/embed.go|hack/ci/run-application-definitions-e2e-test.sh)
  pre-kubermatic-ccm-migration-gcp-e2e: any of: (pkg/provider/cloud/gcp/|pkg/resources/cloudcontroller/gcp|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-ccm-migration-azure-e2e: any of: (addons/azure-cloud-node-manager/|pkg/provider/cloud/azure/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-dualstack-e2e-aws-cilium: any of: .*(cilium|canal|dualstack|addon|cni|provider|machine|webhook|.prow|go.mod|proxy|network).*
  pre-kubermatic-dualstack-e2e-aws-canal: any of: .*(cilium|canal|dualstack|addon|cni|provider|machine|webhook|.prow|go.mod|proxy|network).*
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow/)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow|go.mod).*
  pre-kubermatic-ipam-e2e: any of: (pkg/controller/seed-controller-manager/ipam/|pkg/webhook/ipampool/|addons/metallb/|pkg/test/e2e/ipam/)
  pre-kubermatic-cluster-backup-e2e: any of: pkg/ee/cluster-backup/
  pre-kubermatic-e2e-kind-test: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow/)
  pre-kubermatic-trivy-scan: any of: (Dockerfile|go.mod|.prow/)
  pre-kubermatic-test-build-utility-images: any of: (hack/release-sidecar-images.sh|hack/images/|cmd/(alertmanager-authorization-server|http-prober|s3-exporter)/)
  pre-kubermatic-test-addon-upgrades: any of: (addons/|pkg/test/addon|pkg/addon|pkg/controller/seed-controller-manager/addon.*)
