Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

keep user-defined tolerations on the node-local-dns DaemonSet
  pkg/controller/user-cluster-controller-manager/resources/resources/node-local-dns/deamonset.go
Due: none

[release/v2.17] respect cluster pause flag in usercluster-controller-manager (#7470) (#7484)
  cmd/user-cluster-controller-manager/main.go
  pkg/controller/user-cluster-controller-manager/cluster-role-labeler/cluster_role_labeler.go
  pkg/controller/user-cluster-controller-manager/cluster-role-labeler/cluster_role_labeler_test.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
  pkg/controller/user-cluster-controller-manager/flatcar/flatcar_controller.go
  pkg/controller/user-cluster-controller-manager/owner-binding-creator/owner_binding_creator.go
  pkg/controller/user-cluster-controller-manager/owner-binding-creator/owner_binding_creator_test.go
  pkg/controller/user-cluster-controller-manager/pause.go
  pkg/controller/user-cluster-controller-manager/rbac/controller.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/role-cloner/role_cloner.go
  pkg/controller/user-cluster-controller-manager/role-cloner/role_cloner_test.go
Due: none

keep user-defined tolerations on the node-local-dns DaemonSet (#7485)
  pkg/controller/user-cluster-controller-manager/resources/resources/node-local-dns/deamonset.go
Due: none

user-ssh-keys-agent gocache build (#7219)
  cmd/user-ssh-keys-agent/Dockerfile
  cmd/user-ssh-keys-agent/Makefile
  hack/ci/setup-kubermatic-in-kind.sh
Due: none

fix flaky RBAC test
  pkg/handler/common/binding.go
  pkg/test/e2e/api/cluster_rbac_test.go
  pkg/test/e2e/utils/client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

add changelog for 2.17.3
  CHANGELOG.md
Due: none

add changelog for 2.17.3 (#7487)
  CHANGELOG.md
Due: none

host-gocache-fixed
  cmd/user-ssh-keys-agent/Makefile
Due: none

fix flaky RBAC test (#7482)
  pkg/handler/common/binding.go
  pkg/test/e2e/api/cluster_rbac_test.go
  pkg/test/e2e/utils/client.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

default components settings are configured via Seed resource
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/main.go
  cmd/seed-controller-manager/options.go
  cmd/seed-controller-manager/wrappers_ce.go
  cmd/seed-controller-manager/wrappers_ee.go
  docs/zz_generated.seed.yaml
  pkg/crd/kubermatic/v1/datacenter.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
  pkg/ee/cmd/seed-controller-manager/wrappers.go
  pkg/ee/provider/datacenter.go
  pkg/provider/datacenter.go
  pkg/resources/etcd/statefulset.go
  pkg/test/e2e/ccm-migration/cluster.go
Due: pre-kubermatic-verify-docs

default all fields from cluster component settings
  pkg/crd/kubermatic/v1/cluster.go
  pkg/defaulting/cluster.go
  pkg/resources/etcd/statefulset.go
  pkg/test/e2e/etcd-launcher/etcd_test.go
  pkg/test/e2e/expose-strategy/cluster.go
  pkg/webhook/cluster/mutation/mutation.go
  pkg/webhook/cluster/mutation/mutation_test.go
Due: none

Add MLASettings to addon ClusterData
  pkg/addon/template.go
Due: none

Generate docs
  docs/zz_generated.addondata.go.txt
Due: pre-kubermatic-verify-docs

test lines added
  cmd/user-ssh-keys-agent/Dockerfile
Due: none

Add strictArp IPVS setting for kube-proxy to Cluster API (#7410)
  addons/kube-proxy/configmap.yaml
  cmd/image-loader/addons.go
  cmd/image-loader/main.go
  cmd/kubermatic-api/swagger.json
  docs/zz_generated.addondata.go.txt
  pkg/addon/template.go
  pkg/addon/template_test.go
  pkg/addon/testdata/cluster-kubernetes-aws.yaml
  pkg/addon/testdata/cluster-kubernetes-do.yaml
  pkg/addon/testdata/cluster-openshift-vsphere.yaml
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/zz_generated.deepcopy.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/resources/data.go
  pkg/resources/resources.go
  pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  pkg/test/e2e/utils/apiclient/models/ip_v_s_configuration.go
  pkg/webhook/cluster/mutation/mutation.go
  pkg/webhook/cluster/mutation/mutation_test.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

update Dex to 2.30.0, add 1.22 compatibility
  charts/oauth/Chart.yaml
  charts/oauth/templates/cluster-role-binding.yaml
  charts/oauth/templates/cluster-role.yaml
  charts/oauth/templates/ingress.yaml
  charts/oauth/templates/pdb.yaml
  charts/oauth/values.yaml
Due: none

remove usage of deprecated API versions in Helm charts
  charts/iap/Chart.yaml
  charts/iap/templates/ingresses.yaml
  charts/iap/templates/pdbs.yaml
  charts/kubermatic-operator/Chart.yaml
  charts/kubermatic-operator/templates/rbac.yaml
  charts/logging/promtail/Chart.yaml
  charts/logging/promtail/templates/clusterrole.yaml
  charts/logging/promtail/templates/clusterrolebinding.yaml
  charts/monitoring/alertmanager/Chart.yaml
  charts/monitoring/alertmanager/templates/migration.yaml
  charts/monitoring/alertmanager/templates/pdb.yaml
  charts/monitoring/alertmanager/templates/statefulset.yaml
  charts/monitoring/alertmanager/values.yaml
  charts/monitoring/blackbox-exporter/Chart.yaml
  charts/monitoring/blackbox-exporter/templates/deployment.yaml
  charts/monitoring/grafana/Chart.yaml
  charts/monitoring/grafana/templates/pdb.yaml
  charts/monitoring/kube-state-metrics/Chart.yaml
  charts/monitoring/kube-state-metrics/templates/cluster-role-binding.yaml
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
  charts/monitoring/kube-state-metrics/templates/role-binding.yaml
  charts/monitoring/kube-state-metrics/templates/role.yaml
  charts/monitoring/prometheus/Chart.yaml
  charts/monitoring/prometheus/templates/migration.yaml
  charts/monitoring/prometheus/templates/statefulset.yaml
  charts/monitoring/prometheus/templates/thanos-query-deployment.yaml
  charts/monitoring/prometheus/templates/thanos-store-deployment.yaml
  charts/monitoring/prometheus/values.yaml
Due: none

update Dex to 2.30.0, add 1.22 compatibility (#7494)
  charts/oauth/Chart.yaml
  charts/oauth/templates/cluster-role-binding.yaml
  charts/oauth/templates/cluster-role.yaml
  charts/oauth/templates/ingress.yaml
  charts/oauth/templates/pdb.yaml
  charts/oauth/values.yaml
Due: none

update Velero to 1.6.3
  charts/backup/velero/Chart.yaml
  charts/backup/velero/crd/backups.yaml
  charts/backup/velero/crd/backupstoragelocations.yaml
  charts/backup/velero/crd/deletebackuprequests.yaml
  charts/backup/velero/crd/downloadrequests.yaml
  charts/backup/velero/crd/podvolumebackups.yaml
  charts/backup/velero/crd/podvolumerestores.yaml
  charts/backup/velero/crd/resticrepositories.yaml
  charts/backup/velero/crd/restores.yaml
  charts/backup/velero/crd/schedules.yaml
  charts/backup/velero/crd/serverstatusrequests.yaml
  charts/backup/velero/crd/volumesnapshotlocations.yaml
  charts/backup/velero/values.yaml
  hack/update-velero-crds.sh
Due: none

Revert "update Dex to 2.30.0, add 1.22 compatibility (#7494)"
  charts/oauth/Chart.yaml
  charts/oauth/templates/cluster-role-binding.yaml
  charts/oauth/templates/cluster-role.yaml
  charts/oauth/templates/ingress.yaml
  charts/oauth/templates/pdb.yaml
  charts/oauth/values.yaml
Due: none

Revert "update Dex to 2.30.0, add 1.22 compatibility (#7494)" (#7497)
  charts/oauth/Chart.yaml
  charts/oauth/templates/cluster-role-binding.yaml
  charts/oauth/templates/cluster-role.yaml
  charts/oauth/templates/ingress.yaml
  charts/oauth/templates/pdb.yaml
  charts/oauth/values.yaml
Due: none

update oauth chart
  charts/oauth/Chart.yaml
  charts/oauth/templates/cluster-role-binding.yaml
  charts/oauth/templates/cluster-role.yaml
  charts/oauth/templates/ingress.yaml
  charts/oauth/templates/pdb.yaml
Due: none

remove usage of deprecated API versions in Helm charts (#7495)
  charts/iap/Chart.yaml
  charts/iap/templates/ingresses.yaml
  charts/iap/templates/pdbs.yaml
  charts/kubermatic-operator/Chart.yaml
  charts/kubermatic-operator/templates/rbac.yaml
  charts/logging/promtail/Chart.yaml
  charts/logging/promtail/templates/clusterrole.yaml
  charts/logging/promtail/templates/clusterrolebinding.yaml
  charts/monitoring/alertmanager/Chart.yaml
  charts/monitoring/alertmanager/templates/migration.yaml
  charts/monitoring/alertmanager/templates/pdb.yaml
  charts/monitoring/alertmanager/templates/statefulset.yaml
  charts/monitoring/alertmanager/values.yaml
  charts/monitoring/blackbox-exporter/Chart.yaml
  charts/monitoring/blackbox-exporter/templates/deployment.yaml
  charts/monitoring/grafana/Chart.yaml
  charts/monitoring/grafana/templates/pdb.yaml
  charts/monitoring/kube-state-metrics/Chart.yaml
  charts/monitoring/kube-state-metrics/templates/cluster-role-binding.yaml
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
  charts/monitoring/kube-state-metrics/templates/role-binding.yaml
  charts/monitoring/kube-state-metrics/templates/role.yaml
  charts/monitoring/prometheus/Chart.yaml
  charts/monitoring/prometheus/templates/migration.yaml
  charts/monitoring/prometheus/templates/statefulset.yaml
  charts/monitoring/prometheus/templates/thanos-query-deployment.yaml
  charts/monitoring/prometheus/templates/thanos-store-deployment.yaml
  charts/monitoring/prometheus/values.yaml
  charts/oauth/Chart.yaml
  charts/oauth/templates/cluster-role-binding.yaml
  charts/oauth/templates/cluster-role.yaml
  charts/oauth/templates/ingress.yaml
  charts/oauth/templates/pdb.yaml
Due: none

update Velero to 1.6.3 (#7496)
  charts/backup/velero/Chart.yaml
  charts/backup/velero/crd/backups.yaml
  charts/backup/velero/crd/backupstoragelocations.yaml
  charts/backup/velero/crd/deletebackuprequests.yaml
  charts/backup/velero/crd/downloadrequests.yaml
  charts/backup/velero/crd/podvolumebackups.yaml
  charts/backup/velero/crd/podvolumerestores.yaml
  charts/backup/velero/crd/resticrepositories.yaml
  charts/backup/velero/crd/restores.yaml
  charts/backup/velero/crd/schedules.yaml
  charts/backup/velero/crd/serverstatusrequests.yaml
  charts/backup/velero/crd/volumesnapshotlocations.yaml
  charts/backup/velero/values.yaml
  hack/update-velero-crds.sh
Due: none

fix typo
  charts/oauth/Chart.yaml
  charts/oauth/templates/ingress.yaml
Due: none

fix typo (#7498)
  charts/oauth/Chart.yaml
  charts/oauth/templates/ingress.yaml
Due: none

use simple amd64 images for user-ssh-key-agent during e2e tests
  .prow.yaml
  cmd/user-ssh-keys-agent/Dockerfile
  cmd/user-ssh-keys-agent/Dockerfile.multiarch
  hack/ci/run-user-ssh-key-agent-tests.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/release-docker-images.sh
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

improve multiarch image
  .prow.yaml
  cmd/user-ssh-keys-agent/Dockerfile.multiarch
  hack/ci/run-user-ssh-key-agent-tests.sh
  hack/release-docker-images.sh
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

temporarily disable tests
  .prow.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix typos
  .prow.yaml
  cmd/user-ssh-keys-agent/Dockerfile.multiarch
  cmd/user-ssh-keys-agent/Makefile
  hack/ci/run-user-ssh-key-agent-tests.sh
  hack/release-docker-images.sh
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator
