Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-simulate-github-release, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-e2e-vsphere-ubuntu-1.19, pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.15.1
      command:
      - make
      args:
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.15.1
      command:
      - make
      args:
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 1
        limits:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.4.1
      command:
      - ./hack/ci/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - ./hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.4.1
      command:
      - ./hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-verify-docs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - ./hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golangci/golangci-lint:v1.30.0
      command:
      - make
      args:
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:15.1-1903-0
      command:
      - make
      args:
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
  ...

bump controller runtime to 0.6.5 (#6479)
  go.mod
  go.sum
Due: pre-kubermatic-license-validation

fix confusing error messages
  pkg/test/clusterexposer/cmd/main.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Add resources to reconciler
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/multus/crds.go
  pkg/controller/user-cluster-controller-manager/resources/resources/multus/daemonset.go
  pkg/controller/user-cluster-controller-manager/resources/resources/multus/serviceaccount.go
  pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

go mod tidy
  go.sum
Due: pre-kubermatic-license-validation

fix job not running when dependencies changed
  .prow.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e

go mod tidy (#6483)
  .prow.yaml
  go.sum
Due: pre-kubermatic-license-validation, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e

increase resources for go mod verify
  .prow.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e

enable VM resource quota for AWS provider (#6468)
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/handler/common/filter.go
  pkg/handler/common/provider/aws.go
  pkg/handler/routes_v1.go
  pkg/handler/v1/provider/aws.go
  pkg/handler/v2/provider/aws.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/models/a_w_s_size.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

increase resources for go mod verify (#6484)
  .prow.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e

fix confusing error messages (#6482)
  pkg/test/clusterexposer/cmd/main.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

enable VM resource quota for Azure provider
  pkg/handler/common/provider/azure.go
  pkg/handler/routes_v1.go
  pkg/handler/v1/provider/azure.go
  pkg/handler/v1/provider/azure_test.go
  pkg/handler/v2/provider/azure.go
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

fix imports
  pkg/handler/common/provider/azure.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

enable VM resource quota for Azure provider (#6473)
  pkg/handler/common/provider/azure.go
  pkg/handler/routes_v1.go
  pkg/handler/v1/provider/azure.go
  pkg/handler/v1/provider/azure_test.go
  pkg/handler/v2/provider/azure.go
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

ensure projectID label is not empty
  pkg/provider/kubernetes/credentials.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

update Helm releases when values have changed
  pkg/install/helm/cli.go
  pkg/install/helm/interface.go
  pkg/install/util/helm.go
  pkg/util/yamled/document.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Fix cluster GET not returning OPA integration details
  pkg/api/v1/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Remove CoreOS support in KKP (#6465)
  addons/csi/nodeplugin.yaml
  cmd/conformance-tests/main.go
  cmd/conformance-tests/os.go
  cmd/conformance-tests/runner.go
  cmd/conformance-tests/scenarios_aws.go
  cmd/conformance-tests/scenarios_azure.go
  cmd/conformance-tests/scenarios_digitalocean.go
  cmd/conformance-tests/scenarios_gcp.go
  cmd/conformance-tests/scenarios_openstack.go
  cmd/conformance-tests/scenarios_packet.go
  cmd/conformance-tests/scenarios_vsphere.go
  cmd/image-loader/main.go
  cmd/kubermatic-api/swagger.json
  cmd/user-cluster-controller-manager/main.go
  docs/zz_generated.seed.yaml
  hack/ci/deploy.sh
  pkg/api/v1/types.go
  pkg/controller/user-cluster-controller-manager/container-linux/container_linux_controller.go
  pkg/controller/user-cluster-controller-manager/container-linux/doc.go
  pkg/controller/user-cluster-controller-manager/container-linux/resources/clusterrole.go
  pkg/controller/user-cluster-controller-manager/container-linux/resources/clusterrolebinding.go
  pkg/controller/user-cluster-controller-manager/container-linux/resources/daemonset.go
  pkg/controller/user-cluster-controller-manager/container-linux/resources/deployment.go
  pkg/controller/user-cluster-controller-manager/container-linux/resources/serviceaccount.go
  pkg/controller/user-cluster-controller-manager/node-labeler/api/api.go
  pkg/controller/user-cluster-controller-manager/node-labeler/doc.go
  pkg/controller/user-cluster-controller-manager/node-labeler/node_labeleler_test.go
  pkg/crd/kubermatic/v1/datacenter.go
  pkg/ee/provider/datacenter_test.go
  pkg/machine/convert.go
  pkg/machine/util_test.go
  pkg/resources/machine/common.go
  pkg/resources/machine/machinedeployment.go
  pkg/resources/test/load_files_test.go
  pkg/test/e2e/utils/apiclient/models/container_linux_spec.go
  pkg/test/e2e/utils/apiclient/models/node_settings.go
  pkg/test/e2e/utils/apiclient/models/operating_system_spec.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

improve linting
  Makefile
  hack/ci/README.md
  hack/ci/run-lint.sh
  pkg/util/yamled/document.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

[Installer] Update Helm releases when values have changed (#6449)
  Makefile
  hack/ci/README.md
  hack/ci/run-lint.sh
  pkg/install/helm/cli.go
  pkg/install/helm/interface.go
  pkg/install/util/helm.go
  pkg/util/yamled/document.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Fix cluster GET not returning OPA integration details (#6499)
  pkg/api/v1/types.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Compute CoreDNS version based on Kubernetes version
  cmd/etcd-launcher/Dockerfile
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/configmap.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
  pkg/resources/dns/dns.go
  pkg/resources/test/fixtures/deployment-aws-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-dns-resolver.yaml
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Added gatekeeper health status (#6461)
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/controller/seed-controller-manager/kubernetes/health.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/handler/common/cluster.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/test/e2e/utils/apiclient/models/cluster_health.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Compute CoreDNS version based on Kubernetes version (#6501)
  cmd/etcd-launcher/Dockerfile
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/configmap.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
  pkg/resources/dns/dns.go
  pkg/resources/test/fixtures/deployment-aws-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.17.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.18.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.19.0-dns-resolver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-dns-resolver.yaml
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

add resource quota for Digital Ocean provider
  pkg/handler/common/provider/digitalocean.go
  pkg/handler/routes_v1.go
  pkg/handler/v1/provider/digitalocean.go
  pkg/handler/v2/provider/digitalocean.go
  pkg/handler/v2/routes_v2.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

[release/v2.16] go mod tidy (#6508)
  .prow.yaml
  go.sum
Due: pre-kubermatic-license-validation, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e

omit gatekeeper health status when its disabled
  pkg/api/v1/types.go
  pkg/controller/seed-controller-manager/kubernetes/health.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v2/cluster/cluster_test.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Kubermatic Constraints removal on cluster delete
  pkg/api/v1/types.go
  pkg/clusterdeletion/constraints.go
  pkg/clusterdeletion/deletion.go
  pkg/controller/seed-controller-manager/kubernetes/pending.go
Due: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-aws-ubuntu-1.19, pre-kubermatic-e2e-aws-ubuntu-1.19-ce, pre-kubermatic-e2e-aws-ubuntu-1.19-legacy, pre-kubermatic-api-e2e, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-verify-charts: any of: ^charts/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(cmd|codegen|hack|pkg|charts)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^charts/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(cmd|codegen|hack|pkg|docs)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-dependencies: any of: ^(cmd|codegen|hack|pkg|go.mod|go.sum)/
  pre-kubermatic-license-validation: any of: ^go.(mod|sum)$
  pre-kubermatic-prometheus-rules-validation: any of: charts/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: pkg/resources/prometheus
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.19-legacy: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.19: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-customfolder: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-ubuntu-1.19-datastore-cluster: any of: pkg/provider/cloud/vsphere
  pre-kubermatic-api-e2e: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (hack|charts/kubermatic|pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
