Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-build:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - build
      resources:
        requests:
          memory: 2Gi
          cpu: 2
        limits:
          memory: 4Gi

pre-kubermatic-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2

pre-kubermatic-verify:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 500m
        limits:
          memory: 2.5Gi
          cpu: 1

pre-kubermatic-verify-charts:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m

pre-kubermatic-verify-yaml-examples:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-yaml-examples.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 250m

pre-kubermatic-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.17.1
      command:
      - make
      args:
      - -C
      - api
      - lint
      resources:
        requests:
          memory: 17Gi
          cpu: 3
        limits:
          memory: 17Gi

pre-kubermatic-dependencies:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/dep:0.5.4-2
      command:
      - make
      args:
      - -C
      - api
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m

pre-kubermatic-license-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.2.1-1
      command:
      - make
      args:
      - -C
      - api
      - license-validation

pre-kubermatic-prometheus-rules-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/promtool:2.7.0-3
      command:
      - make
      args:
      - -C
      - config/monitoring
      - check-rules
    imagePullSecrets:
    - name: quay

run constraint template controller based on opa integration flag
  cmd/user-cluster-controller-manager/main.go
Due: none

Added constraint template CRD
  charts/kubermatic/crd/crd-constraint-templates.yaml
Due: none

moved constraint controller to seed controller
  cmd/master-controller-manager/controllers.go
  cmd/master-controller-manager/main.go
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/main.go
  pkg/controller/seed-controller-manager/constraint-template-controller/controller.go
  pkg/controller/seed-controller-manager/constraint-template-controller/controller_test.go
  pkg/controller/seed-controller-manager/constraint-template-controller/doc.go
Due: none

code review fixes
  pkg/api/v1/types.go
  pkg/controller/user-cluster-controller-manager/constraint-template-controller/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-template-controller/controller_test.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

added delete test
  pkg/controller/master-controller-manager/constraint-template-controller/controller_test.go
Due: none

Constraint template controller
  cmd/user-cluster-controller-manager/main.go
  codegen/reconcile/main.go
  pkg/controller/user-cluster-controller-manager/constraint-template-controller/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-template-controller/controller_test.go
  pkg/controller/user-cluster-controller-manager/constraint-template-controller/doc.go
  pkg/resources/reconciling/zz_generated_reconcile.go
Due: none

fix error capitalization
  pkg/controller/seed-controller-manager/constraint-template-controller/controller.go
Due: none

Bump kubermatic chart to 1.1.23
  charts/kubermatic/Chart.yaml
Due: none

fix spelling
  pkg/controller/seed-controller-manager/constraint-template-controller/controller.go
Due: none

add information about kube-proxy
  docs/proposals/kubelb.md
Due: pre-kubermatic-verify-yaml-examples

bump machine-controller to v.1.20.1
  go.mod
  go.sum
Due: none

bump machine-controller to v.1.20.1 (#6133)
  go.mod
  go.sum
Due: none

v2 endpoint to get machine deployment metrics
  cmd/kubermatic-api/swagger.json
  go.sum
  pkg/handler/common/machine.go
  pkg/handler/v1/node/node.go
  pkg/handler/v2/machine/machine.go
  pkg/handler/v2/machine/machine_test.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/metric/list_machine_deployment_metrics_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/metric/list_machine_deployment_metrics_responses.go
  pkg/test/e2e/api/utils/apiclient/client/metric/metric_client.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Fix go.sum after machine-contoller upgrade
  go.sum
Due: none

v2 endpoint to get machine deployment metrics (#6132)
  cmd/kubermatic-api/swagger.json
  go.sum
  pkg/handler/common/machine.go
  pkg/handler/v1/node/node.go
  pkg/handler/v2/machine/machine.go
  pkg/handler/v2/machine/machine_test.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/api/utils/apiclient/client/metric/list_machine_deployment_metrics_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/metric/list_machine_deployment_metrics_responses.go
  pkg/test/e2e/api/utils/apiclient/client/metric/metric_client.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Update API version
  cmd/nodeport-proxy/envoy-manager/controller.go
  cmd/nodeport-proxy/envoy-manager/controller_test.go
  cmd/nodeport-proxy/envoy-manager/helper.go
  cmd/nodeport-proxy/envoy-manager/main.go
Due: none

fix installer not being able to test certificates
  cmd/kubermatic-installer/cmd_deploy.go
Due: none

Add changelog for 2.15.3 (#6131)
  CHANGELOG.md
Due: none

fix installer not being able to test certificates (#6135)
  cmd/kubermatic-installer/cmd_deploy.go
Due: none

Fix cache package and dependecies
  cmd/nodeport-proxy/envoy-manager/controller.go
  cmd/nodeport-proxy/envoy-manager/controller_test.go
  cmd/nodeport-proxy/envoy-manager/main.go
  go.mod
  go.sum
Due: none

Comments
  cmd/nodeport-proxy/envoy-manager/controller.go
  go.mod
Due: none

Comments
  cmd/nodeport-proxy/envoy-manager/controller.go
Due: none

fix cluster_info type label
  pkg/collectors/cluster.go
Due: none

Add support for openstack instance check period/timeout variables
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
  pkg/test/e2e/api/utils/apiclient/models/a_w_s_node_spec.go
  pkg/test/e2e/api/utils/apiclient/models/openstack_node_spec.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Reformat files
  pkg/api/v1/types.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

fix cluster_info type label (#6138)
  pkg/collectors/cluster.go
Due: none

fix cluster_info type label (#6140)
  pkg/collectors/cluster.go
Due: none

Run go mod tidy
  go.sum
Due: none

Remove new lines
  pkg/api/v1/types.go
  pkg/machine/convert.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Add support for openstack instance check period/timeout variables (#6139)
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
  pkg/test/e2e/api/utils/apiclient/models/a_w_s_node_spec.go
  pkg/test/e2e/api/utils/apiclient/models/openstack_node_spec.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

constraint patch endpoint
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/constraint/constraint.go
  pkg/handler/v2/constraint/constraint_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/constraint.go
  pkg/provider/kubernetes/constraint_test.go
  pkg/provider/types.go
Due: none

generated swagger and api client
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/api/utils/apiclient/client/project/patch_constraint_parameters.go
  pkg/test/e2e/api/utils/apiclient/client/project/patch_constraint_responses.go
  pkg/test/e2e/api/utils/apiclient/client/project/project_client.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Constraint template controller (#5995)
  charts/kubermatic/crd/crd-constraint-templates.yaml
  cmd/master-controller-manager/controllers.go
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/main.go
  codegen/reconcile/main.go
  pkg/api/v1/types.go
  pkg/controller/seed-controller-manager/constraint-template-controller/controller.go
  pkg/controller/seed-controller-manager/constraint-template-controller/controller_test.go
  pkg/controller/seed-controller-manager/constraint-template-controller/doc.go
  pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-kubermatic-e2e-aws-ubuntu-1.15, pre-kubermatic-e2e-aws-ubuntu-1.17, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Path conditions:
  pre-kubermatic-build: any of: ^api/
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-yaml-examples: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-ubuntu-1.15: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.15: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-ubuntu-1.17: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/
