Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-simulate-github-release, pre-kubermatic-test-helm-charts, pre-kubermatic-test-user-ssh-key-agent-multiarch, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-e2e-vsphere-ubuntu-1.23, pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder, pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster, pre-kubermatic-e2e-nutanix-ubuntu-1.23, pre-kubermatic-e2e-nutanix-centos-1.23, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-ccm-migration-openstack-e2e, pre-kubermatic-ccm-migration-vsphere-e2e, pre-kubermatic-ccm-migration-azure-e2e, pre-kubermatic-konnectivity-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-ipam-e2e, pre-kubermatic-e2e-kind-test

Path conditions:
  pre-kubermatic-test: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-test-integration: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-lint: any of: ^(cmd|codegen|hack|pkg)/
  pre-kubermatic-simulate-github-release: any of: hack/ci/github-release.sh
  pre-kubermatic-test-helm-charts: any of: charts/
  pre-kubermatic-test-user-ssh-key-agent-multiarch: any of: cmd/user-ssh-keys-agent/
  pre-kubermatic-e2e-aws-ubuntu-1.20: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.21: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.22: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-ubuntu-1.23-ce: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-customfolder: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-vsphere-ubuntu-1.23-datastore-cluster: any of: (addons/csi/vsphere|pkg/provider/cloud/vsphere)
  pre-kubermatic-e2e-nutanix-ubuntu-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-e2e-nutanix-centos-1.23: any of: (addons/csi/nutanix|pkg/provider/cloud/nutanix)
  pre-kubermatic-api-e2e: (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow.yaml)) or (any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|.prow/))
  pre-kubermatic-etcd-launcher-e2e: (any of: (cmd/etcd-launcher/|pkg/|.prow.yaml)) or (any of: (cmd/etcd-launcher/|pkg/|.prow/))
  pre-kubermatic-nodeport-proxy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-opa-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-expose-strategy-e2e: (any of: (cmd/nodeport-proxy/|pkg/|.prow.yaml)) or (any of: (cmd/nodeport-proxy/|pkg/|.prow/))
  pre-kubermatic-ccm-migration-e2e: any of: (pkg/|.prow.yaml)
  pre-kubermatic-mla-e2e: (any of: (go.mod|go.sum|pkg/|.prow.yaml)) or (any of: (go.mod|go.sum|pkg/|.prow/))
  pre-kubermatic-ccm-migration-openstack-e2e: any of: (pkg/provider/cloud/openstack/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-ccm-migration-vsphere-e2e: any of: (pkg/provider/cloud/vsphere/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-ccm-migration-azure-e2e: any of: (addons/azure-cloud-node-manager/|pkg/provider/cloud/azure/|pkg/resources/cloudcontroller/|pkg/test/e2e/ccm-migration/|.prow/ccm-migrations.yaml)
  pre-kubermatic-konnectivity-e2e: any of: (.*[kK]onnectivity.*|pkg/resources/apiserver|.prow/)
  pre-kubermatic-cilium-e2e: any of: .*(cilium|apis|hubble|addon|connectivity-check|defaults|cni|validation|operator|webhook|crd|.prow|go.mod).*
  pre-kubermatic-ipam-e2e: any of: (pkg/controller/seed-controller-manager/ipam/|pkg/webhook/ipampool/|pkg/test/e2e/ipam/)
  pre-kubermatic-e2e-kind-test: any of: (cmd/|codegen/|hack/|pkg/|charts/kubermatic|addons/|.prow/)

[release/v2.20] Update MLA to v0.2.6
  hack/ci/setup-mla.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

Test all Helm charts regardless of their change status (#12100)
  charts/logging/loki/test/default.yaml.out
  charts/logging/loki/test/values.example.ce.yaml.out
  charts/logging/loki/test/values.example.ee.yaml.out
  charts/minio/test/values.example.ce.yaml.out
  charts/minio/test/values.example.ee.yaml.out
  charts/mla/grafana/test/config.yaml.out
  charts/mla/grafana/test/default.yaml.out
  charts/oauth/test/default.yaml.out
  charts/oauth/test/values.example.ce.yaml.out
  charts/oauth/test/values.example.ee.yaml.out
  hack/ci/test-helm-charts.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-test-helm-charts, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

[release/v2.21] Update MLA to v0.2.6 (#12105)
  hack/ci/setup-mla.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

[release/v2.20] Update MLA to v0.2.6 (#12106)
  hack/ci/setup-mla.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

Support for configuring additional volumes for the UI (#12103)
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  hack/ci/testdata/seed.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Support for configuring additional volumes for the UI
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Support for configuring additional volumes for the UI (#12103)
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Remove docs/zz_generated.kubermaticConfiguration.ee.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
Due: none

Support for configuring additional volumes for the UI (#12107)
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Move mutation code for clusters into its own package
  pkg/mutation/cluster/mutation.go
  pkg/mutation/mutation.go
  pkg/webhook/cluster/mutation/mutator.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Update kube-state-metrics to v2.8.2
  charts/monitoring/kube-state-metrics/Chart.yaml
  charts/monitoring/kube-state-metrics/templates/cluster-role-binding.yaml
  charts/monitoring/kube-state-metrics/templates/cluster-role.yaml
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
  charts/monitoring/kube-state-metrics/templates/service-account.yaml
  charts/monitoring/kube-state-metrics/templates/service.yaml
  charts/monitoring/kube-state-metrics/values.yaml
Due: pre-kubermatic-test-helm-charts

Adjust health check port of addon-resizer
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
Due: pre-kubermatic-test-helm-charts

Fix kube-state-metrics-resizer role
  charts/monitoring/kube-state-metrics/templates/role.yaml
Due: pre-kubermatic-test-helm-charts

bring back immutable labels
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
Due: pre-kubermatic-test-helm-charts

[release/v2.21] Support for configuring additional volumes for the UI (#12108)
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Move mutation code for clusters into its own package (#12110)
  pkg/mutation/cluster/mutation.go
  pkg/mutation/mutation.go
  pkg/webhook/cluster/mutation/mutator.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Update kube-state-metrics to v2.8.2 (#12102)
  charts/monitoring/kube-state-metrics/Chart.yaml
  charts/monitoring/kube-state-metrics/templates/cluster-role-binding.yaml
  charts/monitoring/kube-state-metrics/templates/cluster-role.yaml
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
  charts/monitoring/kube-state-metrics/templates/role.yaml
  charts/monitoring/kube-state-metrics/templates/service-account.yaml
  charts/monitoring/kube-state-metrics/templates/service.yaml
  charts/monitoring/kube-state-metrics/values.yaml
Due: pre-kubermatic-test-helm-charts

Update VMware Cloud Director CSI driver (#12096)
  addons/csi/vmware-cloud-director/csi-controller.yaml
  addons/csi/vmware-cloud-director/csi-node.yaml
Due: pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

First batch of helm charts with imagePullSecrets values
  charts/iap/templates/deployments.yaml
  charts/iap/values.yaml
  charts/minio/templates/deployment.yaml
  charts/minio/values.yaml
  charts/mla/alertmanager-proxy/templates/authzserver-deployment.yaml
  charts/mla/alertmanager-proxy/templates/proxy-deployment.yaml
  charts/mla/alertmanager-proxy/values.yaml
  charts/mla/minio-lifecycle-mgr/templates/lifecycle-mgr-cronjob.yaml
  charts/mla/minio-lifecycle-mgr/values.yaml
  charts/oauth/templates/deployment.yaml
  charts/oauth/values.yaml
  charts/s3-exporter/templates/deployment.yaml
  charts/s3-exporter/values.yaml
Due: pre-kubermatic-test-helm-charts

Add imagePullSecrets to monitoring charts
  charts/monitoring/alertmanager/templates/statefulset.yaml
  charts/monitoring/alertmanager/values.yaml
  charts/monitoring/blackbox-exporter/templates/deployment.yaml
  charts/monitoring/blackbox-exporter/values.yaml
  charts/monitoring/grafana/templates/deployment.yaml
  charts/monitoring/grafana/values.yaml
  charts/monitoring/helm-exporter/templates/deployment.yaml
  charts/monitoring/helm-exporter/values.yaml
  charts/monitoring/karma/templates/deployment.yaml
  charts/monitoring/karma/values.yaml
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
  charts/monitoring/kube-state-metrics/values.yaml
  charts/monitoring/node-exporter/templates/daemonset.yaml
  charts/monitoring/node-exporter/values.yaml
  charts/monitoring/prometheus/templates/statefulset.yaml
  charts/monitoring/prometheus/values.yaml
Due: pre-kubermatic-test-helm-charts

Update test output
  charts/values.example.ce.yaml
  charts/values.example.ee.yaml
Due: pre-kubermatic-test-helm-charts

Add tests for oauth and minio charts
  charts/minio/templates/deployment.yaml
  charts/minio/test/image-pull-secret.yaml
  charts/minio/test/image-pull-secret.yaml.out
  charts/oauth/templates/deployment.yaml
  charts/oauth/test/image-pull-secret.yaml
  charts/oauth/test/image-pull-secret.yaml.out
  charts/values.example.ce.yaml
  charts/values.example.ee.yaml
Due: pre-kubermatic-test-helm-charts

Fix template to not generate trailing whitespace
  charts/iap/templates/deployments.yaml
  charts/minio/templates/deployment.yaml
  charts/mla/alertmanager-proxy/templates/authzserver-deployment.yaml
  charts/mla/alertmanager-proxy/templates/proxy-deployment.yaml
  charts/mla/minio-lifecycle-mgr/templates/lifecycle-mgr-cronjob.yaml
  charts/mla/minio-lifecycle-mgr/test/config.yaml.out
  charts/mla/minio-lifecycle-mgr/test/image-pull-secret.yaml
  charts/mla/minio-lifecycle-mgr/test/image-pull-secret.yaml.out
  charts/monitoring/alertmanager/templates/statefulset.yaml
  charts/monitoring/blackbox-exporter/templates/deployment.yaml
  charts/monitoring/grafana/templates/deployment.yaml
  charts/monitoring/helm-exporter/templates/deployment.yaml
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
  charts/monitoring/node-exporter/templates/daemonset.yaml
  charts/monitoring/prometheus/templates/statefulset.yaml
  charts/oauth/templates/deployment.yaml
  charts/s3-exporter/templates/deployment.yaml
Due: pre-kubermatic-test-helm-charts

Add `imagePullSecrets` value for all Helm charts maintained by Kubermatic (#12098)
  charts/iap/templates/deployments.yaml
  charts/iap/values.yaml
  charts/minio/templates/deployment.yaml
  charts/minio/test/image-pull-secret.yaml
  charts/minio/test/image-pull-secret.yaml.out
  charts/minio/values.yaml
  charts/mla/alertmanager-proxy/templates/authzserver-deployment.yaml
  charts/mla/alertmanager-proxy/templates/proxy-deployment.yaml
  charts/mla/alertmanager-proxy/values.yaml
  charts/mla/minio-lifecycle-mgr/templates/lifecycle-mgr-cronjob.yaml
  charts/mla/minio-lifecycle-mgr/test/config.yaml.out
  charts/mla/minio-lifecycle-mgr/test/image-pull-secret.yaml
  charts/mla/minio-lifecycle-mgr/test/image-pull-secret.yaml.out
  charts/mla/minio-lifecycle-mgr/values.yaml
  charts/monitoring/alertmanager/templates/statefulset.yaml
  charts/monitoring/alertmanager/values.yaml
  charts/monitoring/blackbox-exporter/templates/deployment.yaml
  charts/monitoring/blackbox-exporter/values.yaml
  charts/monitoring/grafana/templates/deployment.yaml
  charts/monitoring/grafana/values.yaml
  charts/monitoring/helm-exporter/templates/deployment.yaml
  charts/monitoring/helm-exporter/values.yaml
  charts/monitoring/karma/templates/deployment.yaml
  charts/monitoring/karma/values.yaml
  charts/monitoring/kube-state-metrics/templates/deployment.yaml
  charts/monitoring/kube-state-metrics/values.yaml
  charts/monitoring/node-exporter/templates/daemonset.yaml
  charts/monitoring/node-exporter/values.yaml
  charts/monitoring/prometheus/templates/statefulset.yaml
  charts/monitoring/prometheus/values.yaml
  charts/oauth/templates/deployment.yaml
  charts/oauth/test/image-pull-secret.yaml
  charts/oauth/test/image-pull-secret.yaml.out
  charts/oauth/values.yaml
  charts/s3-exporter/templates/deployment.yaml
  charts/s3-exporter/values.yaml
Due: pre-kubermatic-test-helm-charts

Correct reference to image pull secret in iap chart
  charts/iap/templates/deployments.yaml
Due: pre-kubermatic-test-helm-charts

Correct reference to image pull secret in iap chart (#12112)
  charts/iap/templates/deployments.yaml
Due: pre-kubermatic-test-helm-charts

remove archived dep github.com/coreos/locksmith by using better validation methods
  go.mod
  go.sum
  pkg/apis/kubermatic/v1/cluster.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/validation/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

update kubelet and helm binary
  Dockerfile
Due: none

remove nodemigration code
  pkg/controller/master-controller-manager/cluster-template-synchronizer/controller.go
  pkg/controller/seed-controller-manager/initial-machinedeployment-controller/controller.go
  pkg/controller/shared/nodedeployment-migration/api/types.go
  pkg/controller/shared/nodedeployment-migration/machine/common.go
  pkg/controller/shared/nodedeployment-migration/machine/machinedeployment.go
  pkg/controller/shared/nodedeployment-migration/machinedeployment.json
  pkg/controller/shared/nodedeployment-migration/migrate.go
  pkg/controller/shared/nodedeployment-migration/migrate_test.go
  pkg/controller/shared/nodedeployment-migration/nodedeployment.json
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

evert failed formatting
  pkg/apis/kubermatic/v1/cluster.go
  pkg/validation/cluster.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

cleanup
  pkg/controller/master-controller-manager/cluster-template-synchronizer/controller.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Install CRDs needed on standalone Seed when provisioning Seeds
  hack/update-codegen.sh
  pkg/crd/fs.go
  pkg/crd/k8c.io/kubermatic.k8c.io_groupprojectbindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_ipamallocations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_ipampools.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_resourcequotas.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_usersshkeys.yaml
  pkg/crd/k8s.io/autoscaling.k8s.io_verticalpodautoscalercheckpoints.yaml
  pkg/crd/k8s.io/autoscaling.k8s.io_verticalpodautoscalers.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Mark VPA resources as to be installed onto seeds
  pkg/crd/k8s.io/autoscaling.k8s.io_verticalpodautoscalercheckpoints.yaml
  pkg/crd/k8s.io/autoscaling.k8s.io_verticalpodautoscalers.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Ignore new third-party CRD directory
  hack/verify-boilerplate.sh
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-e2e-kind-test

remove nodemigration code (#12113)
  pkg/controller/master-controller-manager/cluster-template-synchronizer/controller.go
  pkg/controller/seed-controller-manager/initial-machinedeployment-controller/controller.go
  pkg/controller/shared/nodedeployment-migration/api/types.go
  pkg/controller/shared/nodedeployment-migration/machine/common.go
  pkg/controller/shared/nodedeployment-migration/machine/machinedeployment.go
  pkg/controller/shared/nodedeployment-migration/machinedeployment.json
  pkg/controller/shared/nodedeployment-migration/migrate.go
  pkg/controller/shared/nodedeployment-migration/migrate_test.go
  pkg/controller/shared/nodedeployment-migration/nodedeployment.json
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-e2e-kind-test

Ensure that k8s.io CRDs get loaded
  pkg/crd/fs.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Load CRD from correct directory
  pkg/crd/fs.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Make the linter happy
  pkg/crd/fs.go
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test

Install CRDs needed on standalone Seed when provisioning Seeds (#12117)
  hack/update-codegen.sh
  hack/verify-boilerplate.sh
  pkg/crd/fs.go
  pkg/crd/k8c.io/kubermatic.k8c.io_groupprojectbindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_ipamallocations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_ipampools.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_resourcequotas.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_usersshkeys.yaml
  pkg/crd/k8s.io/autoscaling.k8s.io_verticalpodautoscalercheckpoints.yaml
  pkg/crd/k8s.io/autoscaling.k8s.io_verticalpodautoscalers.yaml
Due: pre-kubermatic-test, pre-kubermatic-test-integration, pre-kubermatic-lint, pre-kubermatic-e2e-aws-ubuntu-1.20, pre-kubermatic-e2e-aws-ubuntu-1.21, pre-kubermatic-e2e-aws-ubuntu-1.22, pre-kubermatic-e2e-aws-ubuntu-1.23, pre-kubermatic-e2e-aws-ubuntu-1.23-ce, pre-kubermatic-api-e2e, pre-kubermatic-etcd-launcher-e2e, pre-kubermatic-nodeport-proxy-e2e, pre-kubermatic-opa-e2e, pre-kubermatic-expose-strategy-e2e, pre-kubermatic-ccm-migration-e2e, pre-kubermatic-mla-e2e, pre-kubermatic-cilium-e2e, pre-kubermatic-e2e-kind-test
