Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-build: any of: ^api/
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-yaml-examples: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-coreos-1.15: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.15: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-coreos-1.17: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-aws-openshift-4.1: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/

[EE] Move MultiSeed behaviour into dedicated packages (#5391)
  .prow.yaml
  api/Makefile
  api/cmd/kubermatic-api/main.go
  api/cmd/kubermatic-operator-util/main.go
  api/cmd/kubermatic-operator-util/main_ce.go
  api/cmd/kubermatic-operator-util/main_ee.go
  api/cmd/kubermatic-operator/main.go
  api/cmd/master-controller-manager/main.go
  api/hack/ci/ci-run-lint.sh
  api/hack/ci/ci-run-offline-test.sh
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/hack/ci/ci-upload-gocache.sh
  api/hack/ci/ci_run_api_e2e.sh
  api/pkg/controller/seed-controller-manager/kubernetes/resources.go
  api/pkg/controller/seed-controller-manager/openshift/resources.go
  api/pkg/controller/util/util.go
  api/pkg/crd/migrations/master/migrations_ce.go
  api/pkg/crd/migrations/master/migrations_ee.go
  api/pkg/crd/migrations/master/options/options.go
  api/pkg/ee/cmd/kubermatic-operator-util/convert.go
  api/pkg/ee/conversion/helm.go
  api/pkg/ee/conversion/helm_test.go
  api/pkg/ee/crd/migrations/master/migrations.go
  api/pkg/ee/crd/migrations/master/migrations_test.go
  api/pkg/ee/provider/conversions.go
  api/pkg/ee/provider/conversions_test.go
  api/pkg/ee/provider/datacenter.go
  api/pkg/ee/provider/datacenter_test.go
  api/pkg/provider/conversions.go
  api/pkg/provider/datacenter.go
  api/pkg/provider/datacenter_ce.go
  api/pkg/provider/datacenter_ee.go
  api/pkg/provider/datacenter_test.go
  api/pkg/resources/resources.go
  api/pkg/util/yaml/print.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

use kubermatic/api-ce repository for Community Edition
  api/Makefile
  api/cmd/kubermatic-operator/main.go
  api/hack/push_image.sh
  api/pkg/controller/operator/common/defaults.go
  api/pkg/controller/operator/common/defaults_ce.go
  api/pkg/controller/operator/common/defaults_ee.go
  api/pkg/resources/resources.go
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

use kubermatic/api-ce repository for Community Edition (#5419)
  api/Makefile
  api/cmd/kubermatic-operator/main.go
  api/hack/push_image.sh
  api/pkg/controller/operator/common/defaults.go
  api/pkg/controller/operator/common/defaults_ce.go
  api/pkg/controller/operator/common/defaults_ee.go
  api/pkg/resources/resources.go
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

[EE] Move MultiSeed behaviour into dedicated packages (#5391) (#5457)
  .prow.yaml
  api/Makefile
  api/cmd/kubermatic-api/main.go
  api/cmd/kubermatic-operator-util/main.go
  api/cmd/kubermatic-operator-util/main_ce.go
  api/cmd/kubermatic-operator-util/main_ee.go
  api/cmd/kubermatic-operator/main.go
  api/cmd/master-controller-manager/main.go
  api/hack/ci/ci-run-lint.sh
  api/hack/ci/ci-run-offline-test.sh
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/hack/ci/ci-upload-gocache.sh
  api/hack/ci/ci_run_api_e2e.sh
  api/pkg/controller/seed-controller-manager/kubernetes/resources.go
  api/pkg/controller/seed-controller-manager/openshift/resources.go
  api/pkg/controller/util/util.go
  api/pkg/crd/migrations/master/migrations_ce.go
  api/pkg/crd/migrations/master/migrations_ee.go
  api/pkg/crd/migrations/master/options/options.go
  api/pkg/ee/cmd/kubermatic-operator-util/convert.go
  api/pkg/ee/conversion/helm.go
  api/pkg/ee/conversion/helm_test.go
  api/pkg/ee/crd/migrations/master/migrations.go
  api/pkg/ee/crd/migrations/master/migrations_test.go
  api/pkg/ee/provider/conversions.go
  api/pkg/ee/provider/conversions_test.go
  api/pkg/ee/provider/datacenter.go
  api/pkg/ee/provider/datacenter_test.go
  api/pkg/provider/conversions.go
  api/pkg/provider/datacenter.go
  api/pkg/provider/datacenter_ce.go
  api/pkg/provider/datacenter_ee.go
  api/pkg/provider/datacenter_test.go
  api/pkg/resources/resources.go
  api/pkg/util/yaml/print.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

[release/v2.14] move CE/EE distinction into cmd/ packages, restore pkg/provider to be the common CE implementation (#5418)
  api/cmd/conformance-tests/main.go
  api/cmd/kubeletdnat-controller/main.go
  api/cmd/kubermatic-api/main.go
  api/cmd/kubermatic-api/options.go
  api/cmd/kubermatic-api/wrappers_ce.go
  api/cmd/kubermatic-api/wrappers_ee.go
  api/cmd/kubermatic-operator/main.go
  api/cmd/kubermatic-operator/wrappers_ce.go
  api/cmd/kubermatic-operator/wrappers_ee.go
  api/cmd/master-controller-manager/main.go
  api/cmd/master-controller-manager/wrappers_ce.go
  api/cmd/master-controller-manager/wrappers_ee.go
  api/cmd/nodeport-proxy/envoy-manager/main.go
  api/cmd/nodeport-proxy/lb-updater/main.go
  api/cmd/seed-controller-manager/main.go
  api/cmd/seed-controller-manager/options.go
  api/cmd/seed-controller-manager/wrappers_ce.go
  api/cmd/seed-controller-manager/wrappers_ee.go
  api/cmd/user-cluster-controller-manager/main.go
  api/cmd/user-ssh-keys-agent/main.go
  api/cmd/util/hello.go
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/pkg/crd/migrations/master/migrations_ce.go
  api/pkg/crd/migrations/master/migrations_ee.go
  api/pkg/crd/migrations/master/options/options.go
  api/pkg/ee/cmd/kubermatic-api/wrappers.go
  api/pkg/ee/cmd/master-controller-manager/wrappers.go
  api/pkg/ee/cmd/seed-controller-manager/wrappers.go
  api/pkg/ee/crd/migrations/master/migrations.go
  api/pkg/ee/crd/migrations/master/migrations_test.go
  api/pkg/ee/provider/datacenter.go
  api/pkg/provider/datacenter.go
  api/pkg/provider/datacenter_ce.go
  api/pkg/provider/datacenter_ee.go
  api/pkg/provider/datacenter_test.go
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

[release/v2.14] move CE/EE distinction into cmd/ packages, restore pkg/provider to be the common CE implementation (#5418) (#5460)
  api/cmd/conformance-tests/main.go
  api/cmd/kubeletdnat-controller/main.go
  api/cmd/kubermatic-api/main.go
  api/cmd/kubermatic-api/options.go
  api/cmd/kubermatic-api/wrappers_ce.go
  api/cmd/kubermatic-api/wrappers_ee.go
  api/cmd/kubermatic-operator/main.go
  api/cmd/kubermatic-operator/wrappers_ce.go
  api/cmd/kubermatic-operator/wrappers_ee.go
  api/cmd/master-controller-manager/main.go
  api/cmd/master-controller-manager/wrappers_ce.go
  api/cmd/master-controller-manager/wrappers_ee.go
  api/cmd/nodeport-proxy/envoy-manager/main.go
  api/cmd/nodeport-proxy/lb-updater/main.go
  api/cmd/seed-controller-manager/main.go
  api/cmd/seed-controller-manager/options.go
  api/cmd/seed-controller-manager/wrappers_ce.go
  api/cmd/seed-controller-manager/wrappers_ee.go
  api/cmd/user-cluster-controller-manager/main.go
  api/cmd/user-ssh-keys-agent/main.go
  api/cmd/util/hello.go
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/pkg/crd/migrations/master/migrations_ce.go
  api/pkg/crd/migrations/master/migrations_ee.go
  api/pkg/crd/migrations/master/options/options.go
  api/pkg/ee/cmd/kubermatic-api/wrappers.go
  api/pkg/ee/cmd/master-controller-manager/wrappers.go
  api/pkg/ee/cmd/seed-controller-manager/wrappers.go
  api/pkg/ee/crd/migrations/master/migrations.go
  api/pkg/ee/crd/migrations/master/migrations_test.go
  api/pkg/ee/provider/datacenter.go
  api/pkg/provider/datacenter.go
  api/pkg/provider/datacenter_ce.go
  api/pkg/provider/datacenter_ee.go
  api/pkg/provider/datacenter_test.go
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

[release/v2.14] use kubermatic/api-ce repository for Community Edition (#5419)
  api/Makefile
  api/cmd/kubermatic-operator/main.go
  api/hack/push_image.sh
  api/pkg/controller/operator/common/defaults.go
  api/pkg/controller/operator/common/defaults_ce.go
  api/pkg/controller/operator/common/defaults_ee.go
  api/pkg/resources/resources.go
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

[release/v2.14] use kubermatic/api-ce repository for Community Edition (#5419) (#5461)
  api/Makefile
  api/cmd/kubermatic-operator/main.go
  api/hack/push_image.sh
  api/pkg/controller/operator/common/defaults.go
  api/pkg/controller/operator/common/defaults_ce.go
  api/pkg/controller/operator/common/defaults_ee.go
  api/pkg/resources/resources.go
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Use controller runtime impersonation client for SSH provider
  api/cmd/kubermatic-api/main.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/cluster/cluster_test.go
  api/pkg/handler/v1/ssh/ssh_test.go
  api/pkg/provider/kubernetes/ssh.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Use controller runtime impersonation client for SSH provider (#5464)
  api/cmd/kubermatic-api/main.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/cluster/cluster_test.go
  api/pkg/handler/v1/ssh/ssh_test.go
  api/pkg/provider/kubernetes/ssh.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Use controller runtime impersonation client for SA provider
  api/cmd/kubermatic-api/main.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/serviceaccount/sa_test.go
  api/pkg/provider/kubernetes/sa.go
  api/pkg/provider/kubernetes/sa_test.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Use controller runtime impersonation client for SA provider (#5465)
  api/cmd/kubermatic-api/main.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/serviceaccount/sa_test.go
  api/pkg/provider/kubernetes/sa.go
  api/pkg/provider/kubernetes/sa_test.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Fix conformance tester public key check
  api/hack/ci/ci-run-conformance-tester.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Fix conformance tester public key check (#5468)
  api/hack/ci/ci-run-conformance-tester.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

added dashboard part of the changelog
  CHANGELOG.md
Due: none

added machine-controller entries to the changelog
  CHANGELOG.md
Due: none

[EE] switch Docker repository logic for Kubermatic
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

update Helm charts
  config/kubermatic-operator/Chart.yaml
  config/kubermatic-operator/values.yaml
  config/kubermatic/Chart.yaml
  config/kubermatic/values.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io

adjust CI scripts to the new Docker repositories
  api/hack/ci/ci-run-offline-test.sh
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/hack/push_image.sh
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

update fixtures
  api/Makefile
  api/pkg/resources/test/fixtures/deployment-aws-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.15.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.16.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.17.0-usercluster-controller.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.18.0-usercluster-controller.yaml
  api/pkg/resources/test/load_files_test.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

let the proposal reflect the end state, rather than the first step
  docs/proposals/go-modules.md
Due: pre-kubermatic-verify-yaml-examples

remove unused oidc-proxy-client and other deprecated stuff
  api/hack/ci/ci-kind-e2e.sh
  api/hack/ci/ci-run-conformance-tester.sh
  api/hack/ci/testdata/oauth_values.yaml
  api/pkg/test/e2e/api/utils/oidc-proxy-client/Makefile
  api/pkg/test/e2e/api/utils/oidc-proxy-client/main.go
  api/pkg/test/e2e/api/utils/oidc-proxy-client/templates.go
  api/pkg/test/e2e/api/utils/oidc_client.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

remove unused oidc-proxy-client and other deprecated stuff (#5471)
  api/hack/ci/ci-kind-e2e.sh
  api/hack/ci/ci-run-conformance-tester.sh
  api/hack/ci/testdata/oauth_values.yaml
  api/pkg/test/e2e/api/utils/oidc-proxy-client/Makefile
  api/pkg/test/e2e/api/utils/oidc-proxy-client/main.go
  api/pkg/test/e2e/api/utils/oidc-proxy-client/templates.go
  api/pkg/test/e2e/api/utils/oidc_client.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Use controller runtime impersonation client for cluster provider
  api/cmd/kubermatic-api/main.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/cluster/cluster_test.go
  api/pkg/handler/v1/project/project_test.go
  api/pkg/provider/kubernetes/cluster.go
  api/pkg/provider/kubernetes/cluster_test.go
  api/pkg/provider/kubernetes/util_test.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Use controller runtime impersonation client for cluster provider (#5472)
  api/cmd/kubermatic-api/main.go
  api/pkg/handler/test/helper.go
  api/pkg/handler/v1/cluster/cluster_test.go
  api/pkg/handler/v1/project/project_test.go
  api/pkg/provider/kubernetes/cluster.go
  api/pkg/provider/kubernetes/cluster_test.go
  api/pkg/provider/kubernetes/util_test.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Update Dashboard dependencies to use dashboard-ee by default
  api/pkg/resources/resources_ce.go
  api/pkg/resources/resources_ee.go
  config/kubermatic/Chart.yaml
  config/kubermatic/values.yaml
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

update dashboard repo in Kubermatic Helm chart
  config/kubermatic/values.yaml
Due: pre-kubermatic-verify-charts, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io

add Flatcar Linux to the API (#5368)
  .prow.yaml
  api/Gopkg.lock
  api/cmd/conformance-tests/main.go
  api/cmd/conformance-tests/os.go
  api/cmd/conformance-tests/runner.go
  api/cmd/conformance-tests/scenarios_aws.go
  api/cmd/kubermatic-api/swagger.json
  api/pkg/api/v1/types.go
  api/pkg/controller/user-cluster-controller-manager/node-labeler/api/api.go
  api/pkg/machine/convert.go
  api/pkg/machine/util.go
  api/pkg/resources/machine/common.go
  api/pkg/resources/machine/machinedeployment.go
  api/pkg/resources/test/load_files_test.go
  api/pkg/test/e2e/api/utils/apiclient/models/flatcar_spec.go
  api/pkg/test/e2e/api/utils/apiclient/models/operating_system_spec.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/flatcar/flatcar.go
  api/vendor/github.com/kubermatic/machine-controller/pkg/userdata/flatcar/provider.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Cleanup metrics-server for the user-cluster (#5185)
  addons/metrics-server/auth-delegator.yaml
  addons/metrics-server/auth-reader.yaml
  addons/metrics-server/metrics-apiservice.yaml
  addons/metrics-server/metrics-server-deployment.yaml
  addons/metrics-server/metrics-server-service.yaml
  addons/metrics-server/resource-reader.yaml
  api/cmd/seed-controller-manager/options.go
  api/pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/apiservice.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/clusterrole.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/clusterrolebinding.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/external-name-service.go
  api/pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/rolebinding.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Use controller runtime impersonation client for addon provider
  api/cmd/kubermatic-api/main.go
  api/pkg/handler/test/helper.go
  api/pkg/provider/kubernetes/addon.go
  api/pkg/provider/kubernetes/util.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Use controller runtime impersonation client for addon provider (#5476)
  api/cmd/kubermatic-api/main.go
  api/pkg/handler/test/helper.go
  api/pkg/provider/kubernetes/addon.go
  api/pkg/provider/kubernetes/util.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

fix error handling
  api/pkg/handler/v1/cluster/cluster.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration
