Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-kubermatic-chart, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-docs, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18, pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-verify:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 500m
        limits:
          memory: 2.5Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-charts:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-kubermatic-chart:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-kubermatic-chart.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 1Gi
          cpu: 1
      env:
  ...

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m
      env:
      - name: KUBERMATIC_EDITION
  ...

pre-kubermatic-verify-docs:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-docs.sh
      resources:
        requests:
          memory: 1Gi
          cpu: 1
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.23.6
      command:
      - make
      args:
      - -C
      - api
      - lint
      resources:
        requests:
          memory: 10Gi
          cpu: 3
      env:
      - name: KUBERMATIC_EDITION
        value: ee

pre-kubermatic-dependencies:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/dep:0.5.4-2
      command:
      - make
      args:
      - -C
      - api
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m
      env:
  ...

pre-kubermatic-license-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.2.1-1
      command:
      - make
      args:
      - -C
      - api
      - license-validation
      env:
      - name: KUBERMATIC_EDITION
        value: ee

Update preset for openstack (#9043)
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  pkg/apis/kubermatic/v1/preset.go
Due: none

Fix applying incomplete resource requirements (#9045)
  pkg/resources/resources.go
Due: none

fix sets resource requirements. Null pointer exception
  pkg/resources/resources.go
Due: none

improve object check
  pkg/resources/resources.go
Due: none

Add CSI validation for new clusters
  pkg/provider/cloud/nutanix/provider.go
  pkg/validation/cluster.go
Due: none

add endpoint for EKS NodePool VPCs
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/eks/eks_client.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_v_p_cs_no_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_v_p_cs_no_credentials_responses.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

[release/v2.20] Fix applying incomplete resource requirements (#9048)
  pkg/resources/resources.go
Due: none

add credential validation for Hetzner and Equinixmetal
  pkg/provider/cloud/hetzner/provider.go
  pkg/provider/cloud/packet/provider.go
  pkg/provider/kubernetes/credentials.go
Due: none

Add Nutanix csi driver (#8865)
  .prow.yaml
  addons/csi/nutanix/csi-driver.yaml
  addons/csi/nutanix/snapshot-controller.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_nutanix.go
  cmd/kubermatic-api/swagger.json
  cmd/user-cluster-controller-manager/main.go
  docs/zz_generated.addondata.go.txt
  hack/ci/run-conformance-tests.sh
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/preset.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/user-cluster-controller-manager/resources/cloudcontroller/secret.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/csi/secret.go
  pkg/controller/user-cluster-controller-manager/resources/resources/csi/webhook.go
  pkg/provider/cloud/nutanix/provider.go
  pkg/provider/kubernetes/credentials.go
  pkg/provider/kubernetes/preset.go
  pkg/resources/cloudconfig/configmap.go
  pkg/resources/credentials.go
  pkg/resources/resources.go
  pkg/resources/test/fixtures/configmap-vsphere-1.20.0-cloud-config-csi-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.20.0-cloud-config-csi.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.21.0-cloud-config-csi-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.21.0-cloud-config-csi.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-cloud-config-csi-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-cloud-config-csi.yaml
  pkg/resources/usercluster/deployment.go
  pkg/test/e2e/utils/apiclient/models/nutanix_c_s_i_config.go
  pkg/test/e2e/utils/apiclient/models/nutanix_cloud_spec.go
  pkg/validation/cluster.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

add credential validation for Hetzner and Equinixmetal (#9051)
  pkg/provider/cloud/hetzner/provider.go
  pkg/provider/cloud/packet/provider.go
  pkg/provider/kubernetes/credentials.go
Due: none

dereference port and add nil check
  pkg/resources/cloudconfig/configmap.go
Due: none

run storage e2e for nutanix
  cmd/conformance-tests/runner.go
Due: none

Add nutanix default storage class
  addons/default-storage-class/storage-class.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

add endpoint for EKS NodePool InstanceTypes
  cmd/kubermatic-api/swagger.json
  go.mod
  pkg/api/v2/types.go
  pkg/handler/common/provider/eks.go
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/cloud/aws/api.go
  pkg/test/e2e/utils/apiclient/client/eks/eks_client.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_instance_types_no_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_instance_types_no_credentials_responses.go
  pkg/test/e2e/utils/apiclient/models/e_k_s_instance_types.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

Implement Provider Reconciling for KubeVirt
  pkg/provider/cloud/kubevirt/provider.go
  pkg/provider/cloud/kubevirt/reconciler.go
  pkg/provider/cloud/kubevirt/storage.go
  pkg/provider/kubernetes/credentials.go
Due: none

Reconcile kubernetes service endpoints in KKP user-cluster-controller
  codegen/reconcile/main.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/kubernetes/endpoints.go
  pkg/resources/apiserver/deployment.go
  pkg/resources/reconciling/zz_generated_reconcile.go
  pkg/resources/test/fixtures/deployment-aws-1.20.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.21.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-aws-1.22.1-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.20.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.21.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-azure-1.22.1-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.20.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.21.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-bringyourown-1.22.1-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.20.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.21.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.22.1-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-apiserver-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.20.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-apiserver-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.21.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-apiserver-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.22.1-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-apiserver-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.20.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-apiserver-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.21.0-apiserver.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-apiserver-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-vsphere-1.22.1-apiserver.yaml
Due: none

Removed duplicated lines
  pkg/provider/cloud/kubevirt/provider.go
Due: none

Restore correct labels on nodeport-proxy-envoy Deployment
  pkg/resources/nodeportproxy/nodeportproxy.go
Due: none

[release/v2.18] Fix applying incomplete resource requirements (#9050)
  pkg/resources/resources.go
Due: none

[release/v2.19] Fix applying incomplete resource requirements (#9049)
  pkg/resources/resources.go
Due: none

Restore correct labels on nodeport-proxy-envoy Deployment (#9060)
  pkg/resources/nodeportproxy/nodeportproxy.go
Due: none

Use cluster name as cluster-id in cloud-config for vSphere
  pkg/resources/cloudconfig/configmap.go
  pkg/resources/test/fixtures/configmap-vsphere-1.20.0-cloud-config-csi-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.20.0-cloud-config-csi.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.21.0-cloud-config-csi-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.21.0-cloud-config-csi.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-cloud-config-csi-externalCloudProvider.yaml
  pkg/resources/test/fixtures/configmap-vsphere-1.22.1-cloud-config-csi.yaml
  pkg/util/kubectl/kubectl.go
Due: none

Restore correct labels on nodeport-proxy-envoy Deployment (#9062)
  pkg/resources/nodeportproxy/nodeportproxy.go
Due: none

re-enable vsphere integration tests
  hack/run-integration-tests.sh
Due: none

Restore correct labels on nodeport-proxy-envoy Deployment (#9063)
  pkg/resources/nodeportproxy/nodeportproxy.go
Due: none

Restore correct labels on nodeport-proxy-envoy Deployment (#9064)
  pkg/resources/nodeportproxy/nodeportproxy.go
Due: none

add configuration options for nutanix storage class
  addons/default-storage-class/storage-class.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  cmd/kubermatic-api/swagger.json
  docs/zz_generated.addondata.go.txt
  pkg/addon/template.go
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/test/e2e/utils/apiclient/models/nutanix_c_s_i_config.go
Due: pre-kubermatic-verify-docs, pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

rename webhook secret to be more explicit
  addons/csi/nutanix/snapshot-controller.yaml
  pkg/controller/user-cluster-controller-manager/resources/resources/csi/secret.go
  pkg/resources/resources.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

deploy Snapshot CRDs to openstack clusters
  addons/csi/openstack/snapshot-crds.yaml
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18

Implement Provider Reconciling for KubeVirt (#9056)
  pkg/provider/cloud/kubevirt/provider.go
  pkg/provider/cloud/kubevirt/reconciler.go
  pkg/provider/cloud/kubevirt/storage.go
  pkg/provider/kubernetes/credentials.go
Due: none

adjust tests to current reality
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_vsphere.go
  hack/ci/run-conformance-tests.sh
  hack/ci/testdata/seed.yaml
  hack/ci/testdata/seed_backup.yaml
  hack/run-conformance-tests.sh
  hack/run-integration-tests.sh
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/network_test.go
Due: none

remove deprecated stuff, un-deprecated global backup config
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  charts/kubermatic-operator/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/helper/backups.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/defaults/defaults.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/operator/seed/resources/kubermatic/kubermatic.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller_test.go
  pkg/handler/v1/admin/seed.go
  pkg/handler/v1/admin/seed_test.go
  pkg/test/e2e/utils/apiclient/models/etcd_backup_restore.go
  pkg/test/e2e/utils/apiclient/models/seed.go
  pkg/test/e2e/utils/apiclient/models/seed_backup_restore_configuration.go
  pkg/test/e2e/utils/apiclient/models/seed_spec.go
Due: pre-kubermatic-e2e-aws-flatcar-1.16, pre-kubermatic-e2e-aws-flatcar-1.17, pre-kubermatic-e2e-aws-flatcar-1.18, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator

remove handling of cleanup containers in new controllers
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller_test.go
  pkg/test/helper.go
Due: none

Path conditions:
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-kubermatic-chart: any of: ^(api|config)/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-docs: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-flatcar-1.16: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.17: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-aws-flatcar-1.18: any of: (api/|config/kubermatic|addons/|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.18: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.18-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-openshift-4.1: any of: openshift_addons/
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/
