Repository kubermatic/kubermatic: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-charts, pre-kubermatic-verify-grafana-dashboards, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-license-validation, pre-kubermatic-prometheus-rules-validation, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15, pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

pre-kubermatic-build:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - build
      resources:
        requests:
          memory: 2Gi
          cpu: 2
        limits:
          memory: 4Gi

pre-kubermatic-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - test
      resources:
        requests:
          memory: 7Gi
          cpu: 2

pre-kubermatic-verify:
  decorate: true
  spec:
    containers:
    - image: golang:1.12.12
      command:
      - make
      args:
      - -C
      - api
      - verify
      resources:
        requests:
          memory: 1.5Gi
          cpu: 500m
        limits:
          memory: 2.5Gi
          cpu: 1

pre-kubermatic-verify-charts:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-chart-versions.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pre-kubermatic-verify-grafana-dashboards:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/util:1.3.0
      command:
      - ./api/hack/verify-grafana-dashboards.sh
      resources:
        requests:
          memory: 64Mi
          cpu: 50m
        limits:
          memory: 128Mi
          cpu: 250m

pre-kubermatic-verify-yaml-examples:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:12.12-1806-3
      command:
      - ./api/hack/verify-yaml-examples.sh
      resources:
        requests:
          memory: 128Mi
          cpu: 250m

pre-kubermatic-lint:
  decorate: true
  spec:
    containers:
    - image: golangci/golangci-lint:v1.17.1
      command:
      - make
      args:
      - -C
      - api
      - lint
      resources:
        requests:
          memory: 17Gi
          cpu: 3
        limits:
          memory: 17Gi

pre-kubermatic-dependencies:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/dep:0.5.4-2
      command:
      - make
      args:
      - -C
      - api
      - check-dependencies
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m

pre-kubermatic-license-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.2.1-1
      command:
      - make
      args:
      - -C
      - api
      - license-validation

pre-kubermatic-prometheus-rules-validation:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/promtool:2.7.0-3
      command:
      - make
      args:
      - -C
      - config/monitoring
      - check-rules
    imagePullSecrets:
    - name: quay

test update cluster
  api/pkg/test/e2e/api/digitalocean_test.go
  api/pkg/test/e2e/api/runner.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

test update cluster (#5129)
  api/pkg/test/e2e/api/digitalocean_test.go
  api/pkg/test/e2e/api/runner.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Create/update credentials on update and migrations (#5115)
  api/cmd/seed-controller-manager/main.go
  api/pkg/crd/migrations/seed/migrations.go
  api/pkg/crd/migrations/seed/migrations_test.go
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/cluster/cluster.go
  api/pkg/provider/kubernetes/credentials.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

fix linting
  api/cmd/kubermatic-api/swagger.json
  api/pkg/api/v1/types.go
  api/pkg/handler/v1/provider/alibaba.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_instance_type.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Update openvpn container to 2.4.8
  containers/openvpn/Dockerfile
  containers/openvpn/release.sh
Due: none

add VPA config to KubermaticConfiguration
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/pkg/controller/operator/common/defaults.go
  api/pkg/controller/operator/common/versions.go
  api/pkg/controller/operator/common/vpa/admissionctrl.go
  api/pkg/controller/operator/common/vpa/rbac.go
  api/pkg/controller/operator/common/vpa/recommender.go
  api/pkg/controller/operator/common/vpa/updater.go
  api/pkg/controller/operator/master/controller.go
  api/pkg/controller/operator/master/reconciler.go
  api/pkg/controller/operator/seed/controller.go
  api/pkg/controller/operator/seed/reconciler.go
  api/pkg/controller/operator/seed/reconciler_test.go
  api/pkg/crd/operator/v1alpha1/configuration.go
  api/pkg/crd/operator/v1alpha1/zz_generated.deepcopy.go
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

Added dev tag to openvpn container
  containers/openvpn/release.sh
Due: none

add VPA config to KubermaticConfiguration (#5066)
  api/hack/ci/ci-setup-kubermatic-in-kind.sh
  api/pkg/controller/operator/common/defaults.go
  api/pkg/controller/operator/common/versions.go
  api/pkg/controller/operator/common/vpa/admissionctrl.go
  api/pkg/controller/operator/common/vpa/rbac.go
  api/pkg/controller/operator/common/vpa/recommender.go
  api/pkg/controller/operator/common/vpa/updater.go
  api/pkg/controller/operator/master/controller.go
  api/pkg/controller/operator/master/reconciler.go
  api/pkg/controller/operator/seed/controller.go
  api/pkg/controller/operator/seed/reconciler.go
  api/pkg/controller/operator/seed/reconciler_test.go
  api/pkg/crd/operator/v1alpha1/configuration.go
  api/pkg/crd/operator/v1alpha1/zz_generated.deepcopy.go
  docs/zz_generated.kubermaticConfiguration.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-canary-deployment-ci-kubermatic-io, pre-kubermatic-test-integration

update openvpn for openshift
  openshift_addons/openvpn/openvpn-client-dep.yaml
  openshift_addons/release.sh
Due: none

update openvpn for addons
  addons/openvpn/openvpn-client-dep.yaml
Due: none

update openvpn for openshift - removing new tag
  openshift_addons/release.sh
Due: none

Update Prometheus 2.16 (#5141)
  api/pkg/resources/prometheus/statefulset.go
  api/pkg/resources/test/fixtures/statefulset-aws-1.10.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-aws-1.10.6-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-aws-1.11.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-aws-1.11.1-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-aws-1.12.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-aws-1.13.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-azure-1.10.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-azure-1.10.6-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-azure-1.11.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-azure-1.11.1-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-azure-1.12.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-azure-1.13.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-bringyourown-1.10.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-bringyourown-1.10.6-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-bringyourown-1.11.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-bringyourown-1.11.1-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-bringyourown-1.12.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-bringyourown-1.13.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-digitalocean-1.10.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-digitalocean-1.10.6-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-digitalocean-1.11.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-digitalocean-1.11.1-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-digitalocean-1.12.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-digitalocean-1.13.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-openstack-1.10.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-openstack-1.10.6-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-openstack-1.11.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-openstack-1.11.1-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-openstack-1.12.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-openstack-1.13.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-vsphere-1.10.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-vsphere-1.10.6-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-vsphere-1.11.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-vsphere-1.11.1-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-vsphere-1.12.0-prometheus.yaml
  api/pkg/resources/test/fixtures/statefulset-vsphere-1.13.0-prometheus.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-user-cluster-prometheus-config-validation, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Update coredns for user-cluster
  api/pkg/resources/dns/dns.go
  api/pkg/resources/test/fixtures/deployment-aws-1.10.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.10.6-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.1-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.12.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.13.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.6-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.1-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.12.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.13.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.6-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.1-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.12.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.13.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.6-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.1-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.12.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.13.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.6-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.1-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.12.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.13.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.6-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.1-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.12.0-dns-resolver.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.13.0-dns-resolver.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

add alibaba instance types
  api/pkg/api/v1/types.go
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/common/request.go
  api/pkg/handler/v1/provider/alibaba.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Update coredns for addons
  addons/dns/coredns-deployment.yaml
Due: none

Kube-state-metric updated for user-cluster to v1.9.5 (#5139)
  api/pkg/resources/kubestatemetrics/deployment.go
  api/pkg/resources/test/fixtures/deployment-aws-1.10.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.10.6-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.1-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.12.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.13.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.6-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.1-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.12.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.13.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.6-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.1-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.12.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.13.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.6-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.1-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.12.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.13.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.6-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.1-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.12.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.13.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.6-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.1-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.12.0-kube-state-metrics.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.13.0-kube-state-metrics.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

update swagger
  api/cmd/kubermatic-api/swagger.json
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

gen api client
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/alibaba_client.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_instance_types_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_instance_types_no_credentials_responses.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_instance_types_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/alibaba/list_alibaba_instance_types_responses.go
  api/pkg/test/e2e/api/utils/apiclient/client/kubermatic_client.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_instance_type.go
  api/pkg/test/e2e/api/utils/apiclient/models/alibaba_instance_type_list.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

fix typos
  api/pkg/handler/routes_v1.go
  api/pkg/handler/v1/provider/alibaba.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

fix vsphere/alibaba credential migration
  api/pkg/provider/kubernetes/credentials.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

fix typos
  api/cmd/kubermatic-api/swagger.json
  api/pkg/handler/v1/common/request.go
  api/pkg/handler/v1/provider/alibaba.go
  api/pkg/test/e2e/api/utils/apiclient/client/aws/list_a_w_s_sizes_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/aws/list_a_w_s_subnets_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_networks_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/gcp/list_g_c_p_zones_no_credentials_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/delete_cluster_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/get_cluster_health_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/get_cluster_kubeconfig_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/get_cluster_metrics_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/get_cluster_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/get_cluster_upgrades_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/get_oidc_cluster_kubeconfig_parameters.go
  api/pkg/test/e2e/api/utils/apiclient/client/project/list_namespace_parameters.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

fix update cluster
  api/pkg/crd/migrations/seed/migrations.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Fix vsphere/alibaba credential migration (#5147)
  api/pkg/crd/migrations/seed/migrations.go
  api/pkg/provider/kubernetes/credentials.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Update usercluster metrics-server (#5140)
  api/pkg/resources/metrics-server/deployment.go
  api/pkg/resources/test/fixtures/deployment-aws-1.10.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.10.6-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.11.1-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.12.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-aws-1.13.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.10.6-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.11.1-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.12.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-azure-1.13.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.10.6-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.11.1-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.12.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-bringyourown-1.13.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.10.6-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.11.1-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.12.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-digitalocean-1.13.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.10.6-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.11.1-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.12.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-openstack-1.13.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.10.6-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.11.1-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.12.0-metrics-server.yaml
  api/pkg/resources/test/fixtures/deployment-vsphere-1.13.0-metrics-server.yaml
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

api/pkg: Rename func AppClusterLabel to AppClusterLabels
  api/pkg/controller/seed-controller-manager/openshift/data.go
  api/pkg/resources/resources.go
Due: pre-kubermatic-build, pre-kubermatic-test, pre-kubermatic-verify, pre-kubermatic-verify-yaml-examples, pre-kubermatic-lint, pre-kubermatic-dependencies, pre-kubermatic-e2e-aws-coreos-1.15, pre-kubermatic-e2e-aws-coreos-1.17, pre-kubermatic-e2e-aws-openshift-4.1, pre-kubermatic-api-e2e, pre-kubermatic-e2e-operator, pre-kubermatic-test-integration

Path conditions:
  pre-kubermatic-build: any of: ^api/
  pre-kubermatic-test: any of: ^api/
  pre-kubermatic-verify: any of: ^api/
  pre-kubermatic-verify-charts: any of: ^config/
  pre-kubermatic-verify-grafana-dashboards: any of: ^config/monitoring/grafana/
  pre-kubermatic-verify-yaml-examples: any of: ^(api|docs)/
  pre-kubermatic-lint: any of: ^api/
  pre-kubermatic-dependencies: any of: ^api/
  pre-kubermatic-license-validation: any of: vendor
  pre-kubermatic-prometheus-rules-validation: any of: config/monitoring
  pre-kubermatic-user-cluster-prometheus-config-validation: any of: api/pkg/resources/prometheus
  pre-kubermatic-e2e-aws-coreos-1.15: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-vsphere-coreos-1.15: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-vsphere-coreos-1.15-customfolder: any of: api/pkg/provider/cloud/vsphere
  pre-kubermatic-e2e-aws-coreos-1.17: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-aws-openshift-4.1: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-api-e2e: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-e2e-operator: any of: (api/|config/kubermatic|.prow.yaml)
  pre-kubermatic-canary-deployment-ci-kubermatic-io: any of: (api/hack|config/kubermatic|api/pkg/crd/kubermatic/v1)
  pre-kubermatic-test-integration: any of: ^api/
